/* ==========================================================================
   Widgets general start styles
   ========================================================================== */
.qodef-sidebar,
.qodef-side-menu{

  margin-bottom: 50px;

  .widget {
    margin-top: 30px;

    h4 {
      margin-bottom: 15px;
      position: relative;
      padding-left: 18px;
      display: inline-block;
      font-size: 17px;
      font-weight: 700;
      color: #212121;
    }

    h4:before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      display: inline-block;
      background-color: #b2dd4c;
      left: 0;
      @include qodefBorderRadiusPredefined();
      top: 50%;
      @include qodefTransform(translateY(-50%));
    }

    label {
      display: block;
      padding-bottom: 5px;
    }

    ul {
      list-style: none;
    }

    ul > li {
      padding: 10px 0;
      border-bottom: 1px dotted #dfdfdf;
      color: #acacac;
    }

    a {
      color: #acacac;
    }

    a:hover {
      color: $first-main-color;
    }

    ul > li ul > li {
      border-bottom: 0;
    }
  }

  .widget:first-child {
    margin-top: 0;
  }

  .widget.widget_archive select,
  .widget.widget_archive  select option,
  .widget.widget_categories select,
  .widget.widget_text select{
    width: 100%;
    overflow: hidden;
    border: 1px solid #e9e9e9;
    font-size: 13px;
    background-color: #f6f6f5;
    outline: 0;
    color: #7f8385;
    font-family: inherit;
    padding: 9px 12px;
    height: 38px;
    @include qodefBoxSizing(border-box);
  }

  #searchform {

    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    background-color: transparent;
    border: 2px solid #eaeaea;
    @include qodefBorderRadiusPredefined();
    vertical-align: middle;

    label {
      display: none;
    }

   i{
       width: 10%;
       line-height: 44px;
       float: right;
   }

    input[type="text"] {
      display: inline-block;
      text-decoration: none;
      border: 0;
      outline: 0;
      color: #8d8d8d;
      background-color: transparent;
      font-family: inherit;
      margin: 0;
      padding: 0 12px;
      width: 77%;
      height: 44px;
      float: left;
      @include qodefBoxSizing(border-box);
    }

    input[type="submit"] {
      width: 13%;
      height: 44px;
      line-height: 44px;
      display: inline-block;
      margin: 0;
      padding: 0 4%;
      outline: 0;
      border: 0;
      box-sizing: initial;
      text-decoration: none;
      background-color: transparent;
      color: #8d8d8d;
      font-family: 'FontAwesome',sans-serif;
      font-weight: normal;
      text-align: center;
      cursor: pointer;
      white-space: nowrap;
      float: right;
      @include qodefTransition(color 0.2s ease-out);
      font-size: 16px;
    }
  }

  .tagcloud a {
    text-transform: capitalize;
    position: relative;
    letter-spacing: 0.4px;
    font-size: 14px !important;
  }

  .tagcloud a:first-child {
    margin-left: 0;
  }

  .tagcloud a:after {
    content: '';
    width: 100%;
    border-bottom: 1px solid #acacac;
    position: absolute;
    left: 0;
    bottom: 0;
    @include qodefTransition(border-color 0.2s ease-out, color 0.2s ease-out);
  }

  .tagcloud a:hover:after {
    border-color: $first-main-color;
  }

  .widget.widget_recent_comments a{
    color: $first-main-color;
  }

  .widget.widget_recent_comments a:hover{
    color: #535353;
  }
}

.qodef-header-overlapping {
    .qodef-overlapping-top-container {
        .widget_text {
            float: left;
            padding: 0 20px 0 0;
            margin: 0 20px 0 0;
            border-right: 1px solid #dbdbdb;

            &:last-child {
                margin: 0;
                padding: 0;
                border: none;
            }
        }

        .qodef-iwt.qodef-iwt-icon-left .qodef-iwt-content-holder,
        .qodef-iwt.qodef-iwt-icon-left .qodef-iwt-icon-holder {
            width: auto;
        }

        .qodef-iwt .qodef-iwt-title-holder h6{
            line-height:17px;
            font-size:13px;
        }

        .qodef-iwt .qodef-iwt-text-holder{
            font-size:13px;
            line-height:21px;
        }

        .qodef-iwt:not(.qodef-iwt-left-from-title) .qodef-iwt-title-holder {
            margin: 0;
        }
    }
}

.qodef-top-bar{

    .widget{
        display:inline-block;
        vertical-align:middle;
        margin:0 10px 0 0;
    }

    .qodef-position-right{
        .widget{
            &:last-child{
                margin:0;
            }
        }
    }
}

/* Live search style start */

.qodef-search-element {

    #searchform {

        width: 100%;
        box-sizing: border-box;
        display: inline-block;
        overflow: hidden;
        padding: 5px;
        background: rgba(255,255,255,0.2);
        @include qodefBorderRadiusPredefined();
        vertical-align: middle;
        position: relative;

        label {
            display: none;
        }

        input[type="text"] {
            display: inline-block;
            text-decoration: none;
            border: 0;
            outline: 0;
            color: #8d8d8d;
            background-color: #fff;
            font-family: inherit;
            margin: 0;
            width: 100%;
            height: 65px;
            float: left;
            font-size: 18px;
            @include qodefBoxSizing(border-box);
            @include qodefBorderRadiusPredefined();
            padding: 0 65px 0 30px;
        }

        input[type="submit"] {
            width: 65px;
            height: 65px;
            line-height: 65px;
            display: inline-block;
            margin: 0;
            padding: 0;
            outline: 0;
            border: 0;
            box-sizing: initial;
            text-decoration: none;
            background-color: transparent;
            color: #8d8d8d;
            font-family: 'FontAwesome', sans-serif;
            font-weight: normal;
            text-align: center;
            cursor: pointer;
            white-space: nowrap;
            float: right;
            @include qodefTransition(color 0.2s ease-out, background-color 0.2s ease-out);
            font-size: 25px;
            position: absolute;
            right: 5px;
            top: 5px;

            &:hover {
                background-color: #202020;
                color: #fff;
            }
        }
    }

    &.qodef-live-search-enabled {
        #searchform {
            i {
                position: absolute;
                right: 25px;
                top: 50%;
                @include qodefTransform(translateY(-50%));
                font-size: 28px;
            }
        }
    }
}

.dwls_search_results {
    display: block;
    padding: 0 27px 0 27px;
    max-height: 500px;
    //margin: 65px 0 0 0;
    position: absolute;
    left: 0;
    overflow: auto;
    z-index: 9999;
    list-style-type: none;
    list-style-image: none;
    list-style-position: inside;
    border-radius: 0 0 2px 2px;
    border: 1px solid #dadada;
    @include qodefBoxSizing(border-box);
    background-color: #fff;

    @include ipad-landscape {
        margin: 0;
    }

    .admin-bar & {
        //margin: 33px 0 0 0;
        margin-top: -32px;
    }

    li {
        display: block;
        border-bottom: 1px solid #dadada;
        margin: 0 0 0 0;
        text-align: left;
        text-decoration: none;

        p {
            margin: 5px 0 0 0;
        }

        a,
        a:visited {
            display: block;
            margin-left: 0;
            padding: 18px 0;
            text-decoration: none;
            color: #797979;
        }

        a:hover,
        a:visited {
            color: $first-main-color;
        }
    }

    .daves-wordpress-live-search_title {
        span {
            display: block;
        }
        .search-category {
            font-size: 90%;
        }
        .daves-wordpress-live-search_title,
        .daves-wordpress-live-search_title span {
            display: block;
        }
    }
    .daves-wordpress-live-search_author {
        margin: 5px 0 0 0;
        font-size: 90%;
    }
    .daves-wordpress-live-search_date {
        margin: 0;
        font-size: 90%;
    }
    .excerpt,
    .meta {
        width: 100%;
    }
    .search_footer {
        a {
            display: block;
            margin-left: 0;
            padding: 18px 0;
            text-decoration: none;
            color: #797979;
            &:hover,
            &:visited {
                color: $first-main-color;
            }
        }
    }
    .clearfix {
        float: none !important;
        clear: both !important;
    }

}
#search_results_activity_indicator {
    width: 30px;
    height: 30px;
    canvas {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 17px;
        left: 30px;
        background: #fff;

        .admin-bar & {
            top: -13px;
        }
    }
}


/* Live search style end */
/* ==========================================================================
   Widgets general end styles
   ========================================================================== */