/* ==========================================================================
   14.  Main Menu styles start
   ========================================================================== */
.qodef-main-menu {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;



    ul {
        list-style: none outside none;
        margin: 0px;
        padding: 0px;
        text-align: left;

        li {

            position: relative;
            display: inline-block;
            float: left;
            padding: 0px;
            margin: 0px;
            background-repeat: no-repeat;
            background-position: right;

            a {
                font-size: 16px;
                line-height: 34px;
                font-weight: 700;
                color: #727272;
				@include qodefTransition(color 0.2s ease-out);
                body:not(.qodef-menu-with-large-icons) & span.item_inner i:before{
                    margin: 0 7px 0 0;
                }
            }

            &:hover a, &.qodef-active-item a {
                color: $first-main-color;
            }
        }
    }

    > ul {

        display: inline-block;
        vertical-align: middle;
        position: relative;
        height: 100%;

        > li {

            height: 100%;
			margin: 0 2px;

            &:last-child > a span.plus{
                display: none;

            }

            > a{
                .item_outer:before{
                    position:absolute;
                    display:block;
                    top:0;
                    left:0%;
                    content: '';
                    background-color: $first-main-color;
                    height:100%;
                    width:100%;
                    @include qodefBorderRadiusPredefined();
                    opacity:0;
                    -ms-transform: scaleX(0.2);
                    -webkit-transform: scaleX(0.2);
                    transform: scaleX(0.2);
                    -webkit-transition:  -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
                    transition:  transform 0.2s ease-out, opacity 0.2s ease-out;
                    -webkit-backface-visibility:hidden;
                }
            }

           &:hover > a,
            &.qodef-active-item > a {
                color: #fff;
				
				.item_outer{
					background-color: transparent !important;
                    position:relative;
				}

                .item_outer:before{
                    opacity:1;
                    -ms-transform: scaleX(1);
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }

            &.has_sub {
                > a i.q_menu_arrow {
                    display: inline-block;
                    margin-left: 6px;
                }

                > a .item_inner > i.q_menu_arrow{
                    position: relative;
                    left:4px;
                }
            }

            > a {

                height: 100%;
                position: relative;
                padding: 0;
                display: inline-block;
                vertical-align: middle;
                border-style: solid;
                border-width: 0px;
                position: relative;
                border-color: transparent;
                height: 100%;
                background-color: transparent;
				@include qodefTransition(color 0.2s ease-out);

                &:before {
                    height: 2px;
                    bottom: 0px;
                }

                &:after {
                    height: 1px;
                    bottom: 4px;
                }

                body.qodef-menu-with-large-icons &{
                    text-align: center;
                    vertical-align:middle;
                }

                > span.item_outer{
                    display: block;
                    position: relative;
                    top: 50%;
                    @include qodefBorderRadiusPredefined();
					@include qodefTransform(translateY(-50%));
					@include qodefTransition(text-decoration 0.2s ease-out, border-color 0.2s ease-out, background-color 0.2s ease-out);
                }

                span.item_inner {
                    display: inline-block;
                    padding: 0 20px;
                    border-width: 0px;
                    position: relative;
                    border-color: transparent;
                    background-color: transparent;
                    @include qodefBorderRadiusPredefined();
                    -webkit-backface-visibility:hidden;

                    body.qodef-menu-with-large-icons &{
                        text-align: center;
                        vertical-align:middle;
                    }
                }

                span.item_inner:before,
                span.item_inner:after,
                &:before,
                &:after {
                    content: "";
                    display: none;
                    position: absolute;
                    left: 0px;
                    background-color: transparent;
                    -webkit-transition: background-color 0.15s ease-out;
                    transition: background-color 0.15s ease-out;
                    width: 100%;

                }

                span.item_inner:before {
                    bottom: 0px;
                    height: 2px;
                }

                span.item_inner:after {
                    height: 1px;
                    bottom: 4px;
                }

                body.qodef-menu-with-large-icons & span.item_inner i{
                    display: inline-block;
                    width:100%;
                    vertical-align:middle;
                }

                span.plus{
                    width: 4px;
                    height:4px;
                    display: none;
                    position:absolute;
                    top:50%;
                    right:-2px;
                    margin-top: -2px;
                    z-index:1;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                span.item_text{
                    -webkit-backface-visibility:hidden;
                }

                > i.blank{
                    display: none;
                }
            }
        }
    }

    body:not(.qodef-menu-with-large-icons) & .qodef-drop-down .wide.icons .second i:before {
        margin: 0;
    }
}

.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header) .qodef-main-menu > ul > li,
.qodef-light-header.qodef-header-style-on-scroll .qodef-page-header .qodef-main-menu > ul > li {

	> a {
		color: $header-light-color;
	}

}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header) .qodef-main-menu > ul > li,
.qodef-dark-header.qodef-header-style-on-scroll .qodef-page-header .qodef-main-menu > ul > li {

	> a {
		color: $header-dark-color;
	}

}


/* Narrow drop down styles
   ========================================================================== */
.qodef-drop-down ul{
    list-style: none;
    border-radius: 0 0 3px 3px;
}

.qodef-drop-down ul li{
    position: relative;
}

header.transparent.fixed.scrolled .qodef-drop-down .second,
header.transparent.fixed_hiding.scrolled .qodef-drop-down .second{
    top: 100%;
}

.qodef-drop-down .second {
    left: 0;
    margin: 0;
    top: 100%;
    position: absolute;
    display: block;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    z-index: 10;
    border-top: 7px solid $first-main-color;
    -webkit-transition: top 0.15s ease-out;
    -moz-transition: top 0.15s ease-out;
    -ms-transition: top 0.15s ease-out;
    -o-transition: top 0.15s ease-out;
    transition: top 0.15s ease-out;
}

.qodef-menu-area .qodef-featured-icon,
.qodef-sticky-nav .qodef-featured-icon{
    position:relative;
    font-size: 10px;
    position: relative;
    top: -5px;
    margin-left: 2px;
    color: $first-main-color;
}

.qodef-menu-area .qodef-featured-icon.text,
.qodef-sticky-nav .qodef-featured-icon.text{
    top:-7px;
    font-size:12px;
    margin-left:5px;
}

.qodef-main-menu>ul>li>a .qodef-featured-icon{
    display:none;
}


header.transparent:not(.sticky) .qodef-drop-down .second {
    top: 75%;
}

header.transparent.with_border:not(.sticky) .qodef-drop-down .second,
header.transparent.qodef-menu-item-first-level-bg-color:not(.sticky) .qodef-drop-down .second {
    top: 100%;
}

.qodef-drop-down li.left_position .second{
    left: 0px;
}
/*
header.transparent .qodef-drop-down li:not(.right_position):not(.left_position) .second:not(.right) {
    left: 16px;
}
*/
header.transparent.qodef-menu-item-first-level-bg-color .qodef-drop-down .second:not(.right) {
    left: 0;
}

.qodef-drop-down li.right_position .second {
    left: auto;
    right: 0;
}

.qodef-drop-down .second.qodef-drop-down-start{
    visibility: visible;
    overflow: visible;
    opacity: 1;
    transition:opacity 0.2s ease-out;
    -webkit-transition:opacity 0.2s ease-out;
}

.qodef-drop-down > ul > li:hover > .second{
    z-index: 20;
}

.qodef-drop-down .second .inner{
    position: relative;
    padding: 0px;
    display: block;
    z-index: 997;
}

.qodef-drop-down .narrow .second i{
    display: inline-block;
    vertical-align: middle;
    color: inherit;
}

.qodef-drop-down .second .inner > ul,
li.narrow .second .inner ul {
    display:inline-block;
    position: relative;
    background-color: #fff;
}


li.narrow .second .inner ul{
    padding: 3px 0;
}

.qodef-drop-down .second .inner ul li {
    display: block;
    padding: 0 15px;
	margin:20px 0;
    position: relative;
    float: none;
    height: auto;
    background: 0;
    width: 190px;
    -webkit-transition: background-color 0.15s ease-out;
	transition: background-color .15s ease-out;

}

li.narrow .second .inner ul li:last-child {
    border-bottom: none;
}

.qodef-drop-down .wide.left_position .second ul li,
.qodef-drop-down .wide.right_position .second ul li {
    width: 180px;
}

.qodef-drop-down .narrow .second .inner ul li {
    padding: 0;
    width: 215px;
    -webkit-transition: background-color 0.15s ease-out;
    -moz-transition: background-color 0.15s ease-out;
    -ms-transition: background-color 0.15s ease-out;
    -o-transition: background-color 0.15s ease-out;
}

.qodef-drop-down .second .inner ul li a,
.qodef-drop-down .second .inner ul li h4{
    display: block;
    color: #969696;
    height: auto;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    margin: 0;
    padding: 0 25px;
    -webkit-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
    border-bottom: 1px solid transparent;
    float:none;
	position:relative;
}
.qodef-drop-down .second .inner ul li a{
    -webkit-transition: padding 0.2s cubic-bezier(0.22, 0.61, 0.36, 1), color 0.2s ease-out;
    transition: padding 0.2s cubic-bezier(0.22, 0.61, 0.36, 1), color 0.2s ease-out;
}

.qodef-drop-down .second .inner > ul > li:hover > a,
.qodef-drop-down .second .inner ul li.sub ul li:hover > a{
    padding-left: 30px;
}

.qodef-drop-down .second .inner ul li a:before{
	content:'';
	display:block;
	width:4px;
	height:100%;
	background-color:$first-main-color;
	position:absolute;
	left:0;
	top:0;
	opacity:1;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.qodef-drop-down .second .inner > ul > li:hover > a:before,
.qodef-drop-down .second .inner ul li.sub ul li:hover > a:before{
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}


.qodef-drop-down .second .inner > ul > li:last-child > a,
.qodef-drop-down .second .inner > ul > li > ul > li:last-child > a,
.qodef-drop-down .second .inner > ul > li > ul > li > ul > li:last-child > a {
    border-bottom: 0;
}

.qodef-drop-down .second .inner > ul > li:hover > a,
.qodef-drop-down .second .inner ul li.sub ul li:hover > a{
    color: $first-main-color;
}


.qodef-drop-down .wide .second ul li a,
.qodef-drop-down .wide .second .inner ul li.sub a,
.qodef-drop-down .wide .second .inner ul li h4{
    background: 0;
}

.qodef-drop-down .wide .second i{
    display:none;
}

.qodef-drop-down .narrow .second .inner ul li ul{
    position: absolute;
    left: 100%;
    top: -23px; /* same as padding in father ul */
    height: auto;
    opacity:0;
    -webkit-transition:opacity 0.4s;
    transition: opacity 0.4s;
    overflow: hidden;
    z-index: 10;
    -webkit-transform: translateZ(0);
}

.qodef-drop-down .second .inner ul li:hover ul{
    z-index: 20;
    opacity:1;
}

.qodef-drop-down .second .inner ul li ul li:hover ul{
    z-index: 20;
    opacity:1 !important;
    display:block !important;
    visibility: visible !important;
}

/* slide_from_bottom start */

body.qodef-dropdown-slide-from-bottom .qodef-drop-down .second {
    overflow: visible;
    -webkit-transition: top 0.15s ease-out, opacity 0.2s ease-out, height 0s ease-out 0.5s;
    transition: top 0.15s ease-out, opacity 0.2s ease-out, height 0s ease-out 0.5s;
}

body.qodef-dropdown-slide-from-bottom .qodef-drop-down .wide .second .inner > ul,
body.qodef-dropdown-slide-from-bottom .qodef-drop-down .narrow .second .inner > ul {
    top:30px;
    -webkit-transition:all 0.3s cubic-bezier(.39,.575,.565,1);
    transition:all 0.3s cubic-bezier(.39,.575,.565,1);
}
body.qodef-dropdown-slide-from-bottom .qodef-drop-down .narrow .second .inner ul li ul{
    top: 22px;
    -webkit-transition:all 0.3s cubic-bezier(.39,.575,.565,1);
    transition: all 0.3s cubic-bezier(.39,.575,.565,1);
}

body.qodef-dropdown-slide-from-bottom .qodef-drop-down .wide .second.qodef-drop-down-start .inner > ul,
body.qodef-dropdown-slide-from-bottom .qodef-drop-down .narrow .second.qodef-drop-down-start .inner > ul {
    top:0;
}
body.qodef-dropdown-slide-from-bottom .qodef-drop-down .narrow .second .inner ul li:hover ul{
    top: -1px; /* same as padding in father ul */
}

/* slide_from_bottom end */


/* slide_from_top start */

body.qodef-dropdown-slide-from-top .qodef-drop-down .second {
    overflow: visible;
    -webkit-transition: top 0.15s ease-out, opacity 0.2s ease-out, height 0s ease-out 0.5s;
    transition: top 0.15s ease-out, opacity 0.2s ease-out, height 0s ease-out 0.5s;
}

body.qodef-dropdown-slide-from-top .qodef-drop-down .wide .second .inner > ul,
body.qodef-dropdown-slide-from-top .qodef-drop-down .narrow .second .inner > ul {
    top:-30px;
    -webkit-transition:all 0.3s cubic-bezier(.39,.575,.565,1);
    transition:all 0.3s cubic-bezier(.39,.575,.565,1);
}
body.qodef-dropdown-slide-from-top .qodef-drop-down .narrow .second .inner ul li ul{
    top: -22px;
    -webkit-transition:all 0.3s cubic-bezier(.39,.575,.565,1);
    transition: all 0.3s cubic-bezier(.39,.575,.565,1);
}

body.qodef-dropdown-slide-from-top .qodef-drop-down .wide .second.qodef-drop-down-start .inner > ul,
body.qodef-dropdown-slide-from-top .qodef-drop-down .narrow .second.qodef-drop-down-start .inner > ul {
    top:0;
}
body.qodef-dropdown-slide-from-top .qodef-drop-down .narrow .second .inner ul li:hover ul{
    top: -1px; /* same as padding in father ul */
}

/* slide_from_top end */

/* slide_from_left start */

body.qodef-dropdown-slide-from-left .qodef-drop-down .second {
    overflow: visible;
    -webkit-transition: top 0.2s ease-out, opacity 0.2s ease-out, height 0s ease-out 0.4s;
    transition: top 0.2s ease-out, opacity 0.2s ease-out, height 0s ease-out 0.4s;
}

body.qodef-dropdown-slide-from-left .qodef-drop-down .wide .second .inner > ul,
body.qodef-dropdown-slide-from-left .qodef-drop-down .narrow .second .inner > ul {
    left:-30px;
    -webkit-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
}
body.qodef-dropdown-slide-from-left .qodef-drop-down .narrow .second .inner ul li ul{
    left: calc(100% - 30px);
    -webkit-transition:all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

body.qodef-dropdown-slide-from-left .qodef-drop-down .wide .second.qodef-drop-down-start .inner > ul,
body.qodef-dropdown-slide-from-left .qodef-drop-down .narrow .second.qodef-drop-down-start .inner > ul {
    left:0;
}
body.qodef-dropdown-slide-from-left.qodef-drop-down .narrow .second .inner ul li:hover ul{
    left: 100%;
}

/* slide_from_left end */


.qodef-drop-down .second.right {
    right: 0px;
    left: auto;
}

.qodef-drop-down .second .inner ul.right li a,
.qodef-drop-down .second .inner ul.right li h4{
    text-align: right;
}

.qodef-drop-down .second .inner ul.right li ul{
    left: -100%;
}

.qodef-drop-down .second .inner ul li.sub ul li a,
.qodef-drop-down .second .inner ul.right li.sub ul li a{
    background: none;
}

.qodef-drop-down .second .inner .widget{
    padding: 0px 28px;
}

.qodef-drop-down .second .inner .widget.widget_qode_latest_posts_menu_widget{
    padding: 0px 20px;
}


/*---------------drop down animate height--------------*/


.qodef-dropdown-animate-height{

    
}

/*--------------drop down animate height end------------*/



/* Wide drop down styles
   ========================================================================== */
.qodef-drop-down .wide .second ul{
    padding: 37px 0 26px;
}

.qodef-drop-down .wide .second ul li{
    float: left;
    width: 274px;
    padding: 0px;
    border-left: 1px solid #d3d3d3;
    border-bottom: 0;
    box-sizing: border-box;
    width: 100%;
}

.qodef-drop-down .wide .second > .inner > ul{
    width: 1100px;
}

.qodef-grid-1300 .qodef-drop-down .wide .second > .inner > ul{
    width: $grid-width-1300;
}

.qodef-grid-1200 .qodef-drop-down .wide .second > .inner > ul{
    width: $grid-width-1200;
}

.qodef-grid-1000 .qodef-drop-down .wide .second > .inner > ul{
    width: $grid-width-1000;
}

.qodef-grid-800 .qodef-drop-down .wide .second> .inner > ul{
    width: $grid-width-800;
}

.qodef-drop-down .wide .second > .inner > ul > li{
    width: 25%;
	margin:0;
}

.qodef-drop-down .wide .second > .inner > ul > li:hover > a{
    padding-left:25px;
}

.qodef-drop-down .wide .second > .inner > ul > li > a:before{
	display:none;
}

.qodef-drop-down .wide:not(.right_position) .second ul li:first-child,
.qodef-drop-down .wide:not(.right_position) .second ul li:nth-child(4n+1),
.qodef-drop-down .wide.right_position .second ul li:last-child,
.qodef-drop-down .wide.right_position .second ul li:nth-child(4n){
    border-left-color: transparent;
}

.qodef-drop-down .wide .second ul li:last-child {
    margin-right: 0;
}

.qodef-drop-down .wide.right_position .second ul li{
    float: right;
}

.qodef-drop-down .wide .second ul li:hover{
    background-color: transparent;
}

.qodef-drop-down .wide .second ul li:nth-child(4n+1){
    clear: both;
}

.qodef-drop-down .second .inner ul li.sub a i.q_menu_arrow{
    position: absolute;
    top: 50%;
    right: 25px;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    font-size: inherit;
    margin: -6px 0 0;
}

.qodef-drop-down .second .inner ul li.sub ul li a i.q_menu_arrow,
.qodef-drop-down .wide .second .inner ul li.sub a i.q_menu_arrow {
    display: none;
}

.qodef-drop-down .second .inner ul.right li.sub a i.q_menu_arrow{
    right: auto;
    left: 25px;
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.qodef-drop-down .wide .second .inner > ul > li > a{
    line-height: 16px;
    color: #16171d;
    font-weight: 700;
    font-size: 16px;
	padding-bottom: 4px;
}

.qodef-drop-down .wide .second .inner > ul > li > a:hover{
  color: #16171d;
}

.qodef-drop-down .wide .second .inner ul li.sub h4 a,
.qodef-drop-down .wide .second .inner ul li h4 a{
    padding: 0px !important;
}

.qodef-drop-down .wide .second ul li ul{
    display: block;
    left: 0;
    padding: 10px 0 0;
    position: relative;
    top: 0;
    visibility: visible;
    background-color: transparent !important;
}

.qodef-drop-down .wide .second ul li ul .widget{
    padding: 0px 18px;
}

.qodef-drop-down .wide .second ul li ul li{
    padding: 0;
    margin: 10px 0;
    border: 0;
}

.qodef-drop-down .wide .second ul li ul li.menu-item-has-children > a,
.qodef-drop-down .wide .second ul li ul li.menu-item-has-children > a:hover{
    border-bottom: 0 none;
    color: #393939;
}

/* Wide drop down with full width background styles
   ========================================================================== */
.qodef-drop-down .wide.wide_background .second{
    background-color: #fff;
}

.qodef-drop-down .wide.wide_background .second .inner{
    text-align:center;
}

.qodef-drop-down .wide.wide_background .second .inner ul{
    text-align:left;
}


/* Wide with icons drop down styles
   ========================================================================== */
.qodef-drop-down .wide.icons .second ul li a .item_text{
    position: relative;
}

.qodef-drop-down .wide.icons .second i{
    width: 24px;
    height: auto;
    float: left;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    line-height: inherit;
    padding:0 1px;
}

.qodef-drop-down .wide.icons  .second i.blank{
    background: none;
    border: 0px;
    display:none;
}

/* Begining of menu latest post widget styles
========================================================================== */

.qodef-drop-down .wide .second ul li div.flexslider li:nth-child(4n+1){
    clear: none;
}
.qodef-drop-down .wide .second ul li .flexslider ul {
    padding:0;
    border:none;
}
.qodef-drop-down .wide .second .inner ul li.sub .flexslider ul li a:hover,
.qodef-drop-down .wide .second ul li .flexslider ul li  a:hover {
    color: $first-main-color;
}

.qodef-drop-down .wide .second .inner ul li .flexslider.widget_flexslider .menu_recent_post_text a,
.qodef-drop-down .wide .second .inner ul li .flexslider.widget_flexslider a{
    display: inline-block;
    margin: 0;
}

.qodef-drop-down .wide .second .inner ul li .flexslider.widget_flexslider > a{
    vertical-align: middle;
}

.qodef-drop-down .wide .second ul li ul.flex-direction-nav a{
    position:absolute;
    top:0;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border:none;
    margin:0px 0 0 0;
}
.qodef-drop-down .wide .second ul li ul.flex-direction-nav{
    position:absolute;
    top:50%;
    overflow:visible;
    width: 100%;
}
.qodef-drop-down .wide .second ul li div.flexslider{
    margin: 0 !important;
}

.qodef-drop-down .wide .second ul li .flexslider.widget_flexslider ul.flex-direction-nav li{
    width:100%;
}

.flexslider.widget_flexslider ul.flex-direction-nav a.flex-prev,
.qodef-drop-down .wide .second .inner ul li.sub .flexslider.widget_flexslider ul.flex-direction-nav a.flex-prev{
    left:0;
    height:15px;
    width:15px;
    line-height: 15px;
    padding:0;
}

.flexslider.widget_flexslider ul.flex-direction-nav a.flex-next,
.qodef-drop-down .wide .second .inner ul li.sub .flexslider.widget_flexslider ul.flex-direction-nav a.flex-next{
    right:0;
    height:15px;
    width:15px;
    line-height: 15px;
    padding:0;
}
.qodef-drop-down .wide .second .inner ul li.sub .flexslider.widget_flexslider .menu_recent_post_text {
    padding: 10px 0;
}
.qodef-drop-down .wide .second .inner ul li.sub .flexslider.widget_flexslider .menu_recent_post_text a{
    display: inline;
    padding: 0;
    color:#000;
}

.qodef-drop-down .wide .second .inner ul li.sub .flexslider.widget_flexslider .menu_recent_post_text a:hover{
    color:$first-main-color;
}

.qodef-drop-down .wide .second .inner ul li.sub .flexslider.widget_flexslider a, .qodef-drop-down .wide .second ul li .flexslider.widget_flexslider a{
    padding: 0;
    text-align: center;
}

/* ==========================================================================
   End of menu latest post widget styles
   ========================================================================== */

/* ==========================================================================
   14.  Main Menu styles end
   ========================================================================== */