/* ==========================================================================
19. Footer style - begin
========================================================================== */

footer {
	display: block;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	position: relative;
	@include qodefBoxSizing(border-box);

	.qodef-footer-inner {
		position: relative; /* for triangle back to top and ajax transitions */
	}

	.qodef-container {
		background-color: inherit;
	}

	.qodef-container-inner {
		position: relative;
	}

	.qodef-container-inner > .widget{
		text-align: center;
	}

	a {
		text-decoration: none;
	  	color: #fff;
	}

  	a:hover {
	  color: $first-main-color;
	}

	.qodef-footer-ingrid-border-holder-outer {
		background-color: #393939;
	}

	.qodef-footer-top-border-holder,
	.qodef-footer-bottom-border-holder {
		position: relative;
		display: block;
		width: 100%;
	}

	.qodef-footer-top-border-holder.qodef-in-grid,
	.qodef-footer-bottom-border-holder.qodef-in-grid {
		width: 1100px;
		margin: 0 auto;
	}

	.qodef-footer-top-holder {
		display: block;
		background-color: #212121;
		position:relative;
		background-position:center center;
		background-size: cover;
	}

	.qodef-footer-top:not(.qodef-footer-top-full) .qodef-container-inner {
		padding: 70px 0;
	}

	.qodef-footer-top.qodef-footer-top-full {
		padding: 65px 25px;
	}

  	.qodef-footer-top {

	  .qodef-column{
		box-sizing: border-box;
		border-right: 1px solid #3b3b3b;
	  }

	  .qodef-column {
		padding: 0 40px;
	  }

	  .qodef-column:first-child {
		padding-left: 70px;
	  }

	  .qodef-column:last-child {
		border-right: 0;
		padding-right: 85px;
	  }

	}

	.qodef-footer-bottom-holder {
		display: inline-block;
		width: 100%;
		background-color: #303030;
		vertical-align: middle;
		text-align: center;
	  	padding: 30px 0;

		.qodef-column-inner {
			text-align: center;
			vertical-align: middle;
		}

		.qodef-three-columns .qodef-column:first-child .qodef-column-inner {
			text-align: left;
		}

		.qodef-three-columns .qodef-column:last-child .qodef-column-inner {
			text-align: right;
		}

		.qodef-two-columns-50-50 .qodef-column:first-child .qodef-column-inner {
			text-align: left;
		}

		.qodef-two-columns-50-50 .qodef-column:last-child .qodef-column-inner {
			text-align: right;
		}

		.qodef-footer-bottom-border-bottom-holder {
			clear: both;
		}

	}

  /*Footer contact form email style*/
  input.wpcf7-form-control.wpcf7-submit {
	font-family: 'simple-line-icons', sans-serif;
	font-size: 20px;
	color: #fff;
	padding: 0 8px;
	height: 40px;
	line-height: 36px;
	@include qodefBorderRadius(0 3px 3px 0);
	display: inline-block;
	width: 40px;
	vertical-align: top;
  }

  input.wpcf7-form-control.wpcf7-submit:hover {
	background-color: $first-main-color;
	border-color: $first-main-color;
	color: #fff;
  }

  input.wpcf7-form-control.wpcf7-text.wpcf7-email {
	font-size: 13px;
	@include qodefBorderRadius(3px 0 0 3px);
	display: inline-block;
	width: 80%;
	margin-bottom:0;
	vertical-align: top;
	height: 40px;
	line-height: 40px;
	background-color: transparent;
	color: #fff;
	border: 1px solid #B4B4B4;
	border-right: 0;
  }

  div.wpcf7 img.ajax-loader {
	display: none;
  }

    /* Footer subscribe form style start */

    .qodef-subscription-form {
        position: relative;

        input.wpcf7-form-control{
            &.wpcf7-text,
            &.wpcf7-number,
            &.wpcf7-date,
            &.wpcf7-textarea,
            &.wpcf7-select,
            &.wpcf7-quiz{
                width: 100%;
                padding-right: 50px;
                @include qodefBorderRadiusPredefined();
            }
        }

        input.wpcf7-form-control {
            &.wpcf7-submit {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    /* Footer subscribe form style end */

  /* WebKit, Blink, Edge */
  input.wpcf7-form-control.wpcf7-text.wpcf7-email::-webkit-input-placeholder {
	color: #fff;
  }
  /* Mozilla Firefox 4 to 18 */
  input.wpcf7-form-control.wpcf7-text.wpcf7-email:-moz-placeholder {
	color:    #fff;
	opacity:  1;
  }
  /* Mozilla Firefox 19+ */
  input.wpcf7-form-control.wpcf7-text.wpcf7-email::-moz-placeholder {
	color:    #fff;
	opacity:  1;
  }
  /* Internet Explorer 10-11 */
  input.wpcf7-form-control.wpcf7-text.wpcf7-email:-ms-input-placeholder {
	color:    #fff;
  }

}

/* Footer uncover - begin
========================================================================== */

footer.qodef-footer-uncover {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 99;
	@include qodefTransition(left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1));

	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date,
	.cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea,
	.cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz {
		transform: none;
	}

}

.qodef-right-side-menu-opened footer.qodef-footer-uncover {
	left: -270px;
}

/* Footer uncover - end
========================================================================== */

/* Footer boxed - begin
========================================================================== */

.boxed footer {
	width: 100% !important;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

/* Footer boxed - end
========================================================================== */

/* Footer disabled - begin
========================================================================== */

footer.qodef-disable-footer {
	display: none;
}

/* Footer disabled - end
========================================================================== */


/* ==========================================================================
# Footer style - end
========================================================================== */

/* ==========================================================================
# Footer widgets - begin
========================================================================== */

footer .widget {
	margin-bottom: 20px;

	.qodef-footer-widget-title {
		color: #ffffff;
		margin-bottom: 25px;
		font-size: 22px;
		font-weight: 700;
	}

  	h4 {
		color: #ffffff;
		margin-bottom: 25px;
		font-size: 22px;
		font-weight: 700;
	}

	ul {
		list-style: none;
	}

	select,
	input[type="text"] {
		width: 100%;
		overflow: hidden;
		border: 1px solid #e9e9e9;
		background-color: #f6f6f5;
		padding: 0 10px;
		height: 35px;
		outline: none;
		color: #7f8385;
		font-family: inherit;
		@include qodefBoxSizing(border-box);
	}

	#searchform {

	   width: 100%;
	   box-sizing: border-box;
	   display: inline-block;
	   overflow: hidden;
	   background-color: transparent;
	   border: 2px solid #eaeaea;
	   @include qodefBorderRadiusPredefined();
	   vertical-align: middle;

	   label {
		 display: none;
	   }

	   input[type="text"] {
		 display: inline-block;
		 text-decoration: none;
		 border: 0;
		 outline: 0;
		 color: #8d8d8d;
		 background-color: transparent;
		 font-family: inherit;
		 margin: 0;
		 padding: 0 12px;
		 width: 77%;
		 height: 44px;
		 float: left;
		 @include qodefBoxSizing(border-box);
	   }

	   input[type="submit"] {
		 width: 13%;
		 height: 44px;
		 line-height: 44px;
		 display: inline-block;
		 margin: 0;
		 padding: 0 4%;
		 outline: 0;
		 border: 0;
		 box-sizing: initial;
		 text-decoration: none;
		 background-color: transparent;
		 color: #8d8d8d;
		 font-family: 'FontAwesome',sans-serif;
		 font-weight: normal;
		 text-align: center;
		 cursor: pointer;
		 white-space: nowrap;
		 float: right;
		 @include qodefTransition(color 0.2s ease-out);
		 font-size: 16px;
	   }
	 }

	.tagcloud a {
	  text-transform: capitalize;
	  position: relative;
	  letter-spacing: 0.4px;
	  font-size: 14px !important;
	}

	.tagcloud a:first-child {
	  margin-left: 0;
	}

	.tagcloud a:after {
	  content: '';
	  width: 100%;
	  border-bottom: 1px solid #acacac;
	  position: absolute;
	  left: 0;
	  bottom: 0;
	  @include qodefTransition(border-color 0.2s ease-out, color 0.2s ease-out);
	}

	.tagcloud a:hover:after {
	  border-color: $first-main-color;
	}

	label {
	  display: block;
	  padding-bottom: 5px;
	}

  .textwidget {
	  color: #a2a2a2;
  }

}

footer .qodef-footer-top-holder .widget {
  &.widget_recent_entries {
	li {
	  border-bottom: 1px dotted #404040
	}

	li a {
	  color: #a2a2a2;
	  padding: 6px 0;
	  display: inline-block;
	  width: 100%;
	  position: relative;
	}

	li a:before {
	  content: "";
	  display: inline-block;
	  height: 48%;
	  position: absolute;
	  left: -10px;
	  border-left: 3px solid #b2dd4c;
	  top: 50%;
	  transform: translateY(-50%);
	  transition: opacity 0.15s ease-out;
	  opacity: 0;
	}

	li a:hover {
	  color: #fff;
	}

	li a:hover:before {
	  opacity: 1;
	}
  }

  .qodef-icon-shortcode.square {
	@include qodefBorderRadius(0);
  }

  .qodef-icon-shortcode.square:first-of-type {
	@include qodefBorderRadius(3px 0 0 3px);
  }

  .qodef-icon-shortcode.square:last-of-type {
	@include qodefBorderRadius(0 3px 3px 0);
  }
}

footer .qodef-footer-bottom-holder .widget {

  	margin-bottom: 0;

	.qodef-footer-widget-title {
		color: #7f8385;
	}
}

/* ==========================================================================
19. Footer widgets - end
========================================================================== */

