/* ==========================================================================
22. Search style - begin
========================================================================== */

.qodef-search-opener {
	@include qodefTransition(all 0.2s ease-out);
	font-size:26px;
	color: #727272;
	margin:0 28px 0 25px;
	.qodef-search-icon-text {
		@include qodefTransition(all 0.2s ease-out);
	}

  .ion-ios-search-strong{
	position:relative;
	top:3px;
  }
}

.qodef-search-opener:hover {
	color: $first-main-color;
}

.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header) .qodef-search-opener,
.qodef-light-header.qodef-header-style-on-scroll .qodef-page-header .qodef-search-opener,
.qodef-light-header .qodef-top-bar .qodef-search-opener {
	color: $header-light-color !important; //Color can be set inline from widget opener
}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header) .qodef-search-opener,
.qodef-dark-header.qodef-header-style-on-scroll .qodef-page-header .qodef-search-opener,
.qodef-dark-header .qodef-top-bar .qodef-search-opener {
	color: $header-dark-color !important; //Color can be set inline from widget opener
}

/* Search slides from window top - begin
========================================================================== */
.qodef-search-slides-from-window-top {

	.qodef-top-bar,
	.qodef-page-header {
		top: 0;
		@include qodefTransition(all 0.25s ease-out);
	}

	.qodef-mobile-header {
		@include qodefTransition(all 0.25s ease-out);
	}

	.content_inner {
		margin-top: 0;
		@include qodefTransition(all 0.25s ease-out);
	}

	.mobile-header-appear .qodef-mobile-header-inner {
		padding-top: 0;
		@include qodefTransition(all 0.25s ease-out);
	}

}

.qodef-search-slides-from-window-top.qodef-search-open {

	.qodef-page-header,
	.qodef-top-bar {
		top: 50px;
	}

	.qodef-search-slide-window-top {
		height: 50px;
	}

	.qodef-mobile-header {
		top: 50px !important; /* Mobile header has important top on max-width (1000px) */
	}

	.mobile-header-appear .qodef-mobile-header-inner {
		padding-top: 50px;
	}

	.content_inner {
		margin-top: 50px;
	}

	.qodef-sticky-header.header-appear {
		@include qodefTransform(translateY(50px));
	}

}

.qodef-fixed-wrapper.fixed .qodef-search-slide-window-top {
	position: static;
}

.qodef-search-slide-window-top {
	background: none repeat scroll 0 0 #262626;
	color: #fff;
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 0;
	position: fixed;
	top:0;
	left:0;
	@include qodefTransition(all 0.25s ease-out);

	.form-inner {
		padding: 0 45px;
	}

	.qodef-container-inner {
		position: relative;
	}

	i {
		color: #959595;
		font-size: 13px;
		display: inline-block;
		float: left;
		line-height: 50px;
	}

	.qodef-container {

		i {
			padding: 0;
		}

		input{
			width: 90%;
			padding: 0 0 0 10px;
		}

		.qodef-search-close {
			right: 0;
		}

	}

	input,
	input:focus {
		background-color: #262626;
		border: medium none;
		box-shadow: none;
		color: #959595;
		display: inline-block;
		font-size: 13px;
		line-height: 20px;
		height: 20px;
		margin: 15px 0;
		width: 90%;
		padding: 0 0 0 10px;
		font-family: inherit;
		outline: none;
		outline-offset:0;
		-webkit-appearance: none;
		border-radius: 0;
		float: left;
	}

	input:focus{
		outline-offset: 0 !important;
	}

	@media only screen and (max-width: 1200px){
		input{
			width: 80%;
		}
	}

	@media only screen and (max-width: 768px){
		input{
			width: 70%;
		}
	}

	@media only screen and (max-width: 500px){
		input {
			width: 65%;
		}
	}

	input[type="submit"] {
		border: 0 none;
		clip: rect(0px, 0px, 0px, 0px);
		height: 1px;
		margin: -1px;
		padding: 0;
		position: absolute;
		width: 1px;
		visibility: hidden;
	}

	.qodef-search-close {
		color: #959595;
		font-size: 13px;
		position: absolute;
		line-height: 50px;
		height: 50px;
		top: 0;
		right: 45px;
	}

}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
	color: #959595;
	margin-top: 10px;
}

/* Search slides from window top - end
========================================================================== */


/* Search covers header - begin
========================================================================== */

.qodef-search-cover {
	display: none;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 115;
	background:#fff;

	.qodef-form-holder-outer {
		display: table;
		width: 100%;
		height:100%;
	}

	.qodef-form-holder {
		display: table-cell;
		vertical-align: middle;
		padding:0 45px;
		position:relative;
	}

	.qodef-form-holder-inner {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 100%;
	}

	.qodef-container-inner {

		.qodef-form-holder {
			padding: 0;
		}

		.qodef-search-close {
			right: 0;
		}

	}

	input,
	input:focus {
		background-color: transparent;
		border: medium none;
		box-shadow: none;
		color: #c6c6c6;
		font-size: 17px;
		font-weight: 500;
		display: inline-block;
		width: 90%;
		padding:0;
		font-family: 'Raleway', sans-serif;
		outline: none;
		outline-offset:0px;
		-webkit-appearance: none;
		border-radius: 0;
		float: left;
		margin: 0;
	}

	input:focus {
		outline-offset: 0 !important;
	}

	input[type="submit"] {
		border: 0 none;
		clip: rect(0px,0px,0px,0px);
		height: 1px;
		margin: -1px;
		padding: 0;
		position: absolute;
		width: 1px;
		visibility: hidden;
	}

	.qodef-search-close {
		font-size: 19px;
		position: absolute;
		right: 0;
		top:50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		line-height:1em;
	}

	.qodef-search-close {

		a {
			color: #16171d;
			display: inline-block;
		}

		a:hover {
			color: $first-main-color;
		}

		a i {
			vertical-align: top;
		}

	}

}

.qodef-search-cover.disabled {

	input,
	input:focus{
		font-weight: normal;
	}

}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder{
	color: #959595;
	margin: 10px 0px 0px 0px;
}

.qodef-header-overlapping{
	.qodef-search-cover{
		margin: 0 30px;
		width: calc(100% - 60px);
		background-color: transparent;


		.qodef-form-holder-outer{
			background-color: #fff;
		}


		.qodef-container{
			background-color: transparent;

				.qodef-form-holder{
					padding: 0 30px;
				}
		}
	}
}

/* Fullscreen search general style - start
========================================================================== */

.qodef-fullscreen-search-holder {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:105;
	opacity:0;

	.qodef-search-label {
		font-size:30px;
		line-height:1em;
		color: #a1a1a1;
		vertical-align:bottom;
	}

	.qodef-field-holder {
		width:30%;
		display:inline-block;
		vertical-align:bottom;
		position:relative;
		border-bottom:1px solid #a1a1a1;

		.qodef-line {
			position:absolute;
			bottom:-1px;
			left:0;
			height:1px;
			width:0;
			background-color: #696969;
			@include qodefTransition(width 0.3s ease);
		}

	}

	.qodef-search-field {
		width:100%;
		border-left:none;
		border-top:none;
		border-right:none;
		border-bottom:none;
		background:transparent;
		outline:none;
		height:100%;
		font-size:30px;
		color: #a1a1a1;
		line-height:1em;
		position:relative;
	}

	.qodef-search-submit {
		border:none;
		background:transparent;
		outline:none;
		width: auto;
		cursor: pointer;
		font-family: 'ElegantIcons';
		font-size:20px;
		line-height:1em;
		color: #a1a1a1;
		@include qodefTransition(color 0.2s ease);
	}

	.qodef-search-submit:hover {
		color: #696969;
	}

	.qodef-search-close-holder {
		float:right;
		margin-right: 45px;
	}

	.qodef-fullscreen-search-close-container {
		position:absolute;
		left:0;
		top:0;
		width:100%;

		a {
			opacity:0;
			visibility:hidden;
			-webkit-transition: opacity 0.2s ease, color 0.2s ease;
			transition: opacity 0.2s ease, color 0.2s ease;
			position: absolute;
			top: 40px;
			right: 40px;
		}

	}

}

.qodef-fullscreen-search-table {
	display: table;
	width:100%;
	height:100%;
}

.qodef-fullscreen-search-cell {
	display: table-cell;
	vertical-align: middle;
	width:100%;
	height:100%;
	text-align:center;
}

//Fix for woocommerce page
.qodef-fullscreen-search-opened .qodef-form-holder .qodef-search-field {
	width:100%;
	border-left:none;
	border-top:none;
	border-right:none;
	border-bottom:none;
	background:transparent;
	outline:none;
	height:100%;
	font-size:30px;
	color: #a1a1a1;
	line-height:1em;
	position:relative;
	padding: 0;
}

/* Fullscreen search general style - end
========================================================================== */

/* Fullscreen search from circle style - start
========================================================================== */

.qodef-fullscreen-search-overlay {
	position:absolute;
	width:2000px;
	height:2000px;
	margin-top:-1000px;
	margin-left:-1000px;
	top:50%;
	left:0;
	border-radius:100%;
	opacity:0;
	z-index:99;
	-ms-transform-origin: 50%;
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	@include qodefTransform(scale(0));
	background-color: rgba(255,255,255,0.98);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-ms-transition: -ms-transform 0.6s cubic-bezier(0.4,0,0.2,1), opacity 0.6s cubic-bezier(0.4,0,0.2,1);
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(0.4,0,0.2,1), opacity 0.6s cubic-bezier(0.4,0,0.2,1);
	transition: transform 0.6s cubic-bezier(0.4,0,0.2,1), opacity 0.6s cubic-bezier(0.4,0,0.2,1);
}


.qodef-fullscreen-search-overlay.qodef-animate{
	@include qodefTransform(scale(3));
	opacity:1;
}

.qodef-search-from-circle .qodef-fullscreen-search-holder {
	@include qodefTransition(opacity 0.3s ease);
	display:none;
	opacity:0;
	visibility:visible;
	z-index:111;
}

/* Fullscreen search from circle style - end
========================================================================== */

/* Fullscreen search fade style - start
========================================================================== */

.qodef-search-fade .qodef-fullscreen-search-holder {
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity: 0;
	z-index:111;
	box-sizing: border-box;

	.qodef-fullscreen-search-table {
		background-color:rgba(255,255,255,0.98);
	}
}

.qodef-search-fade-out.qodef-search-fade .qodef-fullscreen-search-holder {
	@include qodefAnimation(search_fade_out .25s linear both);
}

.qodef-search-fade-in.qodef-search-fade .qodef-fullscreen-search-holder.qodef-animate{
	@include qodefAnimation(search_fade_in .25s linear both);
}

.qodef-search-fade .qodef-fullscreen-search-holder.qodef-animate .qodef-fullscreen-search-close {
	opacity:1;
	visibility:visible;
}


@-webkit-keyframes search_fade_out {
	0%{
		opacity:1;
		visibility: visible;
	}
	100%{
		opacity:0;
		visibility: hidden;
	}
}
@keyframes search_fade_out{
	0%{
		opacity:1;
		visibility: visible;
	}
	100% {
		opacity:0;
		visibility: hidden;
	}
}
@-webkit-keyframes search_fade_in {
	0% {
		opacity:0;
		visibility: hidden;
	}
	100% {
		opacity:1;
		visibility: visible;
	}
}
@keyframes search_fade_in{
	0%{
		opacity:0;
		visibility: hidden;
	}
	100%{
		opacity:1;
		visibility: visible;
	}
}

/* Fullscreen search fade style - end
========================================================================== */

/*---------------Fade animation with PUSH TEXT TOP------------*/

@-webkit-keyframes search_push_text_top{
	0%{
		opacity:0;
		-webkit-transform:translateY(60px);
		transform:translateY(60px)
	}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}

@keyframes search_push_text_top{
	0%{
		opacity:0;
		-webkit-transform:translateY(60px);
		transform:translateY(60px);
	}
	100%{
		opacity:1;
		-webkit-transform:translateY(0);
		transform:translateY(0)
	}
}

.qodef-search-fade.qodef-fullscreen-search-opened .qodef-fullscreen-search-holder .qodef-form-holder {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include qodefAnimation(search_push_text_top .4s ease-out both .25s);
}

.qodef-search-fade-out.qodef-search-fade .qodef-fullscreen-search-holder .qodef-search-label,
.qodef-search-fade-out.qodef-search-fade .qodef-fullscreen-search-holder .qodef-search-submit,
.qodef-search-fade-out.qodef-search-fade .qodef-fullscreen-search-holder .qodef-field-holder {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include qodefTransform(translateY(-30px));
	@include qodefTransition(transform 0.75s ease-out);
}

/*----------------------FULLSCREEN SEARCH style end--------------------------*/

/* ==========================================================================
22. Search style - end
========================================================================== */
