/* ==========================================================================
# Fullscreen menu style - begin
========================================================================== */

/* Fullscreen general style - begin
========================================================================== */

.side_menu_button .qodef-fullscreen-menu-opener {
	@include qodefTransition(background-color 0.15s ease-out);
}

.qodef-dark-header .qodef-page-header > div:not(.qodef-sticky-header) .qodef-fullscreen-menu-opener:not(.opened) .qodef-line,
.qodef-dark-header.qodef-header-style-on-scroll .qodef-page-header .qodef-fullscreen-menu-opener:not(.opened) .qodef-line,
.qodef-dark-header .qodef-top-bar .qodef-fullscreen-menu-opener:not(.opened) .qodef-line {
	background-color: $header-dark-color !important;
}


.qodef-light-header .qodef-page-header > div:not(.qodef-sticky-header) .qodef-fullscreen-menu-opener:not(.opened) .qodef-line,
.qodef-light-header.qodef-header-style-on-scroll .qodef-page-header .qodef-fullscreen-menu-opener:not(.opened) .qodef-line,
.qodef-light-header .qodef-top-bar .qodef-fullscreen-menu-opener:not(.opened) .qodef-line {
	background-color: $header-light-color !important;
}


.qodef-fullscreen-menu-opener {
    display: inline-block;
    vertical-align: middle;

	.qodef-line {
		background-color: #000;
		height: 2px;
		margin: 0;
		width: 13px;
		top: 0;
		left: 0;
		@include qodefTransition(all 0.15s ease-out);
		position: absolute;
		display: inline-block;
	}

	.qodef-line:after,
	.qodef-line:before {
		background-color: inherit;
		content: "";
		display: block;
		height: 2px;
		position: absolute;
		width: 13px;
		z-index: 1;
		-webkit-backface-visibility: hidden; /*because X sign jumps on hover in Chrome*/
	}

	.qodef-line:before {
		top: -4px;
	}

	.qodef-line:after {
		top: 4px;
	}

}

.qodef-fullscreen-menu-opener-inner {
	display: inline-block;
	height: 2px;
	position: relative;
	top: -1px;
	vertical-align: middle;
	width: 13px;
}

.qodef-fullscreen-menu-opener:hover {

	.qodef-line {
		background-color: $first-main-color;
	}

}

.qodef-fullscreen-menu-opener.opened {

	.qodef-line {
		background-color: transparent !important;
	}

	.qodef-line:after {
		background-color: #000;
		top: 0 !important;
		@include qodefTransform(rotate(45deg));
	}

	.qodef-line:before {
		background-color: #000;
		top: 0 !important;
		@include qodefTransform(rotate(-45deg));
	}

}

.qodef-fullscreen-menu-opener.opened:hover {

	.qodef-line:after,
	.qodef-line:before{
		background-color: $first-main-color;
	}

}

.qodef-fullscreen-menu-opener.medium {

	.qodef-fullscreen-menu-opener-inner,
	.qodef-line,
	.qodef-line:after,
	.qodef-line:before {
		height: 3px;
		width: 19px;
	}

	.qodef-fullscreen-menu-opener-inner {
		top:-2px;
	}

	.qodef-line:before{
		top: -6px;
	}

	.qodef-line:after {
		top: 6px;
	}

}

.qodef-fullscreen-menu-opener.large {

	.qodef-fullscreen-menu-opener-inner,
	.qodef-line,
	.qodef-line:after,
	.qodef-line:before {
		height: 4px;
		width: 24px;
	}

	.qodef-fullscreen-menu-opener-inner {
		top:-3px;
	}

	.qodef-line:before {
		top: -8px;
	}

	.qodef-line:after {
		top: 8px;
	}

}

.qodef-fullscreen-menu-opened {

	.qodef-page-header,
	.qodef-top-bar {
		visibility: hidden;
	}

	.qodef-fullscreen-menu-opener,
	.qodef-logo-wrapper {
		visibility: visible;
	}

	.qodef-fullscreen-menu-holder-outer {
		visibility: visible !important;
		opacity: 1 !important;
	}

	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: hidden;

	&.admin-bar{
		top: 32px;
		height: calc(100% - 32px);
	}

}
.qodef-fullscreen-menu-holder-outer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden !important;
	visibility: hidden;
	opacity: 0;
	z-index: 105; /* this has to be between header z-index and content z-index */
}

.qodef-fullscreen-menu-holder {
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.9);
	display: table;
	background-repeat: repeat;
	background-position: 0px 0px;
}

.qodef-fullscreen-menu-holder-inner {
	display: table-cell;
	vertical-align: middle;
	padding: 100px 0px;
}

.touch {

	.qodef-fullscreen-menu-holder-outer {
		display: none;
	}

	.qodef-fullscreen-menu-opened .qodef-fullscreen-menu-holder-outer {
		display: block;
	}

}

nav.qodef-fullscreen-menu {
	margin: 0 auto;
	position: relative;
	top: 0;
	text-align: left;

	ul {
		position: relative;
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			margin: 0;
			padding: 0;
			text-align: center;
		}

		li a {
			font-size: 40px;
			font-weight: 800;
			line-height: 47px;
			letter-spacing: 1px;
			color: #393939;
			padding: 0px;
			display: block;
			position: relative;
			text-decoration: none;
			cursor: pointer;
			text-transform: uppercase;
			@include qodefTransition(color 0.15s ease-out);
		}

		li a:hover{
			color: $first-main-color;
		}

		li a span {
			display: inline-block;
			vertical-align: middle;
		}

		li ul li a {
			font-size: 18px;
			font-weight: 700;
			line-height: 21px;
			letter-spacing: 2px;
			color: $first-main-color;
		}

		li ul li a:hover {
			color: #8d8d8d;
		}

		li ul li ul li a {
			font-size: 0.5em;
			line-height: 1em;
		}

	}

	> ul {
		display: block;
	}

	ul.sub_menu {
		display: none;
	}

}

.qodef-fullscreen-below-menu-widget-holder {
	text-align:center;
	margin-top:20px;
}

.qodef-fullscreen-above-menu-widget-holder {
	text-align: center;
}

/* Fullscreen general style - end
========================================================================== */

/* Fullscreen fade animations general - begin
========================================================================== */

@-webkit-keyframes fade_out {
	0% {
		opacity:1;
		visibility: visible
	}
	100% {
		opacity:0;
		visibility: hidden
	}
}

@-moz-keyframes fade_out {
	0% {
		opacity:1;
		visibility: visible
	}
	100% {
		opacity:0;
		visibility: hidden
	}
}

@keyframes fade_out {
	0% {
		opacity:1;
		visibility: visible
	}
	100% {
		opacity:0;
		visibility: hidden
	}
}

@-webkit-keyframes fade_in {
	0% {
		opacity:0;
		visibility: hidden
	}
	100% {
		opacity:1;
		visibility: visible
	}
}

@-moz-keyframes fade_in {
	0% {
		opacity:0;
		visibility: hidden
	}
	100% {
		opacity:1;
		visibility: visible
	}
}

@keyframes fade_in {
	0% {
		opacity:0;
		visibility: hidden
	}
	100% {
		opacity:1;
		visibility: visible
	}
}

.qodef-fade-push-text-right .qodef-fullscreen-menu-holder-outer,
.qodef-fade-push-text-top .qodef-fullscreen-menu-holder-outer,
.qodef-fade-text-scaledown .qodef-fullscreen-menu-holder-outer {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden !important;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: fixed;
	z-index: 105;
	opacity: 0;
}

.qodef-fullscreen-fade-out .qodef-fullscreen-menu-holder-outer {
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	-webkit-animation: fade_out .25s linear both;
	animation: fade_out .25s linear both ;
}

.qodef-fullscreen-menu-opened.qodef-fullscreen-fade-in .qodef-fullscreen-menu-holder-outer {
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	-webkit-animation: fade_in .25s linear both;
	animation: fade_in .25s linear both;
}

/* Fullscreen fade animations general - end
========================================================================== */

/* Fullscreen animation push text right - begin
========================================================================== */

@-webkit-keyframes push_text_right {
	0% {
		opacity:0;
		-webkit-transform:translateX(-60px);
	}
	100% {
		opacity:1;
		-webkit-transform:translateX(0);
	}
}

@-moz-keyframes push_text_right {
	0% {
		opacity:0;
		-moz-transform:translateX(-60px);
	}
	100% {
		opacity:1;
		-moz-transform:translateX(0);
	}
}

@keyframes push_text_right {
	0% {
		opacity:0;
		transform:translateX(-60px)
	}
	100% {
		opacity:1;
		transform:translateX(0)
	}
}

@-webkit-keyframes push_nav_right {
	0% {
		opacity:0;
		-webkit-transform:translateX(-60px);
	}
	100% {
		opacity:1;
		-webkit-transform:translateX(0);
	}
}

@-moz-keyframes push_nav_right {
	0% {
		opacity:0;
		-moz-transform:translateX(-60px);
	}
	100% {
		opacity:1;
		-moz-transform:translateX(0);
	}
}

@keyframes push_nav_right {
	0% {
		opacity:0;
		transform:translateX(-60px)
	}
	100% {
		opacity:1;
		transform:translateX(0)
	}
}

.qodef-fullscreen-menu-opened.qodef-fade-push-text-right .qodef-fullscreen-menu-holder-outer nav > ul > li > a,
.qodef-fullscreen-menu-opened.qodef-fade-push-text-right .qodef-fullscreen-menu-holder-outer .qodef-fullscreen-below-menu-widget-holder > div,
.qodef-fullscreen-menu-opened.qodef-fade-push-text-right .qodef-fullscreen-menu-holder-outer .qodef-fullscreen-above-menu-widget-holder > div {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include qodefAnimation(push_text_right .4s cubic-bezier(0.175, 0.885, 0.32, 1) both);
}

.qodef-fade-push-text-right.qodef-push-nav-right .qodef-fullscreen-menu-holder-outer nav,
.qodef-fade-push-text-right.qodef-push-nav-right .qodef-fullscreen-menu-holder-outer .qodef-fullscreen-below-menu-widget-holder,
.qodef-fade-push-text-right.qodef-push-nav-right .qodef-fullscreen-menu-holder-outer .qodef-fullscreen-above-menu-widget-holder {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include qodefTransition(all .75s ease-out);
	@include qodefTransform(translateX(50px));
}

/* Fullscreen animation push text right - end
========================================================================== */

/* Fullscreen animation push text top - begin
========================================================================== */

@-webkit-keyframes push_text_top {
	0% {
		opacity:0;
		-webkit-transform:translateY(60px);
	}
	100% {
		opacity:1;
		-webkit-transform:translateY(0);
	}
}

@-moz-keyframes push_text_top {
	0% {
		opacity:0;
		-moz-transform:translateY(60px);
	}
	100% {
		opacity:1;
		-moz-transform:translateY(0);
	}
}

@keyframes push_text_top {
	0% {
		opacity:0;
		transform:translateY(60px);
	}
	100% {
		opacity:1;
		transform:translateY(0)
	}
}

.qodef-fullscreen-menu-opened.qodef-fade-push-text-top .qodef-fullscreen-menu-holder-outer nav > ul > li > a,
.qodef-fullscreen-menu-opened.qodef-fade-push-text-top .qodef-fullscreen-menu-holder-outer .qodef-fullscreen-below-menu-widget-holder > div,
.qodef-fullscreen-menu-opened.qodef-fade-push-text-top .qodef-fullscreen-menu-holder-outer .qodef-fullscreen-above-menu-widget-holder > div {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include qodefAnimation(push_text_top .4s ease-out both .5s);
}

.qodef-fade-push-text-top.qodef-push-text-top .qodef-fullscreen-menu-holder-outer nav,
.qodef-fade-push-text-top.qodef-push-text-top .qodef-fullscreen-menu-holder-outer .qodef-fullscreen-below-menu-widget-holder,
.qodef-fade-push-text-top.qodef-push-text-top .qodef-fullscreen-menu-holder-outer .qodef-fullscreen-above-menu-widget-holder {
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	@include qodefTransform(translateY(-30px));
	@include qodefTransition(all .75s ease-out);
}

/* Fullscreen animation push text top - end
========================================================================== */

/* Fullscreen animation fade text scaledown - begin
========================================================================== */

.qodef-fullscreen-menu-opened.qodef-fade-text-scaledown .qodef-fullscreen-menu-holder-outer nav,
.qodef-fullscreen-menu-opened.qodef-fade-text-scaledown .qodef-fullscreen-menu-holder-outer .qodef-fullscreen-below-menu-widget-holder,
.qodef-fullscreen-menu-opened.qodef-fade-text-scaledown .qodef-fullscreen-menu-holder-outer .qodef-fullscreen-above-menu-widget-holder {
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	opacity:1;
	@include qodefTransform(scale(1));
	@include qodefTransition(all .25s linear 0.1s);
}

.qodef-fade-text-scaledown .qodef-fullscreen-menu-holder-outer nav,
.qodef-fade-text-scaledown .qodef-fullscreen-menu-holder-outer .qodef-fullscreen-below-menu-widget-holder,
.qodef-fade-text-scaledown .qodef-fullscreen-menu-holder-outer .qodef-fullscreen-above-menu-widget-holder {
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;
	opacity:0;
	@include qodefTransform(scale(1.1));
	@include qodefTransition(all .25s linear 0.1s);
}

/* Fullscreen animation fade text scaledown - end
========================================================================== */

/* ==========================================================================
# Fullscreen menu style - end
========================================================================== */