@import 'variables';
@import 'mixins';

.qodef-blog-holder{
	article {
		padding-bottom: 20px;
		margin-bottom: 10px;

	  .qodef-more-link-container{
		margin-top:25px;
	  }

		&:not(.format-audio) .qodef-post-image {
			margin-bottom: 28px;
		}
		.qodef-post-image {

			img {
				vertical-align: middle;
			}
		}

		.qodef-blog-audio-holder {
			margin-bottom: 15px;
		}

		.qodef-post-excerpt{
			margin-bottom: 15px;
		}

		.qodef-post-title {
			margin-bottom: 5px;
		  	font-size: 28px;
			position: relative;
			z-index: 20; /* z-index placed in order to put quote icon of quote box behind title*/
		}

		&.sticky {
			.qodef-post-title a {
				color: $first-main-color;
			}
		}

		.qodef-post-info{

			margin-bottom: 20px;
			text-transform: capitalize;
			color: #b8b8b8;
			position: relative;
			z-index: 20; /* z-index placed in order to put quote icon of quote box behind info*/

		  	a {
			  color: #b8b8b8;
			}

		  	a:hover {
			  color: $first-main-color;
			}

			> div {
				display: inline-block;
				position: relative;
				padding-right: 15px;
			}

			> div:after {
				content: "|";
				position: absolute;
				right: 5px;
				top: 0;

			}

			> div:last-child:after {
				content: "";
			}

		  	> div:before {
			  font-family: simple-line-icons;
			  padding-right: 5px;
			}

		  	.qodef-post-info-date:before {
			  content: "\e075";
			}

		  	.qodef-post-info-author:before {
			  	content: "\e005";
			}

		  	.qodef-post-info-category:before {
			  	content: "\e055";
			}

		  	.qodef-post-info-comments-holder:before {
			  	content: "\e02c";
			}
		}

		&.format-quote .qodef-post-title h5,
		&.format-link .qodef-post-title{
			margin-bottom: 16px;
		  	font-size: 19px;
		}

	  	&.format-quote .qodef-post-text-inner,
	  	&.format-link .qodef-post-text-inner {
		  	border: 2px solid #efefef;
		  	@include qodefBorderRadiusPredefined();
		  	padding: 25px 25px 50px 25px;
		  	position: relative;
		  	overflow: hidden;
		}

	  	&.format-quote .qodef-post-text-inner:after,
	  	&.format-link .qodef-post-text-inner:after {
			content: "\e04a";
			font-family: "simple-line-icons";
			position: absolute;
			top: 0;
			right: -20px;
			font-size: 312px;
			color: #b6b6b6;
			opacity: 0.15;
		}

		&.format-link .qodef-post-text-inner:after {
			content: "\e08d";
		  	right: -120px;
		}

	  	&.format-quote .qodef-quote-author {
		  	font-size: 15px;
		  	font-weight: 600;
		  	color: #656565;
		}

		.qodef-post-mark{
			float: right;
			margin: 25px;
		  	display: none;
		}

		.qodef-post-mark .link_mark{
			font-size: 25px;
		}

		.qodef-post-mark .quote_mark{
			font-size: 20px;
		}

	  	.qodef-post-extra-content {
		  	margin-top: 50px;
		}

	  	&.format-audio {
		  .mejs-container.mejs-audio {
			height: 59px !important; /* important is because default mejs script inlines height of element */
			background: transparent;
		  }

		  .mejs-container .mejs-controls {
			box-sizing: border-box;
			border: 2px solid #efefef;
			height: 59px;
			background: transparent;
			padding: 0 15px;
		  }

		  .mejs-container .mejs-controls .mejs-button {
			display: table;
			height: 55px;
			padding-right: 10px;
		  }

		  .mejs-controls .mejs-button button {
			background-repeat: no-repeat;
			background-position: center;
			display: table-cell;
			height: 55px;
			width: 100%;
			vertical-align: middle;
			margin: 0;
			text-align: center;
			position: inherit;
		  }

		  .mejs-controls .mejs-button button:focus {
			outline: none;
		  }

		  .mejs-controls .mejs-play button {
			background-image: url(img/audio/play.png);
		  }

		  .mejs-controls .mejs-pause button {
			background-image: url(img/audio/pause.png);
		  }

		  .mejs-controls .mejs-mute button {
			background-image: url(img/audio/sound.png);
		  }

		  .mejs-controls .mejs-unmute button {
			background-image: url(img/audio/mute.png);
		  }

		  .mejs-container .mejs-controls .mejs-time {
			font-size: 15px;
			color: #949494;
			display: table;
			height: 55px;
			padding: 0 10px 0 0;
		  }

		  .mejs-time .mejs-currenttime,
		  .mejs-time .mejs-duration {
			display: table-cell;
			width: 100%;
			height: 100%;
			vertical-align: middle;
		  }

		  .mejs-controls .mejs-time-rail {
			padding: 0 10px 0 0;
			height: 55px;
		  }

		  .mejs-controls .mejs-time-rail .mejs-time-total {
			position: absolute;
			top: 50%;
			@include qodefTransform(translateY(-50%));
			margin: 0 5px;
		  }

		  .mejs-controls .mejs-time-rail .mejs-time-total,
		  .mejs-controls .mejs-time-rail .mejs-time-loaded,
		  .mejs-controls .mejs-time-rail .mejs-time-total,
		  .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{
			background-color: #efefef;
		  }

		  .mejs-controls .mejs-time-rail .mejs-time-current,
		  .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{
			background: $first-main-color;
		  }

		  .mejs-controls a.mejs-horizontal-volume-slider {
			height: 55px;
		  }

		  .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
		  .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{
			top: 50%;
			@include qodefTransform(translateY(-50%));
		  }
		}
	}

  	&.qodef-blog-type-standard {

	  article {
		margin-bottom: 10px;
	  }

	  article:not(.format-quote):not(.format-link) .qodef-post-text{
		border: 2px solid #e6e6e6;
		padding: 26px;
		@include qodefBorderRadiusPredefined();
	  }

	  article:not(.format-quote):not(.format-link):not(.format-audio).has-post-thumbnail .qodef-post-text{
		border-top: 0;
		@include qodefBorderRadius(0 0 3px 3px);
	  }

	  article:not(.format-audio) .qodef-post-image,
	  .qodef-blog-audio-holder {
	  	margin-bottom: 0;
	  }

	  article.format-audio .qodef-post-text {
		/* Important is because not selectors above are stronger */
		border-top: 0 !important;
		-webkit-border-top-left-radius: 0 !important;
		-moz-border-top-left-radius: 0 !important;
		border-top-left-radius: 0 !important;
		-webkit-border-top-right-radius: 0 !important;
		-moz-border-top-right-radius: 0 !important;
		border-top-right-radius: 0 !important;
	  }

	  .qodef-blog-standard-post-date,
	  .qodef-blog-standard-info-holder {
		display: inline-block;
		vertical-align: top;
	  }

	  .qodef-blog-standard-post-date .date {
		display: block;
		font-size: 20px;
		line-height: 37px;
		color: #636363;
		padding: 0 12px;
		border: 2px solid #efefef;
		border-bottom: 0;
		-webkit-border-top-left-radius: 3px;
		-moz-border-top-left-radius: 3px;
		border-top-left-radius: 3px;
		-webkit-border-top-right-radius: 3px;
		-moz-border-top-right-radius: 3px;
		border-top-right-radius: 3px;
	  }

	  .qodef-blog-standard-post-date .month {
		display: block;
		font-size: 12px;
		color: #fff;
		background-color: $first-main-color;
		padding: 0 13px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-bottom-left-radius: 3px;
		border-bottom-left-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-moz-border-bottom-right-radius: 3px;
		border-bottom-right-radius: 3px;
	  }

	  .qodef-blog-standard-info-holder {
		margin-left: 14px;
	  }

	  article.format-quote,
	  article.format-link {
		.qodef-post-info {
		  margin-bottom: 10px;
		}
	  }

	  .qodef-post-excerpt{
		margin-bottom: 25px;
	  }
	}

	&.qodef-blog-type-masonry {
		margin-bottom: 20px;
		transition: none !important;
		overflow: visible !important;

		article {
			display: block;
			width: 31.99%;
			padding: 0;
			text-align: left;
			vertical-align: top;
			z-index: 100;
			margin: 0 0 20px;
			box-sizing: border-box;
			@include qodefTransition(border-color 0.15s ease-out);

			&.format-quote .qodef-post-title h5,
			&.format-link .qodef-post-title{
			  font-size: 16px;
			}

		}
		.qodef-blog-masonry-grid-sizer {
		  /* 31.99 is because 32 is not working in firefox and ie */
			width: 31.99%;
		}
		.qodef-blog-masonry-grid-gutter {
			width: 2%;
		}

		#infscr-loading {
			position: absolute;
			bottom: -35px;
			left: 50%;
			@include qodefTransform(translateY(-50%));
		}

	  	.qodef-post-title {
		  font-size: 18px;
		}

	  	.qodef-post-info {
			color: #b8b8b8;
		}

		article:not(.format-quote):not(.format-link) .qodef-post-text{
		  border: 2px solid #e6e6e6;
		  padding: 26px;
		  @include qodefBorderRadiusPredefined();
		  border-top: 0;
		  -webkit-border-top-left-radius: 0;
		  -moz-border-top-left-radius: 0;
		  border-top-left-radius: 0;
		  -webkit-border-top-right-radius: 0;
		  -moz-border-top-right-radius: 0;
		  border-top-right-radius: 0;
		}

		article:not(.format-audio) .qodef-post-image,
		.qodef-blog-audio-holder {
		  margin-bottom: 0;
		}

	  	article:not(.format-audio) .qodef-post-image {
		  border-bottom: 6px solid $first-main-color;
		}

		/*article.format-audio .qodef-post-text {
		   Important is because not selectors above are stronger
		  border-top: 0 !important;
		  -webkit-border-top-left-radius: 0 !important;
		  -moz-border-top-left-radius: 0 !important;
		  border-top-left-radius: 0 !important;
		  -webkit-border-top-right-radius: 0 !important;
		  -moz-border-top-right-radius: 0 !important;
		  border-top-right-radius: 0 !important;
		}*/

	  article.format-quote .qodef-post-text-inner,
	  article.format-link .qodef-post-text-inner {
		border: 2px solid #efefef;
		@include qodefBorderRadiusPredefined();
		padding: 20px;
		position: relative;
		overflow: hidden;
	  }

	  .qodef-post-info {
		margin-bottom: 10px;
	  }

	}

	&.qodef-masonry-full-width {

		margin-right: 2%;
		margin-left: 2%;
	  	margin-top: 2%;

		article {
			width: 18.4%;
		}
		.qodef-blog-masonry-grid-sizer {
			width: 18.4%;
		}
		.qodef-blog-masonry-grid-gutter {
			width: 2%;
		}
	}

  	&.qodef-blog-type-masonry,
	&.qodef-masonry-full-width {
	  .qodef-owl-slider .owl-buttons .owl-next {
		right: 0;
	  }

	  .qodef-owl-slider .owl-buttons .owl-prev {
		left: 0;
	  }

	  .qodef-owl-slider .owl-buttons .qodef-prev-icon,
	  .qodef-owl-slider .owl-buttons .qodef-next-icon {
		width: 33px;
		height: 33px;
		line-height: 33px;
	  }

	  .qodef-owl-slider .owl-buttons .qodef-prev-icon i,
	  .qodef-owl-slider .owl-buttons .qodef-next-icon i {
		line-height: 33px;
		font-size: 12px;
	  }

	  .qodef-btn {
		border: 0;
		color: $first-main-color;
		font-size: 12px;
		padding-left: 0;
		padding-right: 5px;
	  }

	  .qodef-btn:after {
		content: "\f054";
		font-family: FontAwesome, sans-serif;
		padding-left: 5px;
		font-size: 11px;
	  }

	  .qodef-btn:hover {
		background-color: transparent !important;
		border-color: transparent !important;
		color: $first-main-color !important;
	  }

	  article .qodef-post-excerpt {
		margin-bottom: 0;
	  }

	  article:not(.format-quote):not(.format-link) .qodef-post-text {
		padding: 17px 19px 5px 19px;
	  }

	  article.format-audio .mejs-container {
	   	.mejs-controls {
		  	padding: 0 2px;
		}
		.mejs-controls .mejs-button {
		  	padding-right: 0;
		}
		.mejs-controls .mejs-time {
		  padding: 0;
		  font-size: 12px;
		}
		.mejs-controls .mejs-time-rail {
		  padding: 0;
		}
		.mejs-controls .mejs-button {
		  padding-right: 0;
		}
	  }
	}

    &.qodef-blog-type-gallery {

	    opacity:0;

        article {
            width: 33.33%;
            display: block;
            margin: 0;
            padding: 0;
            text-align: left;
            vertical-align: top;
            z-index: 100;
            @include qodefBoxSizing(border-box);
            &:hover {
                .qodef-post-excerpt {
                    @include qodefTransition(opacity .4s cubic-bezier(.3, .67, .24, .86) .15s);
                }
            }
            &.format-quote,
            &.format-link {
                .qodef-post-text-inner {
                    border: 0;
                    padding: 0;
                    overflow: visible;
                    &:after {
                        display: none;
                    }
                }
            }
            &.format-quote {
                .qodef-quote-author {
                    color: #fff;
                    vertical-align: middle;
                }
            }
            &.format-link {
                .qodef-post-title {
                    margin: 0 0 14px;
                    font-size: 36px;
                }
            }

            &:not(.format-audio) {
                .qodef-post-image {
                    margin-bottom: 0;
                }
            }
        }
        .qodef-blog-gallery-grid-sizer {
            width: 33.33%;
        }
        .qodef-blog-gallery-grid-gutter {
            width: 0;
        }
        .qodef-post-content {
            height: 100%;
        }
        .qodef-post-overlay {
            position: absolute;
            z-index: 98;
            top: 20%;
            left: 0;
            right: 0;
            bottom: 0;
            background: -webkit-linear-gradient(transparent,#000);
            background: linear-gradient(transparent,#000);
        }
        .qodef-post-image{
            height: 100%;
            display: block;
            position: relative;
            >a,
            img {
                height: 100%;
                display: block;
                position: relative;
            }
        }
        .qodef-post-text {
            display: block;
            position: absolute;
            bottom: 54px;
            width: 100%;
            padding: 0 60px;
            text-align: left;
            z-index: 99;
            box-sizing: border-box;
            &:not(.format-quote),
            &:not(.format-link) {
                @include qodefTransition(transform .2s cubic-bezier(.44,1.22,0,1.43));
            }
        }
        .qodef-post-text-inner {
            padding: 0;
            background-color: transparent!important;
        }
        .qodef-post-info-category {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 800;
            letter-spacing: 0.8px;
            display: block;
            margin-bottom: 13px;
            @include qodefTransition(all .2s);
            a {
                color: #fff;
                padding: 9px 17px;
                background-color: $first-main-color;
                display: inline-block;
                margin-bottom: 5px;
                @include qodefBoxSizing(border-box);
                @include qodefBorderRadiusPredefined();
            }
        }
        .qodef-post-title {
            margin: 0 0 14px;
            font-size: 36px;
            @include qodefTransition(all .2s);
            a {
                color: #fff;
            }
        }
        .qodef-post-excerpt {
            visibility: hidden;
            opacity: 0;
            color: #fff;
            @include qodefTransition(opacity .2s cubic-bezier(.3,.67,.24,.86),visibility .2s cubic-bezier(.3,.67,.24,.86));
            margin-bottom: 20px;
        }
        .qodef-post-info-bottom {
            display: inline-block;
            width: 100%;
            margin: 0;
            font-weight: 500;
            color: #d1d1d1;
            text-transform: capitalize;
            font-size: 14px;
            padding: 0;
            border: 0;
            > div {
                display: inline-block;
                &:before {
                    content: "|";
                    padding: 0 5px;
                }
                &:first-child:before {
                    display: none;
                }
            }
        }
        .qodef-owl-slider {
            .owl-buttons .owl-prev,
            .owl-buttons .owl-next {
                z-index: 200;
            }
        }

    }

}

.qodef-blog-infinite-scroll-button{
	display: none;
}

.qodef-filter-blog-holder{

	text-align: center;
	margin-bottom: 30px;

	li {
		display:inline-block;
		padding: 0 8px;
		cursor: pointer;
		font-size: 15px;

		&.qodef-active{
			color: $first-main-color;
		}
	}
}
.qodef-author-description {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 30px;

  	.qodef-author-description-inner {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 100%;
	}

	.qodef-author-description-image {
		display: table-cell;
		width: 128px;
		height: 128px;
		vertical-align: top;

		img {
			width: 100%;
			height: auto;
			display: inline-block;
			vertical-align: middle;
		  	@include qodefBorderRadiusPredefined();
		}
	}

	.qodef-author-description-text-holder {
		padding: 0 0 0 20px;
		position: relative;
		display: table-cell;
		margin: 0 auto;
		box-sizing: border-box;

	  	.qodef-author-name {
		  margin: 0 0 10px 0;
		}

	  	.qodef-author-text {
		  margin: 0 0 20px 0;
		}

	  	.qodef-author-social-inner {
		  float: left;
		  margin: 0 15px 0 0;
		  width: 14px;
		  height: 14px;
		  line-height: 14px;
		  text-align: center;
		}

	  	.qodef-author-social-inner a {
			font-size: 14px;
			color: #949494;
			@include qodefTransition(color .15s ease-out);
		}

	  	.qodef-author-social-inner a:hover {
		  	color: $first-main-color;
		}
	}
}

.qodef-post-info-bottom {
  padding: 18px 0;
  margin-top: 30px;
  @include qodefBoxSizing(border-box);
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.qodef-single-tags-holder {
	display: inline-block;
  	line-height: 30px;

	.qodef-single-tags-title {
		display: inline-block;
	}
	.qodef-tags{
		display: inline-block;
		a {
			margin-left: 3px;
		  	text-transform: capitalize;
		  	position: relative;
		  	letter-spacing: 0.4px;
		}
		a:first-child {
		  	margin-left: 0;
		}
	  	a:after {
			content: '';
			width: 100%;
			border-bottom: 1px solid $first-main-color;
			position: absolute;
			left: 0;
			bottom: 0;
			@include qodefTransition(border-color .2s ease-out,color .2s ease-out);
		}
	}
}

.qodef-blog-single{

  .qodef-blog-standard-post-date,
  .qodef-blog-standard-info-holder {
	display: inline-block;
	vertical-align: top;
  }

  .qodef-blog-standard-post-date .date {
	display: block;
	font-size: 20px;
	line-height: 37px;
	color: #636363;
	padding: 0 12px;
	border: 2px solid #efefef;
	border-bottom: 0;
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
  }

  .qodef-blog-standard-post-date .month {
	display: block;
	font-size: 12px;
	color: #fff;
	background-color: $first-main-color;
	padding: 0 13px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
  }

  .qodef-blog-standard-info-holder {
	margin-left: 14px;
  }

  article.format-quote,
  article.format-link {
	.qodef-post-info {
	  margin-bottom: 10px;
	}
  }
}

.qodef-blog-share {
  display: inline-block;
  float:right;
}

.qodef-blog-single-navigation{
	position: relative;
	min-height: 25px;
	margin: 0 0 10px;
	
	.qodef-blog-single-prev,
	.qodef-blog-single-next{
		position: absolute;
		display: inline-block;
		font-size: 25px;
		font-weight: 500;

		a{
			color: #565656;
		}
	}

	.qodef-blog-single-prev{
		left: 0;
	}

	.qodef-blog-single-next{
		right: 0;
	}
}

.qodef-single-links-pages{
	margin-top: 20px;

	.qodef-single-links-pages-inner{
		> a,
		> span{
			display: inline-block;
			height: 30px;
			width: 30px;
			line-height: 30px;
			text-align: center;
		}
	}
}

.search {
  .qodef-blog-holder {

	  .qodef-post-text-inner .qodef-btn {
	  	margin-top: 10px;
	  }

	  &.qodef-blog-type-standard article:not(.format-quote):not(.format-link):not(.format-audio).has-post-thumbnail .qodef-post-text,
	  &.qodef-blog-type-standard article:not(.format-quote):not(.format-link) .qodef-post-text {
		  border: 2px solid #e6e6e6 !important;
	  }
  }
}

.page-template-blog-gallery-php {
  .qodef-blog-holder {
    article {
	  .qodef-post-image img {
		max-width: none;
    	width: auto;
	  }
	}
  }
}