.qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-content-wrapper .qodef-fullwidth-slider-item-wrapper-inner:after {
  display: none;
}

.qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-content-holder {
  background: rgba(33, 33, 33, 0.6);
}

.qodef-mobile-showcase {

  .qodef-mobile-wrapper {

    .qodef-mobile-preview-image {
      display: block;
    }

    .qodef-perspective {
      display:none;
    }
  }
}