/* ==========================================================================
# Woocommerce style - begin
========================================================================== */

@import 'variables';
@import 'mixins';

@font-face{
	font-family:'star';
	src:url('../../../../plugins/woocommerce/assets/fonts/star.eot');
	src:url('../../../../plugins/woocommerce/assets/fonts/star.eot?#iefix') format('embedded-opentype'),
	url('../../../../plugins/woocommerce/assets/fonts/star.woff') format('woff'),
	url('../../../../plugins/woocommerce/assets/fonts/star.ttf') format('truetype'),
	url('../../../../plugins/woocommerce/assets/fonts/star.svg#star') format('svg');
	font-weight:normal;
	font-style:normal
}

/* Woocommerce product list - begin
========================================================================== */

.qodef-woocommerce-page,
.page-template-default .woocommerce,
.page-template-full-width .woocommerce{

	.woocommerce-result-count,
	.woocommerce-ordering {
		display: inline;
		width: 50%;
		margin: 0 0 10px;
		float: left;
	}

	.woocommerce-result-count {
		line-height: 48px;
		letter-spacing: 0;
	}

	.woocommerce-ordering {
		text-align: right;
		font-size: 0;

		.orderby {
			width: auto;
			min-width: 250px;
			margin: 0;
			text-align: initial;
		}

		.select2 {
			margin-bottom: 0;
			text-align: initial;
		}
	}

	.products {
		list-style: none;
		margin: 0 0 21px;
		padding: 0;
		display: inline-block;
		width:100%;
		vertical-align: middle;
	}

	.product {
		position: relative;
		float: left;
		text-align:left;
		border-style:solid;
		border-color: #e1e2e5;
	  	margin-bottom: 40px;
        >a{
          display:block;
          width:100%;
          overflow:hidden;

          img{
            display: block;
            width: 100%;
            -webkit-backface-visibility: hidden;
			-ms-transition: -ms-transform 0.4s ease-out;
			-webkit-transition: -webkit-transform 0.4s ease-out;
			transition: transform 0.4s ease-out;
          }

          &:hover img{
            @include qodefTransform(scale(1.1));
          }
        }



		.price {
			font-size: 14px;
			line-height: 1em;
			font-weight: 400;
			display: block;
			color: #acacac;
			width: 100%;
		}

		.qodef-onsale {
			position: absolute;
			display: table;
			top: 0;
			left: 0;
			width: 72px;
			height: 72px;
			text-align: center;
			z-index: 100;
			color: #fff;
			background-color: $first-main-color;
			text-transform: uppercase;
			font-family: 'Raleway', sans-serif;
			font-size: 13px;
			font-weight: 800;
		  	@include qodefBorderRadius(0 0 3px 0);
		}

	  	.qodef-out-of-stock-button {
		  position: absolute;
		  top: 0;
		  left: 0;
		  width: 72px;
		  height: 72px;
		  text-align: center;
		  background-color: #242A36;
		  color: #fff;
		  z-index: 100;
		  @include qodefBorderRadius(0 0 3px 0);
		  font-weight: 700;
		  display: table;
		  font-size: 13px;
		  line-height: 15px;
		  text-transform: capitalize;
		}

		.qodef-onsale-inner,
		.qodef-out-of-stock-button-inner {
			display: table-cell;
			vertical-align: middle;
		}

	  	&.outofstock {

		  .qodef-woocommerce-product-list-add-to-cart-button-holder {
			display: none;
		  }

		  .qodef-woocommerce-product-list-details-button-holder {
			width: 100%;
			border-right: 0;
		  }

		  .single_view_product_button {
			@include qodefBorderRadius(0 0 3px 3px);
			border-right: 2px solid #e6e6e6;
		  }
		}
	}

  	.qodef-woocommerce-product-list-info {
	  	padding: 20px;
	  	border: 2px solid #e6e6e6;
	  	border-bottom: 0;

	  	.qodef-product-list-product-title {
			display: inline-block;
			width: 59.5%;
			vertical-align: middle;
			margin-bottom: 3px;
		}

	  	.star-rating {
			display: inline-block;
			vertical-align: top;
			float: right;
		  	margin: 5px 0;
		}
	}

  	.qodef-woocommerce-product-info-holder {
		line-height: 0;
	  	@include qodefBoxSizing(border-box);
	  	@include qodefBorderRadius(0 0 3px 3px);
	}

  	.qodef-woocommerce-product-list-button-holder {
	  	display: inline-block;
	  	width: 100%;
		box-sizing: border-box;
	}

  	.qodef-woocommerce-product-list-details-button-holder {
		display: inline-block;
		width: 50%;
		float: left;
		@include qodefBoxSizing(border-box);

	  	.single_view_product_button {
		  	display: inline-block;
		  	width: 100%;
			@include qodefBorderRadius(0 0 0 3px);
			padding: 0 10px;
			font-size: 11px;
		  	line-height: 45px;
		  	text-align: center;
		  	color: #acacac;
		  	height: 45px;
		  	border: 2px solid #e6e6e6;
		  	border-right: 1px solid #e6e6e6;
		  	@include qodefBoxSizing(border-box);
		  	vertical-align: middle;
		}
	}

  	.qodef-woocommerce-product-list-add-to-cart-button-holder {
		display: inline-block;
		width: 50%;
		float: left;

	  	a:not(.add_to_cart_button):not(.added_to_cart) {
		  	display: none;
		}

	  	.add_to_cart_button {
		  	display: block;
			@include qodefBorderRadius(0 0 3px 0);
			padding: 0 10px;
			font-size: 11px;
			line-height: 45px;
		  	text-align: center;
		  	border: 2px solid #e6e6e6;
		  	border-left: 1px solid #e6e6e6;
		  	color: #acacac;
		  	height: 45px;
			@include qodefBoxSizing(border-box);
			vertical-align: middle;

			&.product_type_variable {
			  .qodef-btn-text {
				display: inline-block;
				vertical-align: middle;
				line-height: 16px;
			  }
			}
		  }

	  	.add_to_cart_button.added {
		  	display: none;
		}

	  	.added_to_cart {
			position: relative;
			outline: none;
			font-style: normal;
			font-weight: 800;
			font-family: inherit;
			text-transform: uppercase;
			letter-spacing: 1px;
		  	border: 2px solid #e6e6e6;
		  	border-left: 1px solid #e6e6e6;
			color: #acacac;
			background-color: transparent;
		  	@include qodefTransition(
				  color 0.15s ease-out,
				  background-color 0.15s ease-out,
				  border-color 0.15s ease-out
			);
			@include qodefBoxSizing(border-box);
			display: block;
		  	@include qodefBorderRadius(0 0 3px 0);
			padding: 0 10px;
			font-size: 11px;
			line-height: 41px;
			text-align: center;
		}

	  	.added_to_cart:hover {
		  	color: #fff !important;
		  	background-color: $first-main-color;
		  	border-color: $first-main-color;
		}
	}
}

.qodef-woocommerce-page.qodef-woocommerce-columns-4 {

	.products .product {
		width: 24%;
		margin-right: 1.3333333%;
		margin-bottom: 2%;

		&:nth-child(4n) {
			margin-right: 0;
		}

		&:nth-child(4n+1) {
			clear: both;
		}

	}

	.qodef-woocommerce-with-sidebar .products .product{
		width: 32%;
		margin-right: 2%;
		margin-bottom: 2%;

		&.first {
			clear: none;
		}

		&:nth-child(3n) {
			margin-right: 0;
		}

		&:nth-child(3n+1) {
			clear: both;
		}

		&:nth-child(4n+1) {
			clear: none;
		}
	}
}

.qodef-woocommerce-page.qodef-woocommerce-columns-3 {

	.products .product {
		width: 32%;
		margin-right: 2%;
		margin-bottom: 2%;

		&.first {
			clear: none;
		}

		&:nth-child(3n) {
			margin-right: 0;
		}

		&:nth-child(3n+1) {
			clear: both;
		}

	}

	.qodef-woocommerce-with-sidebar .products .product{
		width: 49%;
		margin-right: 2%;
		margin-bottom: 2%;

		&.first {
			clear: none;
		}

		&:nth-child(2n) {
			margin-right: 0;
		}

		&:nth-child(2n+1) {
			clear: both;
		}

		&:nth-child(3n+1) {
			clear: none;
		}
	}
}

/* Style for product list on default and full width page template - start
========================================================================== */

/* Without sidebar - start */

.woocommerce,
.woocommerce-page {

  .products ul,
  .woocommerce ul.products {
	margin: 0 0 1em;
	padding: 0;
	list-style: none;
	clear: both;
  }

  .products ul li,
  ul.products li {
	list-style: none;
  }

  ul.products li.first {
	clear: both;
  }

  ul.products li.product {
	float: left;
	margin: 0 2% 2% 0;
	padding: 0;
	position: relative;
	width: 23.5%;
  }

  ul.products li.last {
	margin-right: 0;
  }

  &.columns-2 ul.products li.product {
	  width: 49%;
  }

  &.columns-3 ul.products li.product {
	width: 32%;
  }

  &.columns-5 ul.products li.product {
	width: 18.4%;
  }

  &.columns-6 ul.products li.product {
	width: 15%;
  }
}

/* Without sidebar - end */

/* With sidebar - start */

.qodef-two-columns-66-33,
.qodef-two-columns-75-25 {
  .woocommerce,
  .woocommerce-page {

	ul.products li.first {
	  clear: none;
	}

	ul.products li.last {
	  margin-right: 2%;
	}

	&.columns-2 ul.products li.product:nth-child(2n+2) {
	  margin-right: 0;
	}

	&.columns-3 ul.products li.product {
	  width: 49%;
	}

	&.columns-3 ul.products li.product:nth-child(2n+2) {
	  margin-right: 0;
	}

	&.columns-4 ul.products li.product {
	  width: 32%;
	}

	&.columns-4 ul.products li.product:nth-child(3n+3) {
	  margin-right: 0;
	}

	&.columns-5 ul.products li.product {
	  width: 23.5%;
	}

	&.columns-5 ul.products li.product:nth-child(4n+4) {
	  margin-right: 0;
	}

	&.columns-6 ul.products li.product {
	  width: 18.4%;
	}

	&.columns-6 ul.products li.product:nth-child(5n+5) {
	  margin-right: 0;
	}
  }
}

/* With sidebar - end */

@media only screen and (min-width: $ipad-landscape){

  /* Five and six columns when page template is default - start */
  /* 4 columns max */

  .page-template-default {
	.woocommerce,
	.woocommerce-page {

	  &.columns-5 ul.products li.first,
	  &.columns-6 ul.products li.first {
		clear: none;
	  }

	  &.columns-5 ul.products li.last,
	  &.columns-6 ul.products li.last {
		margin-right: 2%;
	  }

	  &.columns-5 ul.products li.product {
		width: 23.5%;
	  }

	  &.columns-6 ul.products li.product {
		width: 23.5%;
	  }

	  &.columns-5 ul.products li.product:nth-child(4n+4) {
		margin-right: 0;
	  }

	  &.columns-6 ul.products li.product:nth-child(4n+4) {
		margin-right: 0;
	  }
	}
  }

  /* Five and six columns when page template is default - end */

  /* Five and six columns when page template is default or full width with sidebar - start */
  /* 3 columns max */

  .page-template-default,
  .page-template-full-width {
	.qodef-two-columns-66-33,
	.qodef-two-columns-75-25 {
	  .woocommerce,
	  .woocommerce-page {

		&.columns-5 ul.products li.product,
		&.columns-6 ul.products li.product {
		  width: 32%;
		}

		&.columns-5 ul.products li.product:nth-child(4n+4) {
		  margin-right: 2%;
		}
		&.columns-6 ul.products li.product:nth-child(4n+4),
		&.columns-6 ul.products li.product:nth-child(5n+5) {
		  margin-right: 2%;
		}

		&.columns-6 ul.products li.product:nth-child(3n+3),
		&.columns-6 ul.products li.product:nth-child(12n+12),
		&.columns-6 ul.products li.product:nth-child(15n+15),
		&.columns-5 ul.products li.product:nth-child(3n+3),
		&.columns-5 ul.products li.product:nth-child(12n+12){
		  margin-right: 0;
		}
	  }
	}
  }

  /* Five and six columns when page template is default or full width with sidebar - end */

}

/* Style for product list on default and full width page template - end
========================================================================== */


/* Woocommerce product list - end
========================================================================== */

/* Woocommerce pagination - begin
========================================================================== */

.woocommerce-pagination {
	position:relative;
	display: inline-block;
	vertical-align: middle;
	width: auto;
	margin-bottom: 45px;

	.page-numbers {
		display: inline-block;
		vertical-align: middle;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			margin: 0 2px 4px 2px;
			float: left;
		}

		li > a,
		li > span {
			position: relative;
			display: inline-block;
			width:43px;
			height: 43px;
			line-height: 43px;
			margin: 0;
			color: #acacac;
			background-color: transparent;
			border: 2px solid #e6e6e6;
			font-size: 14px;
			font-weight: 500;
			vertical-align: middle;
			text-decoration: none;
			text-transform: uppercase;
			cursor: pointer;
			white-space: nowrap;
			outline: none;
			text-shadow: none;
			-webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
			transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
			box-sizing: content-box;
			float: left;
		  	@include qodefBorderRadiusPredefined();
		}

	  	li > a.next,
		li > a.prev {
		  font-size: 11px;
		}

		li span.current {
			color: #fff;
			background-color: $first-main-color;
		  	border-color: $first-main-color;
		}

		li a:hover,
		li span:hover,
		li span.current:hover {
			background-color: $first-main-color;
			color: #fff;
		  	border-color: $first-main-color;
		}

	}

}

/* Woocommerce pagination - end
========================================================================== */

/* Woocommerce single product - begin
========================================================================== */

.qodef-single-product-images {
	width: 49%;
	margin-right: 2%;
	display: inline-block;
  	float: left;
  	margin-bottom: 20px;

  	.images {
	  line-height: 0;

        figure {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin: 0 -10px;

            a {
                position: relative;
                display: inline-block;
                width: 100%;
                vertical-align: middle;

                img {
                    position: relative;
                    width: 100%;
                    display: block;
                }
            }
        }

        .woocommerce-product-gallery__trigger {
            position: absolute;
            top: 10px;
            right: 39px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            z-index: 10;
        }

        .woocommerce-product-gallery__image {
            position: relative;
            display: inline-block;
            vertical-align: top;
            margin: 0;
            padding: 0 10px;
            box-sizing: border-box;

            &:first-child {
                left: 10px;
                width: calc(100% - 20px);
                padding: 0;
            }

            .zoomImg {
                cursor: crosshair;
            }
        }

        &.woocommerce-product-gallery--with-images {

            .woocommerce-product-gallery__image {

                &:not(:first-child) {
                    float: left;
                }
            }
        }

        $thumb_3_columns_label: ('columns-2', 'columns-3', 'columns-4');
        @for $i from 0 to length($thumb_3_columns_label) {
            &.woocommerce-product-gallery--#{nth($thumb_3_columns_label, $i+1)} {
                $column_width: 100%/($i+2);

                .woocommerce-product-gallery__image {

                    &:not(:first-child) {
                        width: $column_width;
                    }
                }
            }
        }
	}

	a {
		display: inline-block;
	  	margin-bottom: 24px;
	  	max-width: 100%;
	}

	.thumbnails a {
		float: left;
		width: 30.3%;
		margin-right: 4.5%;
		margin-bottom: 4.5%;

		&:nth-child(3n) {
			margin-right: 0;
		}
	}

}

.qodef-single-product-summary {
	width: 49%;
	display: inline-block;
  	float: left;
  	margin-bottom: 20px;

  	.qodef-single-product-title {
		display: inline-block;
		vertical-align: middle;
		width: 79.5%;
	}

  	.woocommerce-product-rating {
		display: inline-block;
		vertical-align: middle;
		width: 19.5%;
	}

	.summary .price {
		font-size: 22px;
		line-height: 36px;
		font-weight: 600;
		display: block;
		color: #797979;
		width: 100%;
		margin-bottom: 21px;
	}

	.cart {
		margin: 30px 0;
	}

  	.qodef-woocommerce-share-holder {
	  	margin-bottom: 40px;

	  	.qodef-woocommerce-share-title {
		  	color: #16171d;
		  	font-weight: 600;
		  	font-size: 15px;
		}

	  	.qodef-social-share-holder {
		  	display: inline-block;

		  	ul,
		  	li {
			  border: 0;
			}
			a {
			  font-size: 15px;
			  padding: 2px 6px;
			}
		  	a:hover {
			  background-color: transparent;
			  color: $first-main-color;
			}
		}
	}

  	.product_meta {
	  margin-top: 23px;
	}

	.product_meta > span {
	  	font-weight: 600;
	  	color: #16171d;
	  	font-size: 15px;
		display: block;
		margin-bottom: 3px;
	}

  	.product_meta > span > span,
	.product_meta > span > a{
	  	font-weight: 500;
	  	font-size: 14px;
	  	color: #797979;
	  	text-transform: capitalize;
	}

  	.product_meta > span > a:hover {
	  	color: $first-main-color;
	}

  	/* Variable product start */

	table.variations {
	  width: auto;

	  td {
		text-align: left;
		padding: 0;
		vertical-align: baseline;
	  }

	  td.label {
		font-family: Poppins, sans-serif;
		color: #101010;
		font-weight: 500;
		letter-spacing: -0.2px;
		padding-right: 19px;

		label {
		  position: relative;
		  padding-left: 18px;
		  &:before {
			position: absolute;
			content: "";
			width: 12px;
			height: 12px;
			display: inline-block;
			background-color: $first-main-color;
			left: 0;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			top: calc(50% - 2px);
			@include qodefTransform(translateY(-50%));
		  }
		}
	  }

	  td.value {
		padding-bottom: 15px;
	  }

	  tr {
		border: 0;
	  }

	  select {
		font-size: 13px;
		line-height: 24px;
		height: 30px;
		font-family: "Open Sans", sans-serif;
		border: 1px solid #d6d6d6;
		color: #8e8e8e;
	  }

	  .reset_variations {
		display: none !important;
	  }
	}
	.variations_button {
	  display: inline-block;
	}

  	/* Variable product end */
}

.star-rating {
  float: right;
  overflow: hidden;
  position: relative;
  height: 1.1em;
  line-height: 1em;
  font-size: 1.1em;
  width: 5.2em;
  font-family: 'star';
  color: $first-main-color;

  &:before {
	content: "\73\73\73\73\73";
	position: absolute;
	top: 0;
	left: 0;
  }

  span {
	height: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 1.5em;

	&:before {
	  content: "\53\53\53\53\53";
	  position: absolute;
	  top: 0;
	  left: 0;
	}
  }
}

.hreview-aggregate .star-rating {
  margin: 10px 0 0 0
}

.woocommerce-review-link {
  display: none;
}

.qodef-woocommerce-page {

  	.woocommerce-accordions {

		.qodef-title-holder {
		  	text-align: center;
		}

	  	&.qodef-boxed .qodef-title-holder {
		  	background-color: transparent;
		  	border: 2px solid #e6e6e6;
		  	@include qodefBorderRadiusPredefined();
			color: #222222;
			height: 46px;
			line-height: 46px;

		  	.qodef-tab-title {
			  padding: 0 20px;
			  text-align: center;
			}

		}

	  	&.qodef-boxed .qodef-title-holder.ui-state-active,
	 	&.qodef-boxed .qodef-title-holder.ui-state-hover {
		  	background-color: $first-main-color;
		  	border-color: $first-main-color;
		  	color: #fff;
		}

	  	.qodef-accordion-content {
		  	padding: 18px 0 12px;
		}

	  	.qodef-accordion-content h2 {
		  	display: none;
		}
	}

.qodef-related-products {
	clear: both;

  	h5 {
	  	margin: 0 0 25px 0;
		border-top: 1px solid #E6E6E6;
		padding-top: 24px;
	}
}

.upsells.products {
  h2 {
	margin: 0 0 25px;
	border-top: 1px solid #E6E6E6;
	padding-top: 24px;
	font-size: 19px;
	line-height: 1.4em;
	font-weight: 600;
	font-family: Raleway,sans-serif;
  }
}

}

.qodef-woocommerce-page {

  #reviews {

	.comment-respond .comment-reply-title,
	input[type='text'],
	input[type='email']{
	  	margin-bottom: 20px;
	}

	.comment-form-rating {
	  	margin-bottom: 13px;
	}

	.comment-form-rating label,
	.comment-form-comment label{
		margin-bottom: 5px;
		display: inline-block;
	}

	.stars {
	  	height: 16px;
	}

	.comment-form-rating .stars span {
		width: 80px;
		height: 16px;
		position: relative;
		float: left;
		background: url(img/star.png) repeat-x left 0;

	  	a {
			float: left;
			position: absolute;
			left: 0;
			top: 0;
			width: 16px;
			height: 0;
			padding-top: 16px;
			overflow: hidden;
		}

		a.star-1 {
		  width: 16px;
		  z-index: 10;
		}
		a.star-2 {
		  width: 32px;
		  z-index: 9;
		}
		a.star-3 {
		  width: 48px;
		  z-index: 8;
		}
		a.star-4 {
		  width: 64px;
		  z-index: 7;
		}
		a.star-5 {
		  width: 80px;
		  z-index: 6;
		}
		a:hover,
		a:focus {
		  background: url(img/star.png) repeat-x left -16px;
		}
	  	a.active {
		  &.star-1,
		  &.star-2,
		  &.star-3,
		  &.star-4,
		  &.star-5 {
			background: url(img/star.png) repeat-x left -16px;
		  }
		}
	}

	.commentlist {
	  	list-style-type: none;
	}

	.commentlist li{
	  	margin-bottom: 20px;
	  	padding-bottom: 30px;
	}

	.comment_container {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 100%;
	}

	.comment_container img {
		display: table-cell;
		width: 60px;
		height: 60px;
	}

	.comment-text {
		display: table-cell;
		vertical-align: top;
	  	width: 85%;
	  	position: relative;
	}

	.star-rating {
		position: absolute;
		left: 0;
	  	bottom: -25px;
	}
  }
}

/* Woocommerce single product - end
========================================================================== */

/* Woocommerce quantity buttons - begin
========================================================================== */

.qodef-woocommerce-page .qodef-quantity-buttons {
	display: inline-block;
  	border: 1px solid #b4b4b4;
  	@include qodefBorderRadiusPredefined();
  	vertical-align: middle;
  	margin-right: 17px;
  	line-height: 0;

	.qodef-quantity-minus,
	.qodef-quantity-plus {
		width: 36px;
		height: 36px;
		display: inline-block;
	  	color: #b4b4b4;
		background-color: transparent;
		font-size: 12px;
		line-height: 36px;
		text-align: center;
		cursor: pointer;
	 	vertical-align: middle;
	  	@include qodefTransition(color 0.15s ease-out);
	}

	.qodef-quantity-minus:hover,
	.qodef-quantity-plus:hover {
		color: #212121;
	}

	.qodef-quantity-minus i,
	.qodef-quantity-plus i {
	  	vertical-align: middle;
	}

	.qodef-quantity-input {
		height: 36px;
		width: 36px;
		display: inline-block;
		padding: 0;
		border: none;
		background-color: $first-main-color;
		text-align: center;
		color: #fff;
		font-size: 19px;
		line-height: 36px;
		font-weight: 700;
	  	vertical-align: middle;
	}

  	.qodef-quantity-input:focus {
	  	outline:none;
	}

}

/* Woocommerce quantity buttons - end
========================================================================== */

/* Woocommerce message - begin
========================================================================== */

.qodef-woocommerce-page {

	.woocommerce-message,
	.woocommerce-info,
	.woocommerce-error {
		margin-bottom: 25px;
		position: relative;
		display: block;
		padding: 8px 40px;
		background-color: #f6f6f5;
		line-height: 56px;
		color: #393939;
		font-size: 16px;
		font-weight: 300;

	}

	.woocommerce-message a {
		float: right;
	}
}

/* Woocommerce message - end
========================================================================== */

/* Woocommerce table - begin
========================================================================== */

.qodef-woocommerce-page {

	table.cart tr:last-child {
		border: none;
	}

	table td {
		vertical-align: middle;
	}

	td.product-thumbnail img {
		width: 80px;
	}

	td.product-remove {
		border-right: 1px solid #e0dede;
		font-size: 30px;
	  	padding: 5px 18px;
	}

	td.actions {
		padding: 25px 0;

		.coupon,
		.qodef-cart-proceed-update {
			float: left;
			width: 50%;
			display: inline-block;
			text-align: left;
		}

		.qodef-cart-proceed-update {
			text-align: right;
		}
	}

	.coupon {

		label {
			display: none;
		}

		input[type="text"] {
			width: 200px;
		}

	}

  	/* Empty cart page */

  	.cart-empty {
	  	text-align: center;
	  	font-size: 16px;
	  	margin-bottom: 15px;
	}

  	.return-to-shop {
	  	text-align: center;
	  	margin-bottom: 15px;
	}

  	.return-to-shop a {
	  display: inline-block;
	  position: relative;
	  outline: none;
	  font-style: normal;
	  font-weight: 800;
	  font-family: inherit;
	  padding: 0 35px;
	  font-size: 13px;
	  line-height: 48px;
	  text-transform: uppercase;
	  letter-spacing: 1px;
	  @include qodefBorderRadiusPredefined();
	  border: 2px solid #e6e6e6;
	  color: #707070;
	  background-color: transparent;
	  @include qodefTransition(
		  color 0.15s ease-out,
		  background-color 0.15s ease-out,
		  border-color 0.15s ease-out
	  );
	  @include qodefBoxSizing(border-box);
	  cursor: pointer;
	}

  	.return-to-shop a:hover {
	  color: #fff;
	  background-color: $first-main-color;
	  border-color: $first-main-color;
	}


}

/* Woocommerce table - end
========================================================================== */

/* Woocommerce shipping calculator - begin
========================================================================== */

.qodef-woocommerce-page {

	.qodef-shipping-calculator {
		width: 50%;
		display: inline-block;
		float: left;

		.form-row {
			width: 49%;
			margin-right: 2%;
			margin-bottom: 20px;
			float: left;
		}

		.form-row-last {
			margin-right: 0;
		}

		.form-row-wide {
			width: 100%;
		}


	}

}

/* Woocommerce shipping calculator - end
========================================================================== */

/* Woocommerce totals - begin
========================================================================== */

.qodef-woocommerce-page {

  	.cart-collaterals {
	  	margin-bottom: 20px;
	}

	.qodef-cart-totals {
		width: 30%;
		display: inline-block;
		float: right;

	  	.cart_totals {
		  	margin-bottom: 60px;
		}

	  	h2 {
			font-size: 19px;
			margin-bottom: 25px;
			letter-spacing: 0;
			text-transform: none;
		}

		table tr {
			border: none;
		  	text-align: left;
		}

		table th {
			border: none;
		  	text-align: left;
		}

	  	table td {
		  	text-align: left;
		}

	  	.order-total {
		  	color: $first-main-color;
		}

		#shipping_method {
			list-style: none;
		}
	}

}

/* Woocommerce totals - end
========================================================================== */

/* Woocommerce checkout - begin
========================================================================== */

.qodef-woocommerce-page {

	.woocommerce-checkout .col2-set:before,
	.woocommerce-checkout .col2-set:after {
		content: '';
		display: table;
	}

	.woocommerce-checkout .col2-set:after {
		clear: both;
	}

	.woocommerce-checkout .col-1,
	.woocommerce-checkout .col-2 {
		width: 49%;
		margin-right: 1%;
		display: inline-block;
		float: left;

		h3 {
			margin-bottom: 20px;
		}

		.form-row {
			width: 49%;
			margin-right: 2%;
			margin-bottom: 20px;
			float: left;
		}

		.form-row-last {
			margin-right: 0;
		}

		.form-row-wide,
		.form-row.notes {
			width: 100%;
		}

		.form-row label {
			display: none;
		}

		.form-row.create-account label {
		  display: inline-block;
		}
	}

	.woocommerce-checkout .col-2 {
		margin-left: 1%;
		margin-right: 0;
	}

  	.woocommerce-checkout h3 {
	  	margin-bottom: 20px;
	}

	 .login p {
		margin-bottom: 20px;
	   	float: left;
	 }

  	.login .form-row {
	  	margin-bottom: 20px;
	  	width: 40%;
	  	float: left;
	  	margin-right: 1.845018450184502%;

	  	label {
		  display: block;
		  margin-top: 20px;
		}

	  	a {
		  margin-left: 15px;
		}
	}


	.checkout_coupon {

	  margin-bottom: 20px;

	  input[type="text"] {
		width: 200px;
	  }

	  p {
		display: inline-block;
		vertical-align: top;
	  }
	}

  	.lost_reset_password {
	  margin-bottom: 25px;
	}

  	.checkout_coupon,
	.login .form-row,
	.form.track_order,
	.register,
	.lost_reset_password .form-row{

	  input[type='submit'] {
		display: inline-block;
		position: relative;
		outline: none;
		font-style: normal;
		font-weight: 800;
		font-family: inherit;
		padding: 0 35px;
		font-size: 13px;
		line-height: 48px;
		text-transform: uppercase;
		letter-spacing: 1px;
		@include qodefBorderRadiusPredefined();
		border: 2px solid #e6e6e6;
		color: #707070;
		background-color: transparent;
		@include qodefTransition(
			  color 0.15s ease-out,
			  background-color 0.15s ease-out,
			  border-color 0.15s ease-out
		);
		@include qodefBoxSizing(border-box);
		cursor: pointer;
	  }

	  input[type='submit']:hover {
		color: #fff;
		background-color: $first-main-color;
		border-color: $first-main-color;
	  }

	}

  	.lost_reset_password .form-row {

	  &.form-row-first {
		margin: 20px 0;

		label {
		  vertical-align: middle;
		  display: inline-block;
		  line-height: 50px;
		  padding-right: 15px;
		}

		input[type='text'] {
		  width: 50%;
		}
	  }
	}

  	.woocommerce-checkout-review-order-table {

	  th,
	  td{
		text-align: left;
		padding: 10px 10px 10px 20px;
	  }

	  tfoot {
		border: 1px solid #e6e6e6;
	  }

	  .order-total {
		color: $first-main-color;
	  }

	  #shipping_method {
	  	list-style: none;
	  }

	}

  	.woocommerce-checkout-payment {
	  	margin: 40px 0;

	  	ul {
		  list-style-type: none;
		}

	  	li {
		  	margin: 20px 0;
		}

	  	img {
		  display: block;
		}
	}

}

.woocommerce-edit-address,
.woocommerce-edit-account {
  input[type='submit'] {
	display: inline-block;
	position: relative;
	outline: none;
	font-style: normal;
	font-weight: 800;
	font-family: inherit;
	padding: 0 35px;
	font-size: 13px;
	line-height: 48px;
	text-transform: uppercase;
	letter-spacing: 1px;
	@include qodefBorderRadiusPredefined();
	border: 2px solid #e6e6e6;
	color: #707070;
	background-color: transparent;
	@include qodefTransition(
			color 0.15s ease-out,
			background-color 0.15s ease-out,
			border-color 0.15s ease-out
	);
	@include qodefBoxSizing(border-box);
	cursor: pointer;
	margin: 15px 0 44px 0;
  }

  input[type='submit']:hover {
	color: #fff;
	background-color: $first-main-color;
	border-color: $first-main-color;
  }
}

.woocommerce-checkout,
.woocommerce-account {
  address {
	margin: 0 0 44px;
  }

  h2,h3 {
	margin: 25px 0;
  }
}

.woocommerce-account {

	.u-columns.col2-set {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		margin-top: 70px;
		margin-bottom: 65px;

		.col-1{
			margin-right: 2%;
		}


		.col-1,
		.col-2 {
			width: 49%;
			display: inline-block;
			float: left;

				p.form-row-wide,
				p.form-row-wide {
					width: 100%;
				}
		}

		.login .form-row,
		.login p {
			margin-bottom: 15px;
		}

		.login .form-row label {
			margin-top: 0;
		}
	}

	.woocommerce-MyAccount-navigation,
    .woocommerce-MyAccount-content {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        float: left;
        @include qodefBoxSizing(border-box);
    }

    .woocommerce-MyAccount-navigation {
        width: 30%;
        padding: 0 30px 0 0;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            border-top: 1px solid #e6e6e6;

            li {
                margin: 0;
                padding: 10px 0;
                border-bottom: 1px solid #e6e6e6;

                &.is-active {

                    a {
                        color: $first-main-color;
                    }
                }

                a {
            	    font-size: 14px;
				    line-height: 16px;
				    font-weight: 600;
                	color: #222;

                	&:hover {
                		color: $first-main-color;
                	}
                }
            }
        }
    }

    .woocommerce-MyAccount-content {
        width: 70%;
        padding: 0 0 0 30px;
        margin: 0 0 40px;
    }

  .form-row {
	margin-bottom: 15px;
  }

  legend {
	font-size: 16px;
	margin-bottom: 10px;
	color: #222;
	font-weight: 700;
	font-family: Raleway,sans-serif;
  }
}

.woocommerce-view-order mark {
  background-color: #b2dd4c;
  color: #fff;
  padding: 3px;
}

/* Woocommerce checkout - end
========================================================================== */

.qodef-woocommerce-page {

  .woocommerce {

	.form-row,
	.coupon {

	  input[type="text"],
	  input[type="email"],
	  input[type="tel"],
	  input[type="password"],
	  textarea {
		width: 100%;
		padding: 15px;
		outline: 0;
		resize: none;
		font-family: inherit;
		line-height: 20px;
		background-color: #f6f6f5;
		color: #7f8385;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px solid #e9e9e9;
		font-size: 14px;
		vertical-align: top;
	  }
	}

	.coupon {
	  input[type="text"] {
		width: 50%;
	  }
	}
  }

}


/* Dropdown Shopping Cart */

.qodef-shopping-cart-outer{
	height: 100%;
	display: inline-block;
  	vertical-align: middle;
    
    .qodef-shopping-cart-inner{
        display: table;
	  	height: 100%;
        vertical-align: middle;
    }
    
    .qodef-shopping-cart-header{
        display: table-cell;
	  	vertical-align: middle;
	  	height: 100%;
        
        .qodef-header-cart{
            display: inline-block;
            position:relative;
            padding: 0 10px;
        }
        .qodef-header-cart i{
            color: #727272;
            font-size: 22px;
            @include qodefTransition(color .15s ease-out);
        }
	  	.qodef-header-cart:hover i {
		  	color: $first-main-color;
		}
        .qodef-cart-label {
            @include qodefTransition(color .15s ease);
			display: inline-block;
			width: 20px;
			height: 20px;
			line-height: 20px;
			position: absolute;
			top: -11px;
			right: -5px;
			text-align: center;
			background-color: #b2dd4c;
			color: #fff;
			@include qodefBorderRadiusPredefined();
			vertical-align: middle;
        }
    }
    
}

.qodef-shopping-cart-dropdown{
    background-color: #fff;
    box-sizing: border-box;
    left: auto;
    position: absolute;
    right: -1px;
    top: 100%;
    z-index: 1000;
    width: 300px;
	visibility: hidden;
    @include qodefTransition(opacity 0.3s ease-in-out);

  	.qodef-dropdown-top-stripe-holder {
	  display: block;
	  height: 7px;
	  line-height: 0;
	  width: 100%;
	  background-color: #b2dd4c;
	}

  	ul {
	  border: 2px solid #eaeaea;
	  border-top: 0;
	  @include qodefBorderRadius(0 0 3px 3px);
	}

    ul li {
		padding: 15px 15px 0;
		box-sizing: border-box;
		list-style-type: none;
        a {
            display: block;
            &:hover{
                color: $first-main-color;
            }
        }
    }
  	ul li .qodef-item-wrapper {
	  @include qodefTableLayout;
	  padding-bottom: 15px;
	  border-bottom: 1px solid #eaeaea;
	}
    ul li .qodef-item-image-holder{
        @include qodefTableCellLayout;
        width: 65px;
        img{
            vertical-align: middle;
        }
    }
    .qodef-item-info-holder {
        @include qodefTableCellLayout;
        padding-left: 20px;
        text-align: left;
    }
    .qodef-item-info-holder .qodef-item-left{
        float: left;
	  	width: 70%;
        a{
            color: #212121;
		  	font-size: 15px;
		  	font-weight: 600;
		  	margin-bottom: 2px;
        }
        a:hover{
            color: $first_main_color;
        }
    }
    .qodef-item-info-holder .qodef-item-right{
        float: right;
        text-align: right;
        
        .remove{
            color: #fff;
            background-color: #ededed;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            @include qodefBorderRadius(30px);
		  	font-size: 10px;
            &:hover{
                background-color: $first_main_color;
            }

		   i {
			top: 0;
		  }
        }
    }
    
    span.qodef-total span{
        color: $first_main_color;
        font-weight: 600;
        letter-spacing: 0;
    }
    .qodef-empty-cart{
        border:none;
        padding: 15px;
	  	color: #797979;
    }
    .qodef-cart-list a > img{       
        display: block;
    }
    span.qodef-quantity{
		color: #a8a8a8;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
	  	display: block;
    }
    .qodef-cart-bottom{
        padding:15px;
        .checkout,
        .view-cart{
            height: 40px;
            line-height: 40px;
		  	padding: 0 28px;
			text-transform: uppercase;
			font-size: 11px;
			font-weight: 800;
			letter-spacing: 0.8px;
		  	@include qodefBorderRadiusPredefined();
           	@include qodefTransition( background-color 0.15s ease-in-out,color 0.15s ease-in-out,border-color 0.15s ease-in-out);
        }
        .view-cart{
			float: left;
			border: 2px solid #bcbcbc;
			color: #797979;
			background-color: transparent;
            
            &:hover{
			  	border-color: $first-main-color;
                background-color: $first_main_color;
			  	color: #fff;
            }
        }
        .checkout{
            float: right;
            color: #fff;
		  	border: 2px solid $first-main-color;
            background-color: $first_main_color;
            
            &:hover{
                background-color: transparent;
			  	border-color: #bcbcbc;
			  	color: #707070;
            }
        }
        .qodef-subtotal-holder{
            margin: 0 0 20px 0;
            color: #000000;
        }
        
        .qodef-subtotal-holder .qodef-total{
            float:left;
		  	font-size: 14px;
			color: #797979;
			font-weight: 500;
        }
        
        .qodef-subtotal-holder .qodef-total-amount{
            float:right;
		  	font-size: 16px;
		  	font-weight: 700;
		  	color: $first-main-color;
        }
    }
}
.qodef-shopping-cart-outer:hover .qodef-shopping-cart-dropdown {
    display: block;
    visibility: visible;
    text-align: left;
}

.qodef-top-bar {
    
    .qodef-shopping-cart-outer{
        float: left;  
        position: relative;
        height: 40px;
        line-height: 40px;
        
        .qodef-shopping-cart-inner{
            display: block;
            height: 100%;
        }
        .qodef-shopping-cart-header{
            height: 100%;            
        }
    }       
}


@media only screen and (min-width: 1000px){
    .qodef-dark-header .qodef-shopping-cart-header .qodef-header-cart > i,
    .qodef-dark-header .qodef-shopping-cart-header .qodef-header-cart > span{
        color: $header-dark-color;
    }

    .qodef-light-header .qodef-shopping-cart-header .qodef-header-cart > i,
    .qodef-light-header .qodef-shopping-cart-header .qodef-header-cart > span{
        color: $header-light-color;
    }

  .qodef-dark-header .qodef-sticky-header .qodef-shopping-cart-header .qodef-header-cart > i,
  .qodef-light-header .qodef-sticky-header .qodef-shopping-cart-header .qodef-header-cart > i{
	color: #727272;
  }
  .qodef-light-header .qodef-sticky-header .qodef-shopping-cart-header .qodef-header-cart > span,
  .qodef-dark-header .qodef-sticky-header .qodef-shopping-cart-header .qodef-header-cart > span{
	color: #fff;
  }
}
.qodef-vertical-align-containers{
    
    .qodef-shopping-cart-header {
        padding: 0 10px;      
        i{
           vertical-align: middle;
           position: relative;
           top: -2px;
        }
    }
    
}
.qodef-vertical-menu-area .qodef-shopping-cart-dropdown{
	right: auto;
}


/* ==========================================================================
# Woocommerce style - end
========================================================================== */

/* Woocommerce price filter - start */

.widget_price_filter {

  .price_slider {
	background-color: #f2f2f2;
	position: relative;
	text-align: left;
	margin: 10px 0 20px;
	height: 10px;
  }

  .ui-slider-range {
	background-color: #b2dd4c;
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	top: 0;
	height: 100%;
  }

  .ui-slider-handle {
	background-color: #fff;
	position: absolute;
	z-index: 2;
	width: 12px;
	height: 12px;
	cursor: pointer;
	outline: 0;
	top: -4px;
	border-radius: 10px;
	margin-left: -2px;
	border: 3px solid #b2dd4c;
  }

  .ui-slider-handle:last-child {
	margin-left: -0.7em;
  }

  .price_slider_amount {
	margin-top: 23px;
  }

  .price_slider_amount .button {
	float: right;
	background-color: #b2dd4c;
	border: 2px solid #b2dd4c;
	color: #fff;
	display: inline-block;
	position: relative;
	outline: none;
	font-style: normal;
	font-weight: 800;
	font-family: inherit;
	padding: 0 35px;
	font-size: 13px;
	line-height: 35px;
	text-transform: uppercase;
	letter-spacing: 1px;
	@include qodefBorderRadiusPredefined();
	@include qodefTransition(
	  color 0.15s ease-out,
	  background-color 0.15s ease-out,
	  border-color 0.15s ease-out
	);
	cursor: pointer;
  }

  .price_slider_amount .button:hover {
	background-color: #212121;
	border-color: #212121;
	color: #fff;
  }

  .price_label {
	float: left;
	line-height: 38px;
	color: #adacac;
  }
}

/* Woocommerce price filter - end */

/* Woocommerce recently viewed products - start*/

.widget_recently_viewed_products,
.widget_products {

  .product_list_widget li {
	display: table;
	table-layout: fixed;
	width: 100%;
  }

  .qodef-product-list-widget-image-wrapper {
	  display: table-cell;
	  width: 28%;
	  line-height: 0;
	  vertical-align: top;
	  height: 100%;

	  a {
		display: inline-block;
		width: 100%;
	  }
  }

  .qodef-product-list-widget-info-wrapper {
	  display: table-cell;
	  height: 100%;
	  vertical-align: top;
	  padding-left: 15px;

	  a {
		display: block;
		font-size: 16px;
		font-weight: 600;
		color: #212121;
	  }
  }
}

/* Woocommerce recently viewed products - end*/



/* ==========================================================================
   Select 2 Script styles (Version: 4.0.6 ) - begin
   ========================================================================== */

$select2-input-fields-map: (
		input-fields-height: 48,
		input-fields-side-padding: 25,
		input-fields-margin-bottom: 12,
		input-fields-text-size: 14,
		input-fields-text-line-height: 42,
		input-fields-text-color: $default-text-color,
		input-fields-focus-text-color: $first-main-color,
		input-fields-background-color: transparent,
		input-fields-focus-background-color: transparent,
		input-fields-border-color: transparent,
		input-fields-focus-border-color: transparent,
		dropdown-background-color: #fafafa,
		dropdown-border-color: transparent,
		search-field-text-color: $default-text-color,
		search-field-focus-text-color: $first-main-color,
		search-field-background-color: #fff,
		search-field-focus-background-color: #fafafa,
		search-field-border-color: #ccc,
		search-field-focus-border-color: $first-main-color
);

body .select2-container--default { /* just to make sure that this code overwrite styles from others plugin */
	position: relative;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	margin: 0 0 #{map-get($select2-input-fields-map, 'input-fields-margin-bottom')}px;
	letter-spacing: 0;

	* {
		box-sizing: border-box;
	}

	&[dir="rtl"] {

		.select2-selection--single {

			.select2-selection__clear {
				float: left;
			}

			.select2-selection__rendered {
				padding: 0;
			}

			.select2-selection__arrow {
				left: 0;
				right: auto;
			}
		}

		.select2-selection--multiple {

			.select2-selection__choice,
			.select2-selection__placeholder,
			.select2-search--inline {
				float: right;
			}

			.select2-selection__rendered {
				padding: 0;
			}

			.select2-selection__choice {
				margin: 7px auto 0 5px;
			}

			.select2-selection__choice__remove {
				margin: 0 auto 0 3px;
			}
		}
	}

	&.select2-container--disabled {

		.select2-selection--single,
		.select2-selection--multiple {
			background-color: #ccc;
			cursor: default;

			.select2-selection__clear {
				display: none;
			}
		}

		.select2-selection__choice__remove {
			display: none;
		}
	}

	&.select2-container--open {

		.select2-selection--single,
		.select2-selection--multiple {
			color: map-get($select2-input-fields-map, 'input-fields-focus-text-color');
		}

		.select2-dropdown {
			left: 0;

			&.select2-dropdown--above {
				border-bottom-color: transparent;
			}

			&.select2-dropdown--below {
				border-top-color: transparent;
			}
		}
	}

	.select2-selection--single {
		display: block;
		height: #{map-get($select2-input-fields-map, 'input-fields-height')}px;
		padding: #{(map-get($select2-input-fields-map, 'input-fields-height') - map-get($select2-input-fields-map, 'input-fields-text-line-height')) / 2}px #{map-get($select2-input-fields-map, 'input-fields-side-padding')}px;
		padding: 0;
		margin: 0;
		font-family: inherit;
		font-size: #{map-get($select2-input-fields-map, 'input-fields-text-size')}px;
		line-height: #{map-get($select2-input-fields-map, 'input-fields-text-line-height')}px;
		font-weight: normal;
		color: map-get($select2-input-fields-map, 'input-fields-text-color');
		background-color: map-get($select2-input-fields-map, 'input-fields-background-color');
		border: 0;
		border-radius: 0;
		outline: none;
		cursor: pointer;
		user-select: none;

		&:hover{

			.select2-selection__rendered{
				color: $first-main-color;
			}
		}

		.select2-selection__rendered {
			display: block;
			padding: #{(map-get($select2-input-fields-map, 'input-fields-height') - map-get($select2-input-fields-map, 'input-fields-text-line-height')) / 2}px #{map-get($select2-input-fields-map, 'input-fields-side-padding')}px;
			line-height: inherit;
			color: inherit;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			transition: color .2s ease-out;
		}

		.select2-selection__clear {
			position: relative;
			float: right;
			margin: 0;
			font-weight: inherit;
			cursor: pointer;
		}

		.select2-selection__placeholder {
			color: inherit;
		}

		.select2-selection__arrow {
			position: absolute;
			top: 0;
			right: 0;
			width: 50px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			font-size: 16px;
			color: $default-text-color;

			b {
				display: none;
			}

			&:before {
				display: block;
				line-height: inherit;
				content: '\33';
				font-family: 'ElegantIcons';
				font-style: normal;
			}
		}
	}

	.select2-selection--multiple {
		display: block;
		height: #{map-get($select2-input-fields-map, 'input-fields-height')}px;
		padding: #{(map-get($select2-input-fields-map, 'input-fields-height') - map-get($select2-input-fields-map, 'input-fields-text-line-height')) / 2}px #{map-get($select2-input-fields-map, 'input-fields-side-padding')}px;
		padding: 0;
		margin: 0;
		font-family: inherit;
		font-size: #{map-get($select2-input-fields-map, 'input-fields-text-size')}px;
		line-height: #{map-get($select2-input-fields-map, 'input-fields-text-line-height')}px;
		font-weight: normal;
		color: map-get($select2-input-fields-map, 'input-fields-text-color');
		background-color: map-get($select2-input-fields-map, 'input-fields-background-color');
		border: 1px solid map-get($select2-input-fields-map, 'input-fields-border-color');
		border-radius: 0;
		outline: none;
		cursor: pointer;
		user-select: none;

		.select2-selection__rendered {
			list-style: none;
			display: block;
			padding: 0;
			line-height: inherit;
			color: inherit;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			li {
				margin: 0;
				padding: 0;
			}

			.select2-selection__placeholder {
				float: left;
				margin: 0;
				color: inherit;
			}

			.select2-selection__clear {
				position: relative;
				float: right;
				margin: 0;
				font-weight: inherit;
				cursor: pointer;
			}

			.select2-selection__choice {
				margin: 5px 5px 0 0;
				padding: 0 10px;
				float: left;
				color: #fff;
				background-color: $default-text-color;
				border: 0;
				border-radius: 0;
				cursor: default;
			}

			.select2-selection__choice__remove {
				display: inline-block;
				margin: 0 3px 0 0;
				font-weight: 700;
				color: inherit;
				transition: opacity .2s ease-out;
				cursor: pointer;

				&:hover {
					color: inherit;
					opacity: 0.8;
				}
			}
		}
	}

	.select2-search--inline {
		float: left;

		.select2-search__field {
			width: 100%;
			padding: 0 !important;
			margin: 0 !important;
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			color: inherit;
			border: none !important;
			outline: none;
			-webkit-appearance: none;

			&:focus {
				border-color: $default-text-color;
			}

			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
			}
		}
	}

	.select2-dropdown {
		position: absolute;
		top: 0;
		left: -100000px;
		display: block;
		width: 100%;
		background-color: map-get($select2-input-fields-map, 'dropdown-background-color');
		border: 1px solid map-get($select2-input-fields-map, 'dropdown-border-color');
		border-radius: 0;
		z-index: 1051;
	}

	.select2-search--dropdown {
		display: block;
		padding: 10px #{map-get($select2-input-fields-map, 'input-fields-side-padding')}px;

		&.select2-search--hide {
			display: none;
		}

		.select2-search__field {
			width: 100%;
			padding: 4px 8px;
			margin: 0;
			font-family: inherit;
			font-size: inherit;
			line-height: 20px;
			font-weight: inherit;
			color: map-get($select2-input-fields-map, 'search-field-text-color');
			background-color: map-get($select2-input-fields-map, 'search-field-background-color');
			border: 1px solid map-get($select2-input-fields-map, 'search-field-border-color');
			outline: none;
			-webkit-appearance: none;

			&:focus {
				color: map-get($select2-input-fields-map, 'search-field-focus-text-color');
				background-color: map-get($select2-input-fields-map, 'search-field-focus-background-color');
				border-color: map-get($select2-input-fields-map, 'search-field-focus-border-color');
			}

			&::-webkit-search-cancel-button {
				-webkit-appearance: none;
			}
		}
	}

	.select2-results {
		display: block;

		> .select2-results__options {
			max-height: 200px;
			overflow-y: auto;
		}
	}

	.select2-results__options {
		position: relative;
		margin: 5px 0;
		padding: #{(map-get($select2-input-fields-map, 'input-fields-height') - map-get($select2-input-fields-map, 'input-fields-text-line-height')) / 2}px #{map-get($select2-input-fields-map, 'input-fields-side-padding')}px;
		list-style: none;
	}

	.select2-results__option {
		padding: 0;
		font-size: #{map-get($select2-input-fields-map, 'input-fields-text-size')}px;
		line-height: #{map-get($select2-input-fields-map, 'input-fields-text-line-height')}px;
		user-select: none;
		transition: color .2s ease-out;

		&[aria-selected] {
			cursor: pointer;
		}

		&[role=group] {
			padding: 0;
		}

		&[aria-disabled=true] {
			color: $default-text-color;
		}

		&[aria-selected=true],
		&[data-selected=true] {
			color: map-get($select2-input-fields-map, 'input-fields-focus-text-color');
			background: none;
		}

		.select2-results__option {
			padding-left: 1em;

			.select2-results__group {
				padding-left: 0;
			}

			.select2-results__option {
				margin-left: -1em;
				padding-left: 2em;

				.select2-results__option {
					margin-left: -2em;
					padding-left: 3em;

					.select2-results__option {
						margin-left: -3em;
						padding-left: 4em;

						.select2-results__option {
							margin-left: -4em;
							padding-left: 5em;

							.select2-results__option {
								margin-left: -5em;
								padding-left: 6em;
							}
						}
					}
				}
			}
		}
	}

	.select2-results__option--highlighted {

		&[aria-selected] {
			color: map-get($select2-input-fields-map, 'input-fields-focus-text-color');
			background: none;
		}
	}

	.select2-results__group {
		display: block;
		padding: 7px 0;
		cursor: default;
	}
}

.select2-close-mask {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: auto;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	padding: 0;
	margin: 0;
	background-color: #fff;
	border: 0;
	opacity: 0;
	z-index: 99;
	filter: alpha(opacity=0);
}

.select2-hidden-accessible {
	position: absolute !important;
	width: 1px !important;
	height: 0 !important;
	padding: 0 !important;
	line-height: 1;
	border: 0 !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	clip: rect(0 0 0 0) !important;
	clip-path: inset(50%) !important;
}