/* ==========================================================================
# Woocommerce responsive style - begin
========================================================================== */

/* Woocommerce product list - begin
========================================================================== */

@import 'variables';
@import 'mixins';

.qodef-woocommerce-page {

	.woocommerce-result-count,
	.woocommerce-ordering {

		@include phone-portrait {
			width: 100%;
			margin-bottom: 2%;
		}

	}

	.woocommerce-result-count {

		@include  phone-portrait {
			text-align: center;
		}

	}

	.woocommerce-ordering {

		@include phone-portrait {
			display: block;
			float: none;
			margin: 0 auto;
		}

	}

}

.qodef-woocommerce-page.qodef-woocommerce-columns-4 {

	.products .product {

		@include ipad-landscape {
			width: 32%;
			margin-right: 2%;
			margin-bottom: 2%;

			&:nth-child(3n) {
				margin-right: 0;
			}

			&:nth-child(3n+1) {
				clear: both;
				margin-right: 2%;
			}

			&:nth-child(4n+1) {
				clear: none;
			}

		}

		@include ipad-portrait {
			width: 49%;
			margin-right: 2%;
			margin-bottom: 2%;

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(2n+1) {
				clear: both;
				margin-right: 2%;
			}

			&:nth-child(3n+1),
			&:nth-child(4n+1) {
				clear: none;
			}

		}

		@include phone-portrait {
			width: 100%;
			margin-right: 0;
			margin-bottom: 2%;
		}

	}

	.qodef-woocommerce-with-sidebar .products .product {

		@include ipad-landscape {
			width: 49%;
			margin-right: 2%;
			margin-bottom: 2%;

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(2n+1) {
				clear: both;
				margin-right: 2%;
			}

			&:nth-child(3n+1),
			&:nth-child(4n+1) {
				clear: none;
			}

		}

		@include ipad-portrait {
			width: 100%;
		}

	}

}

.qodef-woocommerce-page.qodef-woocommerce-columns-3 {

	.products .product {

		@include ipad-portrait {
			width: 49%;
			margin-right: 2%;
			margin-bottom: 2%;

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(2n+1) {
				clear: both;
				margin-right: 2%;
			}

			&:nth-child(3n+1),
			&:nth-child(4n+1) {
				clear: none;
			}

		}

		@include phone-portrait {
			width: 100%;
			margin-right: 0;
			margin-bottom: 2%;
		}

	}

	.qodef-woocommerce-with-sidebar .products .product{

		@include ipad-portrait {
			width: 100%;
		}

	}

}

/* Style for product list on default and full width page template - start
========================================================================== */

/* Without sidebar - start */

.woocommerce,
.woocommerce-page{

  @media only screen and (min-width: $laptop-landscape) {
	&.columns-6 ul.products li.product:nth-child(6n+1),
	&.columns-5 ul.products li.product:nth-child(5n+1),
	&.columns-4 ul.products li.product:nth-child(4n+1),
	&.columns-3 ul.products li.product:nth-child(3n+1),
	&.columns-2 ul.products li.product:nth-child(2n+1){
	  clear:both;
	}
  }


  @media only screen and (min-width: $laptop-landscape) and (max-width: 1600px) {
	&.columns-6 ul.products li.product{
	  width: 18.4%;
	  margin-right: 2%;
	}

	&.columns-6 ul.products li.first {
	  clear: none;
	}

	&.columns-6 ul.products li.last {
	  margin-right: 2%;
	}

	&.columns-6 ul.products li.product:nth-child(5n+5) {
	  margin-right: 0;
	}

	&.columns-6 ul.products li.product:nth-child(6n+1) {
	  clear: none;
	}
	&.columns-6 ul.products li.product:nth-child(5n+1){
	  clear:both;
	}
  }

  @media only screen and (min-width: 1025px) and (max-width: $laptop-landscape) {
	&.columns-5 ul.products li.product,
	&.columns-6 ul.products li.product{
	  width: 23.5%;
	  margin-right: 2%;
	}

	&.columns-5 ul.products li.first,
	&.columns-6 ul.products li.first {
	  clear: none;
	}

	&.columns-5 ul.products li.last,
	&.columns-6 ul.products li.last{
	  margin-right: 2%;
	}

	&.columns-5 ul.products li.product:nth-child(4n+4),
	&.columns-6 ul.products li.product:nth-child(4n+4) {
	  margin-right: 0;
	}

	&.columns-6 ul.products li.product:nth-child(5n+1),
	&.columns-5 ul.products li.product:nth-child(5n+1){
	  clear:none;
	}

	&.columns-6 ul.products li.product:nth-child(4n+1),
	&.columns-5 ul.products li.product:nth-child(4n+1){
	  clear:both;
	}
  }

  @include ipad-landscape {
	&.columns-3 ul.products li.product,
	&.columns-4 ul.products li.product,
	&.columns-5 ul.products li.product,
	&.columns-6 ul.products li.product {
	  width: 32%;
	  margin-right: 2%;
	}

	ul.products li.first {
	  clear: none;
	}

	ul.products li.last {
	  margin-right: 0;
	}

	ul.products li.product:nth-child(3n+3){
	  margin-right: 0;
	}

	&.columns-2 ul.products li.product:nth-child(3n+3){
	  margin-right: 2%;
	}

	&.columns-2 ul.products li.product:nth-child(6n+6) {
	  margin-right: 0;
	}

	&.columns-6 ul.products li.product:nth-child(4n+1),
	&.columns-5 ul.products li.product:nth-child(4n+1),
	&.columns-4 ul.products li.product:nth-child(4n+1){
	  clear:none;
	}

	&.columns-6 ul.products li.product:nth-child(3n+1),
	&.columns-5 ul.products li.product:nth-child(3n+1),
	&.columns-4 ul.products li.product:nth-child(3n+1),
	&.columns-3 ul.products li.product:nth-child(3n+1){
	  clear:both;
	}
  }

  @include ipad-portrait {
	&.columns-3 ul.products li.product,
	&.columns-4 ul.products li.product,
	&.columns-5 ul.products li.product,
	&.columns-6 ul.products li.product {
	  width: 49%;
	  margin-right: 2%;
	}

	ul.products li.first {
	  clear: none;
	}

	ul.products li.product:nth-child(3n+3) {
	  margin-right: 2%;
	}

	ul.products li.product:nth-child(2n+2),
	ul.products li.product:nth-child(6n+6){
	  margin-right: 0;
	}

	&.columns-6 ul.products li.product:nth-child(3n+1),
	&.columns-5 ul.products li.product:nth-child(3n+1),
	&.columns-4 ul.products li.product:nth-child(3n+1),
	&.columns-3 ul.products li.product:nth-child(3n+1){
	  clear:none;
	}

	&.columns-6 ul.products li.product:nth-child(2n+1),
	&.columns-5 ul.products li.product:nth-child(2n+1),
	&.columns-4 ul.products li.product:nth-child(2n+1),
	&.columns-3 ul.products li.product:nth-child(2n+1){
	  clear:both;
	}
  }

  @include phone-portrait {
	  &.columns-2 ul.products li.product,
	  &.columns-3 ul.products li.product,
	  &.columns-4 ul.products li.product,
	  &.columns-5 ul.products li.product,
	  &.columns-6 ul.products li.product {
		width: 100%;
		margin-right: 0;
	  }
  }
}

/* Without sidebar - end */

/* Five and six columns when page template is default - start */

.page-template-default {
  .woocommerce,
  .woocommerce-page {

	@media only screen and (min-width: $laptop-landscape) {
	  &.columns-6 ul.products li.product:nth-child(4n+1),
	  &.columns-5 ul.products li.product:nth-child(4n+1),
	  &.columns-4 ul.products li.product:nth-child(4n+1),
	  &.columns-3 ul.products li.product:nth-child(3n+1),
	  &.columns-2 ul.products li.product:nth-child(2n+1){
		clear:both;
	  }

	  &.columns-6 ul.products li.product:nth-child(6n+1),
	  &.columns-5 ul.products li.product:nth-child(5n+1) {
		clear: none;
	  }
	}

	@media only screen and (min-width: $laptop-landscape) and (max-width: 1600px) {
	  ul.products li.product:nth-child(5n+5) {
		margin-right: 2%;
	  }

	  &.columns-2 ul.products li.product:nth-child(10n+10),
	  &.columns-3 ul.products li.product:nth-child(15n+15){
		margin-right: 0;
	  }

	  ul.products li.first {
		clear: none;
	  }

	  &.columns-6 ul.products li.product:nth-child(6n+1),
	  &.columns-6 ul.products li.product:nth-child(5n+1){
		clear: none;
	  }

	  &.columns-6 ul.products li.product:nth-child(4n+1){
		clear: both;
	  }
	}

	@media only screen and (min-width: $ipad-portrait) and (max-width: $laptop-landscape) {
	  &.columns-4 ul.products li.product,
	  &.columns-5 ul.products li.product,
	  &.columns-6 ul.products li.product {
		width: 32%;
		margin-right: 2%;
	  }

	  ul.products li.first {
		clear: none;
	  }

	  &.columns-5 ul.products li.product:nth-child(4n+4),
	  &.columns-6 ul.products li.product:nth-child(4n+4),
	  &.columns-2 ul.products li.product:nth-child(3n+3){
		margin-right: 2%;
	  }

	  &.columns-5 ul.products li.product:nth-child(12n+12),
	  &.columns-6 ul.products li.product:nth-child(12n+12),
	  &.columns-2 ul.products li.product:nth-child(6n+6),
	  ul.products li.product:nth-child(3n+3){
		margin-right: 0;
	  }

	  &.columns-6 ul.products li.product:nth-child(4n+1),
	  &.columns-5 ul.products li.product:nth-child(4n+1),
	  &.columns-4 ul.products li.product:nth-child(4n+1){
		clear:none;
	  }

	  &.columns-6 ul.products li.product:nth-child(3n+1),
	  &.columns-5 ul.products li.product:nth-child(3n+1),
	  &.columns-4 ul.products li.product:nth-child(3n+1){
		clear:both;
	  }
	}

	@include phone-landscape {
	  &.columns-2 ul.products li.product,
	  &.columns-3 ul.products li.product,
	  &.columns-4 ul.products li.product,
	  &.columns-5 ul.products li.product,
	  &.columns-6 ul.products li.product {
		width: 100%;
		margin-right: 0;
	  }
	}
  }
}

/* Five and six columns when page template is default - end */

/* All columns when page template is default or full width with sidebar - start */

.page-template-default,
.page-template-full-width {
  .qodef-two-columns-66-33,
  .qodef-two-columns-75-25 {
	  .woocommerce,
	  .woocommerce-page {

		@media only screen and (min-width: $laptop-landscape) {

		  &.columns-6 ul.products li.product:nth-child(6n+1),
		  &.columns-6 ul.products li.product:nth-child(5n+1),
		  &.columns-6 ul.products li.product:nth-child(4n+1),
		  &.columns-5 ul.products li.product:nth-child(5n+1),
		  &.columns-5 ul.products li.product:nth-child(4n+1),
		  &.columns-4 ul.products li.product:nth-child(4n+1),
		  &.columns-4 ul.products li.product:nth-child(3n+1),
		  &.columns-3 ul.products li.product:nth-child(3n+1){
			clear: none;
		  }

		  &.columns-6 ul.products li.product:nth-child(3n+1),
		  &.columns-5 ul.products li.product:nth-child(3n+1),
		  &.columns-4 ul.products li.product:nth-child(3n+1),
		  &.columns-3 ul.products li.product:nth-child(2n+1),
		  &.columns-2 ul.products li.product:nth-child(2n+1){
			clear:both;
		  }
		}

		@media only screen and (max-width: $laptop-landscape) {

		ul.products li.first {
		  clear: none;
		}

		ul.products li.last {
		  margin-right: 2%;
		}

		/* Important is because too much combination exists when
		sidebar is active and there are three, four, five or six columns */

		&.columns-2 ul.products li.product,
		&.columns-3 ul.products li.product,
		&.columns-4 ul.products li.product,
		&.columns-5 ul.products li.product,
		&.columns-6 ul.products li.product {
		  width: 49%;
		  margin-right: 2% !important;
		}

		ul.products li.product:nth-child(2n+2) {
		  margin-right: 0 !important;
		}

		&.columns-6 ul.products li.product:nth-child(6n+1),
		&.columns-6 ul.products li.product:nth-child(5n+1),
		&.columns-6 ul.products li.product:nth-child(4n+1),
		&.columns-6 ul.products li.product:nth-child(3n+1),
		&.columns-5 ul.products li.product:nth-child(5n+1),
		&.columns-5 ul.products li.product:nth-child(4n+1),
		&.columns-5 ul.products li.product:nth-child(3n+1),
		&.columns-4 ul.products li.product:nth-child(4n+1),
		&.columns-4 ul.products li.product:nth-child(3n+1),
		&.columns-3 ul.products li.product:nth-child(3n+1){
		  clear: none;
		}

		&.columns-6 ul.products li.product:nth-child(2n+1),
		&.columns-5 ul.products li.product:nth-child(2n+1),
		&.columns-4 ul.products li.product:nth-child(2n+1),
		&.columns-3 ul.products li.product:nth-child(2n+1),
		&.columns-2 ul.products li.product:nth-child(2n+1){
		  clear:both;
		}
	  }
	}
  }
}

@media only screen and (max-width: $phone-portrait) {
  .page-template-full-width {

	.qodef-two-columns-66-33,
	.qodef-two-columns-75-25 {

	  .woocommerce,
	  .woocommerce-page {

		/* Important is because too much combination exists when
		sidebar is active and there are three, four, five or six columns */

		&.columns-2 ul.products li.product,
		&.columns-3 ul.products li.product,
		&.columns-4 ul.products li.product,
		&.columns-5 ul.products li.product,
		&.columns-6 ul.products li.product {
		  width: 100%;
		  margin-right: 0 !important;
		}
	  }
	}
  }
}

@media only screen and (max-width: $phone-landscape) {
  .page-template-default {
	.qodef-two-columns-66-33,
	.qodef-two-columns-75-25 {

	  .woocommerce,
	  .woocommerce-page {

		/* Important is because too much combination exists when
		sidebar is active and there are three, four, five or six columns */

		&.columns-2 ul.products li.product,
		&.columns-3 ul.products li.product,
		&.columns-4 ul.products li.product,
		&.columns-5 ul.products li.product,
		&.columns-6 ul.products li.product {
		  width: 100%;
		  margin-right: 0 !important;
		}
	  }
	}
  }
}

/* All columns when page template is default or full width with sidebar - end */

/* Style for product list on default and full width page template - end
========================================================================== */

/* Woocommerce product list - end
========================================================================== */

/* Woocommerce single product - begin
========================================================================== */

.qodef-single-product-images,
.qodef-single-product-summary {
	@include ipad-portrait {
		width: 100%;
		margin: 0;
	}
}
.qodef-single-product-summary {
  @include ipad-portrait {
	margin-bottom: 20px;
  }
}

/* Woocommerce single product - end
========================================================================== */

/* Woocommerce quantity buttons - begin
========================================================================== */

.qodef-woocommerce-page td.product-quantity .qodef-quantity-buttons  {

	.qodef-quantity-minus,
	.qodef-quantity-plus,
	.qodef-quantity-input {
		
		@include phone-landscape {
			width: 22px;
			height: 22px;
			line-height: 22px;
		  	font-size: 10px;
		  	display: block;
		}

	}

  	.qodef-quantity-input {
	  	font-size: 14px;
	}

}

/* Woocommerce quantity buttons - end
========================================================================== */

/* Woocommerce table - begin
========================================================================== */

.qodef-woocommerce-page {

	table td {
		@include phone-landscape {
			padding: 5px 5px;
		}

	}

	td.product-thumbnail img{
		@include phone-portrait {
			display: none;
		}
	}

	td.actions {

		.coupon,
		.qodef-cart-proceed-update {
			@include ipad-landscape {
				width: 100%;
				margin-bottom: 20px;
			}
		}

		.qodef-cart-proceed-update .checkout-button {
			@include phone-landscape {
				margin-bottom: 10px;
			}
		}
	}

	.coupon {

		input[type="text"] {
			@include ipad-portrait {
				width: 150px;
			}
		}

	}

	td.actions {

	  .coupon input[type=submit].qodef-btn {
		@include phone-portrait {
		  margin-top: 15px;
		}
	  }
	}
}

/* Woocommerce table - end
========================================================================== */

/* Woocommerce shipping calculator - begin
========================================================================== */

.qodef-woocommerce-page {

	.qodef-shipping-calculator {

		@include phone-landscape {
			width: 100%;
			margin-bottom: 25px;
		}

	}

}

/* Woocommerce shipping calculator - end
========================================================================== */

/* Woocommerce totals - begin
========================================================================== */

.qodef-woocommerce-page {

	.qodef-cart-totals {
		@include phone-landscape {
			width: 100%;
		}
	}

}

/* Woocommerce totals - end
========================================================================== */

/* Woocommerce checkout - begin
========================================================================== */

.qodef-woocommerce-page {

	.woocommerce-checkout .col-1,
	.woocommerce-checkout .col-2 {
		@include ipad-portrait {
			width: 100%;
		}
	}

  .checkout_coupon p {
	@include phone-portrait {
	  margin-top: 10px;
	}
  }

  @include ipad-portrait {
	.lost_reset_password .form-row {

	  &.form-row-first {

		label {
		  display: block;
		}

		input[type='text'] {
		  width: 100%;
		}
	  }
	}
  }

  .login .form-row {
	@include ipad-landscape {
	  width: 45%;
	}
	@include ipad-portrait {
	  width: 100%;
	  margin-right: 0;
	}
  }
}

@media only screen and (max-width: $ipad-landscape) {

    .qodef-woocommerce-page.woocommerce-account {

        .woocommerce-MyAccount-navigation {
            width: 28%;
            padding: 0 15px 0 0;
        }

        .woocommerce-MyAccount-content {
            width: 72%;
            padding: 0 0 0 15px;
        }
		.u-columns.col2-set .col-1,
		.u-columns.col2-set .col-2 {
			width: 100%;
		}
    }
}   

@media only screen and (max-width: $ipad-portrait) {
    
    .qodef-woocommerce-page.woocommerce-account {

        .woocommerce-MyAccount-navigation,
        .woocommerce-MyAccount-content {
            float: none;
            width: 100%;
            padding: 0;
        }

        .woocommerce-MyAccount-content {
            margin: 50px 0;
        }
    }
}

/* Woocommerce checkout - end
========================================================================== */

/* Woocommerce dropdown cart - begin
========================================================================== */

@media only screen and (max-width: $ipad-landscape) {
    .qodef-shopping-cart-outer:hover{
        .qodef-shopping-cart-dropdown{
            display: none;
            visibility: hidden;
        }
    }
    .qodef-top-bar .qodef-shopping-cart-outer{
        float: none;
    }    
}

@media only screen and (max-width: $smaller-phone-portrait) {
    .qodef-shopping-cart-outer{
        display: none;
    }
}

/* Woocommerce dropdown cart - begin
========================================================================== */
/* ==========================================================================
# Woocommerce responsive style - end
========================================================================== */