@media only screen and (max-width: 1200px) {
  .qodef-grid,
  .qodef-container-inner,
  .qodef-grid-section .qodef-section-inner,
  .qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-content-wrapper,
  .qodef-slider .carousel-inner .qodef-slider-content-outer,
  #qodef-particles .qodef-p-content {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-grid,
  .qodef-container-inner,
  .qodef-grid-section .qodef-section-inner,
  .qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-content-wrapper,
  .qodef-slider .carousel-inner .qodef-slider-content-outer,
  #qodef-particles .qodef-p-content {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-grid,
  .qodef-container-inner,
  .qodef-grid-section .qodef-section-inner,
  .qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-content-wrapper,
  .qodef-slider .carousel-inner .qodef-slider-content-outer,
  #qodef-particles .qodef-p-content {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .qodef-grid,
  .qodef-container-inner,
  .qodef-grid-section .qodef-section-inner,
  .qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-content-wrapper,
  .qodef-slider .carousel-inner .qodef-slider-content-outer,
  #qodef-particles .qodef-p-content {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-grid,
  .qodef-container-inner,
  .qodef-grid-section .qodef-section-inner,
  .qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-content-wrapper,
  .qodef-slider .carousel-inner .qodef-slider-content-outer,
  #qodef-particles .qodef-p-content {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .qodef-grid,
  .qodef-container-inner,
  .qodef-grid-section .qodef-section-inner,
  .qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-content-wrapper,
  .qodef-slider .carousel-inner .qodef-slider-content-outer,
  #qodef-particles .qodef-p-content {
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) {
  .qodef-boxed .qodef-wrapper .qodef-wrapper-inner,
  .qodef-boxed .qodef-wrapper .qodef-footer-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-boxed .qodef-wrapper .qodef-wrapper-inner,
  .qodef-boxed .qodef-wrapper .qodef-footer-inner {
    width: 818px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-boxed .qodef-wrapper .qodef-wrapper-inner,
  .qodef-boxed .qodef-wrapper .qodef-footer-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .qodef-boxed .qodef-wrapper .qodef-wrapper-inner,
  .qodef-boxed .qodef-wrapper .qodef-footer-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-boxed .qodef-wrapper .qodef-wrapper-inner,
  .qodef-boxed .qodef-wrapper .qodef-footer-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .qodef-boxed .qodef-wrapper .qodef-wrapper-inner,
  .qodef-boxed .qodef-wrapper .qodef-footer-inner {
    width: 96%;
  }
}

@media only screen and (min-width: 1314px) and (max-width: 1490px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-grid-section .qodef-section-inner,
  .qodef-header-vertical .qodef-slider .carousel-inner .qodef-slider-content-outer {
    width: 950px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1314px) {
  .qodef-header-vertical .qodef-grid,
  .qodef-header-vertical .qodef-container-inner,
  .qodef-header-vertical .qodef-grid-section .qodef-section-inner,
  .qodef-header-vertical .qodef-slider .carousel-inner .qodef-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-content {
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-two-columns-50-50 .qodef-column,
  .qodef-two-columns-66-33 .qodef-column,
  .qodef-two-columns-75-25 .qodef-column,
  .qodef-three-columns .qodef-column {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-section-inner-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-two-columns-50-50 .qodef-column,
  .qodef-two-columns-66-33 .qodef-column1,
  .qodef-two-columns-66-33 .qodef-column2,
  .qodef-two-columns-65-35 .qodef-column1,
  .qodef-two-columns-65-35 .qodef-column2,
  .qodef-two-columns-33-66 .qodef-column1,
  .qodef-two-columns-33-66 .qodef-column2,
  .qodef-two-columns-25-75 .qodef-column1,
  .qodef-two-columns-25-75 .qodef-column2,
  .qodef-two-columns-75-25 .qodef-column1,
  .qodef-two-columns-75-25 .qodef-column2,
  .qodef-three-columns .qodef-column,
  .qodef-four-columns .qodef-column {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-page-header {
    display: none;
  }
  .qodef-mobile-header {
    display: block;
  }
  .qodef-header-vertical .qodef-vertical-menu-area {
    display: none;
  }
  .qodef-header-vertical .qodef-content,
  .qodef-header-vertical footer {
    padding-left: 0;
  }
  .qodef-header-vertical .carousel-inner {
    left: 0 !important;
    width: 100%;
  }
  .qodef-top-bar-mobile-hide .qodef-top-bar {
    display: none;
    height: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .qodef-drop-down .wide .second > .inner > ul {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-drop-down .wide .second > .inner > ul {
    width: 768px;
  }
}

@media only screen and (max-width: 1200px) {
  .qodef-boxed .qodef-page-header .qodef-sticky-header,
  .qodef-boxed .qodef-page-header .qodef-fixed-wrapper.fixed {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .qodef-boxed.qodef-sticky-up-mobile-header .mobile-header-appear .qodef-mobile-header-inner {
    width: 96%;
  }
}

/* ==========================================================================
  Footer top responsive - start
========================================================================== */
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  footer .qodef-four-columns .qodef-column {
    padding: 30px;
  }
  footer .qodef-four-columns .qodef-column:first-child {
    padding-left: 30px;
  }
  footer .qodef-four-columns .qodef-column:last-child {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  footer .qodef-footer-top .qodef-column {
    min-height: initial !important;
  }
  footer .qodef-footer-top .qodef-column:nth-child(2n+2) {
    border-right: 0;
  }
  footer .qodef-four-columns .qodef-column {
    width: 49.5%;
    float: none;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 50px;
    padding: 0 30px;
  }
  footer .qodef-four-columns .qodef-column:first-child {
    padding-left: 30px;
  }
  footer .qodef-four-columns .qodef-column:last-child {
    padding-right: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .qodef-column:nth-child(n+3) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  footer .qodef-four-columns .qodef-column {
    width: 100%;
    text-align: center;
    border-right: 0;
  }
  footer .qodef-column:last-child {
    margin-bottom: 0;
  }
}

/* ==========================================================================
# Footer top responsive - end
========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-title.qodef-has-background {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    height: auto !important;
    padding: 0 !important;
  }
  .qodef-title.qodef-title-image-not-responsive .qodef-title-image {
    display: block;
  }
  .qodef-title .qodef-title-holder {
    height: 100% !important;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 !important;
  }
  .qodef-title .qodef-title-holder .qodef-container {
    display: block;
    height: 100%;
  }
  .qodef-title .qodef-title-holder .qodef-container-inner {
    display: table;
    height: 100%;
  }
  .qodef-title .qodef-title-holder .qodef-title-subtitle-holder {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  .qodef-title .qodef-title-subtitle-holder {
    padding: 0px !important;
  }
  .qodef-title .qodef-title-holder .qodef-title-breadcrumbs-holder h1,
  .qodef-title .qodef-title-holder .qodef-title-breadcrumbs-holder .qodef-breadcrumbs-holder {
    display: block;
    float: none;
  }
  .qodef-title .qodef-title-breadcrumbs-holder h1 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-title.qodef-breadcrumb-type {
    min-height: 220px;
  }
  .qodef-title .qodef-title-holder h1 {
    font-size: 40px;
    line-height: 1.1em;
  }
  .qodef-title .qodef-subtitle {
    font-size: 16px;
    line-height: 1.2em;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-side-menu-slide-with-content .qodef-side-menu {
    width: 100%;
    right: -100%;
  }
  .qodef-side-menu-slide-from-right .qodef-side-menu {
    width: 100%;
    right: -100%;
  }
}

/* ==========================================================================
   Elements Holder Responsive start style
   ========================================================================== */
@media only screen and (max-width: 1280px) {
  .qodef-elements-holder.qodef-responsive-mode-1280.qodef-two-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-1280.qodef-three-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-1280.qodef-four-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-1280.qodef-five-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-1280.qodef-six-columns .qodef-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-elements-holder.qodef-responsive-mode-1024.qodef-two-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-1024.qodef-three-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-1024.qodef-four-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-1024.qodef-five-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-1024.qodef-six-columns .qodef-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-elements-holder.qodef-responsive-mode-768.qodef-two-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-768.qodef-three-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-768.qodef-four-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-768.qodef-five-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-768.qodef-six-columns .qodef-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .qodef-elements-holder.qodef-responsive-mode-600.qodef-two-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-600.qodef-three-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-600.qodef-four-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-600.qodef-five-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-600.qodef-six-columns .qodef-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-elements-holder.qodef-responsive-mode-480.qodef-two-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-480.qodef-three-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-480.qodef-four-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-480.qodef-five-columns .qodef-elements-holder-item, .qodef-elements-holder.qodef-responsive-mode-480.qodef-six-columns .qodef-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .qodef-elements-holder .qodef-elements-holder-item-content {
    /* Important is placed because padding can be inlined through shortcode */
    padding: 0 10px !important;
  }
}

@media only screen and (max-width: 1280px) {
  .qodef-elements-holder.qodef-responsive-mode-1280.qodef-one-column-alignment-left .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: left;
  }
  .qodef-elements-holder.qodef-responsive-mode-1280.qodef-one-column-alignment-right .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: right;
  }
  .qodef-elements-holder.qodef-responsive-mode-1280.qodef-one-column-alignment-center .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-elements-holder.qodef-responsive-mode-1024.qodef-one-column-alignment-left .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: left;
  }
  .qodef-elements-holder.qodef-responsive-mode-1024.qodef-one-column-alignment-right .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: right;
  }
  .qodef-elements-holder.qodef-responsive-mode-1024.qodef-one-column-alignment-center .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-elements-holder.qodef-responsive-mode-768.qodef-one-column-alignment-left .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: left;
  }
  .qodef-elements-holder.qodef-responsive-mode-768.qodef-one-column-alignment-right .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: right;
  }
  .qodef-elements-holder.qodef-responsive-mode-768.qodef-one-column-alignment-center .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .qodef-elements-holder.qodef-responsive-mode-600.qodef-one-column-alignment-left .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: left;
  }
  .qodef-elements-holder.qodef-responsive-mode-600.qodef-one-column-alignment-right .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: right;
  }
  .qodef-elements-holder.qodef-responsive-mode-600.qodef-one-column-alignment-center .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-elements-holder.qodef-responsive-mode-480.qodef-one-column-alignment-left .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: left;
  }
  .qodef-elements-holder.qodef-responsive-mode-480.qodef-one-column-alignment-right .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: right;
  }
  .qodef-elements-holder.qodef-responsive-mode-480.qodef-one-column-alignment-center .qodef-elements-holder-item .qodef-elements-holder-item-content {
    text-align: center;
  }
}

/* ==========================================================================
   End of Elements Holder Responsive style
   ========================================================================== */
/* ==========================================================================
   Google Map start style
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-google-map-overlay {
    display: block;
  }
}

/* ==========================================================================
   End of Google Map style
   ========================================================================== */
/* ==========================================================================
# Team responsive style - begin
========================================================================== */
/* ==========================================================================
# Team responsive style - end
========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 1200px) {
  .qodef-team.main-info-below-image .qodef-circle-animate,
  .qodef-team.main-info-below-image .qodef-team-position-icon {
    top: 8%;
    right: 8%;
  }
}

/* ==========================================================================
# Call to action responsive style - begin
========================================================================== */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .qodef-call-to-action .qodef-call-to-action-row-75-25 .qodef-call-to-action-column1 {
    width: 65%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .qodef-call-to-action .qodef-call-to-action-row-75-25 .qodef-call-to-action-column2 {
    width: 35%;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-call-to-action .qodef-call-to-action-cell {
    display: block;
    text-align: center !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-call-to-action .qodef-text-wrapper .qodef-call-to-action-icon-holder {
    position: relative;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-call-to-action .qodef-text-wrapper .qodef-call-to-action-icon {
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-call-to-action .qodef-text-wrapper .qodef-call-to-action-text {
    text-align: center;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-call-to-action .qodef-container-inner {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-call-to-action.with-icon {
    padding: 0;
  }
}

/* ==========================================================================
# Call to action responsive style - end
========================================================================== */
/* ==========================================================================
# Counter responsive style - begin
========================================================================== */
/* ==========================================================================
# Counter responsive style - end
========================================================================== */
/* ==========================================================================
# Countdown responsive style - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .countdown-amount {
    font-size: 50px !important;
    line-height: 50px !important;
  }
}

@media only screen and (max-width: 600px) {
  .countdown-amount {
    font-size: 35px !important;
    line-height: 35px !important;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .countdown-period {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 600px) {
  .countdown-period {
    font-size: 10px !important;
  }
}

/* ==========================================================================
# Countdown responsive style - end
========================================================================== */
/* ==========================================================================
# Message responsive style - begin
========================================================================== */
/* Unique style for both types  - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .qodef-message {
    padding: 20px 22px;
  }
}

@media screen and (max-width: 320px) {
  .qodef-message .qodef-message-text {
    line-height: normal;
  }
}

/* Unique style for both types - end
========================================================================== */
/* Type with icon - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .qodef-message.qodef-with-icon .qodef-message-icon-holder {
    padding: 20px 22px;
  }
}

/* Type with icon - end
========================================================================== 
/* ==========================================================================
# Message responsive style - end
========================================================================== */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .qodef-vertical-menu-area .qodef-pricing-tables.qodef-four-columns .qodef-price-table {
    width: 48.75%;
    margin-bottom: 45px;
  }
  .qodef-vertical-menu-area .qodef-pricing-tables.qodef-four-columns .qodef-price-table:nth-child(2n+1) {
    margin-left: 0;
    clear: both;
  }
  .qodef-pricing-tables.qodef-four-columns .qodef-price-in-table .qodef-price {
    font-size: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-pricing-tables.qodef-four-columns .qodef-price-table {
    width: 48.75%;
    margin-bottom: 45px;
  }
  .qodef-pricing-tables.qodef-four-columns .qodef-price-table:nth-child(2n+1) {
    margin-left: 0;
    clear: both;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .qodef-pricing-tables.qodef-three-columns .qodef-price-table {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .qodef-pricing-tables.qodef-three-columns .qodef-price-table.qodef-active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {
  .qodef-pricing-tables .qodef-price-table {
    width: 100% !important;
    margin-left: 0;
    margin-bottom: 15px;
  }
  .qodef-pricing-tables .qodef-price-table.qodef-active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  .qodef-tabs .qodef-tabs-nav,
  .qodef-tabs .qodef-tab-container {
    width: 100%;
  }
  .qodef-tabs .qodef-tabs-nav li,
  .qodef-tabs.qodef-horizontal .qodef-tabs-nav li {
    float: none;
    display: block;
  }
  .qodef-tabs.qodef-horizontal .qodef-tabs-nav li,
  .qodef-tabs.qodef-horizontal .qodef-tabs-nav li:first-child {
    margin: 0 0 10px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-accordion-holder:not(.qodef-boxed) div.qodef-accordion-content {
    padding: 0;
  }
  .qodef-accordion-holder:not(.qodef-boxed) span.qodef-tab-title {
    padding: 0 0 0 58px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-blog-list-holder.qodef-masonry .qodef-blog-list-masonry-grid-sizer,
  .qodef-blog-list-holder.qodef-masonry .qodef-blog-list-masonry-item {
    width: 49%;
  }
  .qodef-blog-list-holder.qodef-masonry .qodef-blog-list-masonry-grid-gutter {
    width: 2%;
  }
  .qodef-blog-list-holder.qodef-boxes.qodef-four-columns > ul > li {
    width: 49%;
    margin: 0 2% 25px 0;
  }
  .qodef-blog-list-holder.qodef-boxes.qodef-four-columns > ul > li:nth-child(2n) {
    margin: 0 0 25px;
  }
  .qodef-blog-list-holder.qodef-boxes.qodef-four-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .qodef-vertical-menu-area .qodef-blog-list-holder.qodef-boxes.qodef-two-columns > ul > li,
  .qodef-vertical-menu-area .qodef-blog-list-holder.qodef-boxes.qodef-four-columns > ul > li {
    width: 49%;
    margin: 0 2% 25px 0;
  }
  .qodef-vertical-menu-area .qodef-blog-list-holder.qodef-boxes.qodef-two-columns > ul > li:nth-child(2n),
  .qodef-vertical-menu-area .qodef-blog-list-holder.qodef-boxes.qodef-four-columns > ul > li:nth-child(2n) {
    margin: 0 0 25px;
  }
  .qodef-vertical-menu-area .qodef-blog-list-holder.qodef-boxes.qodef-two-columns > ul > li:nth-child(2n+1),
  .qodef-vertical-menu-area .qodef-blog-list-holder.qodef-boxes.qodef-four-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .qodef-blog-list-holder.qodef-masonry .qodef-blog-list-masonry-grid-sizer,
  .qodef-blog-list-holder.qodef-masonry .qodef-blog-list-masonry-item {
    width: 100%;
  }
  .qodef-blog-list-holder.qodef-masonry .qodef-blog-list-masonry-grid-gutter {
    width: 0;
  }
  .qodef-blog-list-holder.qodef-boxes.qodef-four-columns > ul > li,
  .qodef-blog-list-holder.qodef-boxes.qodef-three-columns > ul > li,
  .qodef-blog-list-holder.qodef-boxes.qodef-two-columns > ul > li {
    width: 100% !important;
    margin: 0 0 25px !important;
  }
  .qodef-blog-list-holder.qodef-image-in-box .qodef-blog-list-item-inner {
    display: block;
  }
  .qodef-blog-list-holder.qodef-image-in-box .qodef-item-text-holder {
    display: block;
    padding: 20px 0;
  }
  .qodef-blog-list-holder.qodef-image-in-box .qodef-item-image {
    display: block;
    width: auto;
  }
}

/* ==========================================================================
# Image Gallery - begin
========================================================================== */
/* Image Gallery Grid - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-2 .qodef-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-3 .qodef-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-3 .qodef-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-3 .qodef-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-3 .qodef-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-3 .qodef-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4 .qodef-gallery-image {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4 .qodef-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4 .qodef-gallery-image:nth-child(3n+1) {
    clear: both;
    margin-right: 2%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4 .qodef-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4 .qodef-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4 .qodef-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4 .qodef-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4 .qodef-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4 .qodef-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1200px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5 .qodef-gallery-image {
    width: 24%;
    margin-right: 1.33333%;
    margin-bottom: 1.33333%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5 .qodef-gallery-image:nth-child(4n) {
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5 .qodef-gallery-image:nth-child(4n+1) {
    clear: both;
    margin-right: 1.33333%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5 .qodef-gallery-image:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5 .qodef-gallery-image {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5 .qodef-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5 .qodef-gallery-image:nth-child(3n+1) {
    clear: both;
    margin-right: 2%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5 .qodef-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5 .qodef-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5 .qodef-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5 .qodef-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5 .qodef-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5 .qodef-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-2.qodef-no-space .qodef-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-3.qodef-no-space .qodef-gallery-image {
    width: 50%;
    margin-right: 0%;
    margin-bottom: 0%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-3.qodef-no-space .qodef-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-3.qodef-no-space .qodef-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 0%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-3.qodef-no-space .qodef-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-3.qodef-no-space .qodef-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0%;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4.qodef-no-space .qodef-gallery-image {
    width: 33.333%;
    margin-right: 0%;
    margin-bottom: 0%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4.qodef-no-space .qodef-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4.qodef-no-space .qodef-gallery-image:nth-child(3n+1) {
    clear: both;
    margin-right: 0%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4.qodef-no-space .qodef-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4.qodef-no-space .qodef-gallery-image {
    width: 50%;
    margin-right: 0%;
    margin-bottom: 0%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4.qodef-no-space .qodef-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4.qodef-no-space .qodef-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 0%;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4.qodef-no-space .qodef-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-4.qodef-no-space .qodef-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0%;
  }
}

@media only screen and (max-width: 1200px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5.qodef-no-space .qodef-gallery-image {
    width: 25%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5.qodef-no-space .qodef-gallery-image:nth-child(4n) {
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5.qodef-no-space .qodef-gallery-image:nth-child(4n+1) {
    clear: both;
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5.qodef-no-space .qodef-gallery-image:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5.qodef-no-space .qodef-gallery-image {
    width: 33.333%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5.qodef-no-space .qodef-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5.qodef-no-space .qodef-gallery-image:nth-child(3n+1) {
    clear: both;
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5.qodef-no-space .qodef-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5.qodef-no-space .qodef-gallery-image {
    width: 50%;
    margin-right: 0;
    margin-bottom: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5.qodef-no-space .qodef-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5.qodef-no-space .qodef-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 0;
  }
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5.qodef-no-space .qodef-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-image-gallery .qodef-image-gallery-grid.qodef-gallery-columns-5.qodef-no-space .qodef-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }
}

/* Image Gallery Grid - end
========================================================================== */
/* Image Gallery Slider - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .qodef-image-gallery.qodef-image-frame.qodef-frame-5 {
    width: 200px;
  }
}

/* Image Gallery Slider - end
========================================================================== */
/* ==========================================================================
# Image Gallery - end
========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-portfolio-list-holder-outer.qodef-ptf-four-columns article,
  .qodef-portfolio-list-holder-outer.qodef-ptf-five-columns article,
  .qodef-portfolio-list-holder-outer.qodef-ptf-six-columns article,
  .qodef-portfolio-list-holder-outer.qodef-ptf-four-columns .qodef-filler,
  .qodef-portfolio-list-holder-outer.qodef-ptf-five-columns .qodef-filler,
  .qodef-portfolio-list-holder-outer.qodef-ptf-six-columns .qodef-filler {
    width: 33.33%;
  }
  .qodef-portfolio-list-holder-outer.qodef-ptf-gallery-space.qodef-ptf-four-columns article,
  .qodef-portfolio-list-holder-outer.qodef-ptf-gallery-space.qodef-ptf-five-columns article,
  .qodef-portfolio-list-holder-outer.qodef-ptf-gallery-space.qodef-ptf-six-columns article,
  .qodef-portfolio-list-holder-outer.qodef-ptf-standard.qodef-ptf-four-columns article,
  .qodef-portfolio-list-holder-outer.qodef-ptf-standard.qodef-ptf-five-columns article,
  .qodef-portfolio-list-holder-outer.qodef-ptf-standard.qodef-ptf-six-columns article,
  .qodef-portfolio-list-holder-outer.qodef-ptf-gallery-space.qodef-ptf-four-columns .qodef-filler,
  .qodef-portfolio-list-holder-outer.qodef-ptf-gallery-space.qodef-ptf-five-columns .qodef-filler,
  .qodef-portfolio-list-holder-outer.qodef-ptf-gallery-space.qodef-ptf-six-columns .qodef-filler,
  .qodef-portfolio-list-holder-outer.qodef-ptf-standard.qodef-ptf-four-columns .qodef-filler,
  .qodef-portfolio-list-holder-outer.qodef-ptf-standard.qodef-ptf-five-columns .qodef-filler,
  .qodef-portfolio-list-holder-outer.qodef-ptf-standard.qodef-ptf-six-columns .qodef-filler {
    width: 32%;
  }
}

@media only screen and (max-width: 600px) {
  .qodef-portfolio-list-holder-outer article,
  .qodef-portfolio-list-holder-outer.qodef-ptf-gallery-space article {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .qodef-portfolio-filter-holder .qodef-portfolio-filter-holder-inner ul li {
    float: none;
    text-align: left;
  }
  .qodef-portfolio-filter-holder .qodef-portfolio-filter-holder-inner ul li span {
    padding-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-testimonials.cards_carousel .qodef-testimonial-content {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .qodef-testimonials-holder .owl-buttons {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-testimonials.standard_carousel .owl-controls {
    bottom: -40px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-testimonials.standard_carousel .qodef-testimonial-image-holder {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .qodef-testimonials.standard_carousel .qodef-testimonial-text-holder {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .qodef-testimonials.standard_carousel .owl-controls {
    position: initial;
    padding: 0;
    margin-top: 40px;
  }
  .qodef-testimonials.standard_carousel .owl-controls .owl-pagination {
    text-align: center;
  }
}

/* ==========================================================================
# Underline icon box responsive style - begin
========================================================================== */
/* ==========================================================================
# Underline icon box responsive style - end
========================================================================== */
/* ==========================================================================
# Image With Icon Responsive Style - begin
========================================================================== */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .qodef-image-with-icon-holder .qodef-image-with-icon-holder-icon-wrapper .qodef-icon-shortcode {
    width: 52px;
    height: 52px;
    line-height: 52px;
  }
  .qodef-image-with-icon-holder .qodef-image-with-icon-holder-icon-wrapper .qodef-icon-shortcode .qodef-icon-element {
    font-size: 22px;
  }
}

/* ==========================================================================
# Image With Icon Responsive Style - end
========================================================================== */
/* ==========================================================================
# Process Style Responsive - begin
========================================================================== */
@media only screen and (max-width: 1200px) {
  .qodef-process-holder.columns-5 .qodef-process-item {
    width: 33.3%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-process-item-icon-holder-wrapper:after {
    display: none;
  }
  .qodef-process-holder.columns-4 .qodef-process-item {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-process-holder.columns-3 .qodef-process-item {
    width: 50%;
    margin-bottom: 20px;
  }
  .qodef-process-holder.columns-4 .qodef-process-item {
    width: 50%;
    margin-bottom: 20px;
  }
  .qodef-process-holder.columns-5 .qodef-process-item {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-process-holder.columns-3 .qodef-process-item {
    width: 100%;
  }
  .qodef-process-holder.columns-4 .qodef-process-item {
    width: 100%;
  }
  .qodef-process-holder.columns-5 .qodef-process-item {
    width: 100%;
  }
}

/* ==========================================================================
# Process Style Responsive - end
========================================================================== */
/* ==========================================================================
   Fullwidth Slider shortcode responsive start styles
   ========================================================================== */
@media only screen and (max-width: 768px) {
  .qodef-fullwidth-slider-item {
    height: 450px;
  }
  .qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-image-holder-wrapper {
    display: none;
  }
  .qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-content-holder {
    background: rgba(33, 33, 33, 0.8);
  }
  .qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-content-wrapper .qodef-fullwidth-slider-item-wrapper-inner {
    width: 100%;
  }
  .qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-content-wrapper .qodef-fullwidth-slider-item-wrapper-inner:after {
    display: none;
  }
  .qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-content-wrapper .qodef-fullwidth-slider-item-elements-holder {
    padding: 0;
  }
  .qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-content-wrapper .qodef-fullwidth-slider-item-title > * {
    font-size: 22px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-fullwidth-slider-item {
    height: 600px;
  }
  .qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-image-holder-wrapper {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  .qodef-fullwidth-slider-item .qodef-fullwidth-slider-item-content-wrapper .qodef-fullwidth-slider-item-elements-holder {
    padding: 0 35px;
  }
}

/* ==========================================================================
   Fullwidth Slider shortcode responsive end styles
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .carousel-inner {
    position: relative;
  }
  .carousel-inner > .item,
  .qodef-slider .carousel-control {
    padding-top: 0px !important;
  }
  .carousel .carousel-inner .qodef-slider-content-outer {
    display: table;
    box-sizing: border-box;
    display: table;
    padding: 0 5px;
  }
  .carousel .carousel-inner .qodef-slider-content .qodef-thumb {
    height: auto;
  }
  .carousel .carousel-inner .qodef-slider-content {
    display: table-cell;
    vertical-align: middle;
    position: static;
    top: 0 !important;
    left: 0 !important;
  }
  .carousel .carousel-inner .qodef-graphic-content {
    text-align: center;
  }
  .qodef-slider-thumbs .carousel-control.left:hover .qodef-thumb-holder {
    left: 0;
  }
  .carousel:not(.in_progress).qodef-slider-thumbs .carousel-control.left:hover .prev_nav {
    left: -200px;
  }
  .qodef-slider-thumbs .carousel-control.right:hover .qodef-thumb-holder {
    right: 0;
  }
  .carousel:not(.in_progress).qodef-slider-thumbs .carousel-control.right:hover .next_nav {
    right: -200px;
  }
  .carousel-inner .item.qodef-animate-image.zoom_center .qodef-image,
  .carousel-inner .item.qodef-animate-image.zoom_top_left .qodef-image,
  .carousel-inner .item.qodef-animate-image.zoom_top_right .qodef-image,
  .carousel-inner .item.qodef-animate-image.zoom_bottom_left .qodef-image,
  .carousel-inner .item.qodef-animate-image.zoom_bottom_right .qodef-image {
    transform: none !important;
    -webkit-transform: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-control {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .carousel .carousel-inner .qodef-slider-content-outer {
    width: 100% !important;
  }
}

/* ==========================================================================
# Info box responsive style - begin
========================================================================== */
/* ==========================================================================
# Info box responsive style - end
========================================================================== */
@media only screen and (max-width: 768px) {
  .qodef-service-table table thead th {
    padding: 11px 17px;
    font-size: 14px;
  }
  .qodef-service-table table tbody td {
    padding: 14px 17px 11px;
    font-size: 13px;
  }
  .qodef-service-table table tbody td .qodef-mark {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .qodef-service-table table thead th {
    padding: 5px;
    font-size: 9px;
  }
  .qodef-service-table table thead th:first-child {
    width: 40%;
  }
  .qodef-service-table table tbody td {
    padding: 12px 5px 9px;
    font-size: 10px;
    line-height: 17px;
  }
  .qodef-service-table table tbody td:first-child {
    width: 40%;
  }
  .qodef-service-table table tbody td .qodef-mark {
    font-size: 15px;
  }
}

/* ==========================================================================
# Clients responsive style - begin
========================================================================== */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .qodef-clients .qodef-client-holder .qodef-client-holder-inner {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-clients.qodef-clients-six-columns .qodef-client-holder, .qodef-clients.qodef-clients-five-columns .qodef-client-holder {
    width: 33.33333333333333%;
  }
  .qodef-clients.qodef-clients-six-columns .qodef-client-holder:nth-child(3n + 1), .qodef-clients.qodef-clients-five-columns .qodef-client-holder:nth-child(3n + 1) {
    clear: both;
  }
  .qodef-clients.qodef-clients-four-columns .qodef-client-holder {
    width: 50%;
  }
  .qodef-clients.qodef-clients-four-columns .qodef-client-holder:nth-child(2n + 1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .qodef-clients.qodef-clients-six-columns .qodef-client-holder, .qodef-clients.qodef-clients-five-columns .qodef-client-holder {
    width: 50%;
  }
  .qodef-clients.qodef-clients-six-columns .qodef-client-holder:nth-child(3n + 1), .qodef-clients.qodef-clients-five-columns .qodef-client-holder:nth-child(3n + 1) {
    clear: none;
  }
  .qodef-clients.qodef-clients-six-columns .qodef-client-holder:nth-child(2n + 1), .qodef-clients.qodef-clients-five-columns .qodef-client-holder:nth-child(2n + 1) {
    clear: both;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-clients.qodef-clients-six-columns .qodef-client-holder, .qodef-clients.qodef-clients-five-columns .qodef-client-holder, .qodef-clients.qodef-clients-four-columns .qodef-client-holder, .qodef-clients.qodef-clients-three-columns .qodef-client-holder, .qodef-clients.qodef-clients-two-columns .qodef-client-holder {
    width: 100%;
    float: none;
  }
}

/* ==========================================================================
# Clients responsive style - end
========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-pricing-slider .qodef-pricing-slider-info-holder {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .qodef-pricing-slider .qodef-pricing-slider-info-holder {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-pricing-slider .qodef-pricing-slider-info-holder {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .qodef-pricing-slider .qodef-pricing-info-pricing .qodef-value,
  .qodef-pricing-slider .qodef-pricing-info-pricing .qodef-price {
    font-size: 33px;
  }
  .qodef-pricing-slider .qodef-pricing-info-pricing .qodef-mark {
    display: block;
    margin-top: 7px;
  }
  .qodef-pricing-slider .qodef-pricing-slider-button-holder {
    margin-bottom: 76px;
  }
  .qodef-pricing-slider .qodef-pricing-slider-button,
  .qodef-pricing-slider .qodef-pricing-slider-button-extra {
    display: block;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .qodef-pricing-info.qodef-active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/*# sourceMappingURL=modules-responsive.css.map */