/* ==========================================================================
# Woocommerce style - begin
========================================================================== */
@font-face {
  font-family: 'star';
  src: url("../../../../plugins/woocommerce/assets/fonts/star.eot");
  src: url("../../../../plugins/woocommerce/assets/fonts/star.eot?#iefix") format("embedded-opentype"), url("../../../../plugins/woocommerce/assets/fonts/star.woff") format("woff"), url("../../../../plugins/woocommerce/assets/fonts/star.ttf") format("truetype"), url("../../../../plugins/woocommerce/assets/fonts/star.svg#star") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Woocommerce product list - begin
========================================================================== */
.qodef-woocommerce-page .woocommerce-result-count,
.qodef-woocommerce-page .woocommerce-ordering,
.page-template-default .woocommerce .woocommerce-result-count,
.page-template-default .woocommerce .woocommerce-ordering,
.page-template-full-width .woocommerce .woocommerce-result-count,
.page-template-full-width .woocommerce .woocommerce-ordering {
  display: inline;
  width: 50%;
  margin: 0 0 10px;
  float: left;
}

.qodef-woocommerce-page .woocommerce-result-count,
.page-template-default .woocommerce .woocommerce-result-count,
.page-template-full-width .woocommerce .woocommerce-result-count {
  line-height: 48px;
  letter-spacing: 0;
}

.qodef-woocommerce-page .woocommerce-ordering,
.page-template-default .woocommerce .woocommerce-ordering,
.page-template-full-width .woocommerce .woocommerce-ordering {
  text-align: right;
  font-size: 0;
}

.qodef-woocommerce-page .woocommerce-ordering .orderby,
.page-template-default .woocommerce .woocommerce-ordering .orderby,
.page-template-full-width .woocommerce .woocommerce-ordering .orderby {
  width: auto;
  min-width: 250px;
  margin: 0;
  text-align: initial;
}

.qodef-woocommerce-page .woocommerce-ordering .select2,
.page-template-default .woocommerce .woocommerce-ordering .select2,
.page-template-full-width .woocommerce .woocommerce-ordering .select2 {
  margin-bottom: 0;
  text-align: initial;
}

.qodef-woocommerce-page .products,
.page-template-default .woocommerce .products,
.page-template-full-width .woocommerce .products {
  list-style: none;
  margin: 0 0 21px;
  padding: 0;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-woocommerce-page .product,
.page-template-default .woocommerce .product,
.page-template-full-width .woocommerce .product {
  position: relative;
  float: left;
  text-align: left;
  border-style: solid;
  border-color: #e1e2e5;
  margin-bottom: 40px;
}

.qodef-woocommerce-page .product > a,
.page-template-default .woocommerce .product > a,
.page-template-full-width .woocommerce .product > a {
  display: block;
  width: 100%;
  overflow: hidden;
}

.qodef-woocommerce-page .product > a img,
.page-template-default .woocommerce .product > a img,
.page-template-full-width .woocommerce .product > a img {
  display: block;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -ms-transition: -ms-transform 0.4s ease-out;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
}

.qodef-woocommerce-page .product > a:hover img,
.page-template-default .woocommerce .product > a:hover img,
.page-template-full-width .woocommerce .product > a:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.qodef-woocommerce-page .product .price,
.page-template-default .woocommerce .product .price,
.page-template-full-width .woocommerce .product .price {
  font-size: 14px;
  line-height: 1em;
  font-weight: 400;
  display: block;
  color: #acacac;
  width: 100%;
}

.qodef-woocommerce-page .product .qodef-onsale,
.page-template-default .woocommerce .product .qodef-onsale,
.page-template-full-width .woocommerce .product .qodef-onsale {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
  text-align: center;
  z-index: 100;
  color: #fff;
  background-color: #b2dd4c;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 800;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
}

.qodef-woocommerce-page .product .qodef-out-of-stock-button,
.page-template-default .woocommerce .product .qodef-out-of-stock-button,
.page-template-full-width .woocommerce .product .qodef-out-of-stock-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
  text-align: center;
  background-color: #242A36;
  color: #fff;
  z-index: 100;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  font-weight: 700;
  display: table;
  font-size: 13px;
  line-height: 15px;
  text-transform: capitalize;
}

.qodef-woocommerce-page .product .qodef-onsale-inner,
.qodef-woocommerce-page .product .qodef-out-of-stock-button-inner,
.page-template-default .woocommerce .product .qodef-onsale-inner,
.page-template-default .woocommerce .product .qodef-out-of-stock-button-inner,
.page-template-full-width .woocommerce .product .qodef-onsale-inner,
.page-template-full-width .woocommerce .product .qodef-out-of-stock-button-inner {
  display: table-cell;
  vertical-align: middle;
}

.qodef-woocommerce-page .product.outofstock .qodef-woocommerce-product-list-add-to-cart-button-holder,
.page-template-default .woocommerce .product.outofstock .qodef-woocommerce-product-list-add-to-cart-button-holder,
.page-template-full-width .woocommerce .product.outofstock .qodef-woocommerce-product-list-add-to-cart-button-holder {
  display: none;
}

.qodef-woocommerce-page .product.outofstock .qodef-woocommerce-product-list-details-button-holder,
.page-template-default .woocommerce .product.outofstock .qodef-woocommerce-product-list-details-button-holder,
.page-template-full-width .woocommerce .product.outofstock .qodef-woocommerce-product-list-details-button-holder {
  width: 100%;
  border-right: 0;
}

.qodef-woocommerce-page .product.outofstock .single_view_product_button,
.page-template-default .woocommerce .product.outofstock .single_view_product_button,
.page-template-full-width .woocommerce .product.outofstock .single_view_product_button {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border-right: 2px solid #e6e6e6;
}

.qodef-woocommerce-page .qodef-woocommerce-product-list-info,
.page-template-default .woocommerce .qodef-woocommerce-product-list-info,
.page-template-full-width .woocommerce .qodef-woocommerce-product-list-info {
  padding: 20px;
  border: 2px solid #e6e6e6;
  border-bottom: 0;
}

.qodef-woocommerce-page .qodef-woocommerce-product-list-info .qodef-product-list-product-title,
.page-template-default .woocommerce .qodef-woocommerce-product-list-info .qodef-product-list-product-title,
.page-template-full-width .woocommerce .qodef-woocommerce-product-list-info .qodef-product-list-product-title {
  display: inline-block;
  width: 59.5%;
  vertical-align: middle;
  margin-bottom: 3px;
}

.qodef-woocommerce-page .qodef-woocommerce-product-list-info .star-rating,
.page-template-default .woocommerce .qodef-woocommerce-product-list-info .star-rating,
.page-template-full-width .woocommerce .qodef-woocommerce-product-list-info .star-rating {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin: 5px 0;
}

.qodef-woocommerce-page .qodef-woocommerce-product-info-holder,
.page-template-default .woocommerce .qodef-woocommerce-product-info-holder,
.page-template-full-width .woocommerce .qodef-woocommerce-product-info-holder {
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.qodef-woocommerce-page .qodef-woocommerce-product-list-button-holder,
.page-template-default .woocommerce .qodef-woocommerce-product-list-button-holder,
.page-template-full-width .woocommerce .qodef-woocommerce-product-list-button-holder {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.qodef-woocommerce-page .qodef-woocommerce-product-list-details-button-holder,
.page-template-default .woocommerce .qodef-woocommerce-product-list-details-button-holder,
.page-template-full-width .woocommerce .qodef-woocommerce-product-list-details-button-holder {
  display: inline-block;
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.qodef-woocommerce-page .qodef-woocommerce-product-list-details-button-holder .single_view_product_button,
.page-template-default .woocommerce .qodef-woocommerce-product-list-details-button-holder .single_view_product_button,
.page-template-full-width .woocommerce .qodef-woocommerce-product-list-details-button-holder .single_view_product_button {
  display: inline-block;
  width: 100%;
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  padding: 0 10px;
  font-size: 11px;
  line-height: 45px;
  text-align: center;
  color: #acacac;
  height: 45px;
  border: 2px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}

.qodef-woocommerce-page .qodef-woocommerce-product-list-add-to-cart-button-holder,
.page-template-default .woocommerce .qodef-woocommerce-product-list-add-to-cart-button-holder,
.page-template-full-width .woocommerce .qodef-woocommerce-product-list-add-to-cart-button-holder {
  display: inline-block;
  width: 50%;
  float: left;
}

.qodef-woocommerce-page .qodef-woocommerce-product-list-add-to-cart-button-holder a:not(.add_to_cart_button):not(.added_to_cart),
.page-template-default .woocommerce .qodef-woocommerce-product-list-add-to-cart-button-holder a:not(.add_to_cart_button):not(.added_to_cart),
.page-template-full-width .woocommerce .qodef-woocommerce-product-list-add-to-cart-button-holder a:not(.add_to_cart_button):not(.added_to_cart) {
  display: none;
}

.qodef-woocommerce-page .qodef-woocommerce-product-list-add-to-cart-button-holder .add_to_cart_button,
.page-template-default .woocommerce .qodef-woocommerce-product-list-add-to-cart-button-holder .add_to_cart_button,
.page-template-full-width .woocommerce .qodef-woocommerce-product-list-add-to-cart-button-holder .add_to_cart_button {
  display: block;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  padding: 0 10px;
  font-size: 11px;
  line-height: 45px;
  text-align: center;
  border: 2px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  color: #acacac;
  height: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}

.qodef-woocommerce-page .qodef-woocommerce-product-list-add-to-cart-button-holder .add_to_cart_button.product_type_variable .qodef-btn-text,
.page-template-default .woocommerce .qodef-woocommerce-product-list-add-to-cart-button-holder .add_to_cart_button.product_type_variable .qodef-btn-text,
.page-template-full-width .woocommerce .qodef-woocommerce-product-list-add-to-cart-button-holder .add_to_cart_button.product_type_variable .qodef-btn-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 16px;
}

.qodef-woocommerce-page .qodef-woocommerce-product-list-add-to-cart-button-holder .add_to_cart_button.added,
.page-template-default .woocommerce .qodef-woocommerce-product-list-add-to-cart-button-holder .add_to_cart_button.added,
.page-template-full-width .woocommerce .qodef-woocommerce-product-list-add-to-cart-button-holder .add_to_cart_button.added {
  display: none;
}

.qodef-woocommerce-page .qodef-woocommerce-product-list-add-to-cart-button-holder .added_to_cart,
.page-template-default .woocommerce .qodef-woocommerce-product-list-add-to-cart-button-holder .added_to_cart,
.page-template-full-width .woocommerce .qodef-woocommerce-product-list-add-to-cart-button-holder .added_to_cart {
  position: relative;
  outline: none;
  font-style: normal;
  font-weight: 800;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  color: #acacac;
  background-color: transparent;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  padding: 0 10px;
  font-size: 11px;
  line-height: 41px;
  text-align: center;
}

.qodef-woocommerce-page .qodef-woocommerce-product-list-add-to-cart-button-holder .added_to_cart:hover,
.page-template-default .woocommerce .qodef-woocommerce-product-list-add-to-cart-button-holder .added_to_cart:hover,
.page-template-full-width .woocommerce .qodef-woocommerce-product-list-add-to-cart-button-holder .added_to_cart:hover {
  color: #fff !important;
  background-color: #b2dd4c;
  border-color: #b2dd4c;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-4 .products .product {
  width: 24%;
  margin-right: 1.3333333%;
  margin-bottom: 2%;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-4 .products .product:nth-child(4n) {
  margin-right: 0;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-4 .products .product:nth-child(4n+1) {
  clear: both;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product.first {
  clear: none;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product:nth-child(3n) {
  margin-right: 0;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: both;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
  clear: none;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-3 .products .product {
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-3 .products .product.first {
  clear: none;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-3 .products .product:nth-child(3n) {
  margin-right: 0;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-3 .products .product:nth-child(3n+1) {
  clear: both;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-3 .qodef-woocommerce-with-sidebar .products .product {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-3 .qodef-woocommerce-with-sidebar .products .product.first {
  clear: none;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-3 .qodef-woocommerce-with-sidebar .products .product:nth-child(2n) {
  margin-right: 0;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-3 .qodef-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
  clear: both;
}

.qodef-woocommerce-page.qodef-woocommerce-columns-3 .qodef-woocommerce-with-sidebar .products .product:nth-child(3n+1) {
  clear: none;
}

/* Style for product list on default and full width page template - start
========================================================================== */
/* Without sidebar - start */
.woocommerce .products ul,
.woocommerce .woocommerce ul.products,
.woocommerce-page .products ul,
.woocommerce-page .woocommerce ul.products {
  margin: 0 0 1em;
  padding: 0;
  list-style: none;
  clear: both;
}

.woocommerce .products ul li,
.woocommerce ul.products li,
.woocommerce-page .products ul li,
.woocommerce-page ul.products li {
  list-style: none;
}

.woocommerce ul.products li.first,
.woocommerce-page ul.products li.first {
  clear: both;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  float: left;
  margin: 0 2% 2% 0;
  padding: 0;
  position: relative;
  width: 23.5%;
}

.woocommerce ul.products li.last,
.woocommerce-page ul.products li.last {
  margin-right: 0;
}

.woocommerce.columns-2 ul.products li.product,
.woocommerce-page.columns-2 ul.products li.product {
  width: 49%;
}

.woocommerce.columns-3 ul.products li.product,
.woocommerce-page.columns-3 ul.products li.product {
  width: 32%;
}

.woocommerce.columns-5 ul.products li.product,
.woocommerce-page.columns-5 ul.products li.product {
  width: 18.4%;
}

.woocommerce.columns-6 ul.products li.product,
.woocommerce-page.columns-6 ul.products li.product {
  width: 15%;
}

/* Without sidebar - end */
/* With sidebar - start */
.qodef-two-columns-66-33 .woocommerce ul.products li.first,
.qodef-two-columns-66-33 .woocommerce-page ul.products li.first,
.qodef-two-columns-75-25 .woocommerce ul.products li.first,
.qodef-two-columns-75-25 .woocommerce-page ul.products li.first {
  clear: none;
}

.qodef-two-columns-66-33 .woocommerce ul.products li.last,
.qodef-two-columns-66-33 .woocommerce-page ul.products li.last,
.qodef-two-columns-75-25 .woocommerce ul.products li.last,
.qodef-two-columns-75-25 .woocommerce-page ul.products li.last {
  margin-right: 2%;
}

.qodef-two-columns-66-33 .woocommerce.columns-2 ul.products li.product:nth-child(2n+2),
.qodef-two-columns-66-33 .woocommerce-page.columns-2 ul.products li.product:nth-child(2n+2),
.qodef-two-columns-75-25 .woocommerce.columns-2 ul.products li.product:nth-child(2n+2),
.qodef-two-columns-75-25 .woocommerce-page.columns-2 ul.products li.product:nth-child(2n+2) {
  margin-right: 0;
}

.qodef-two-columns-66-33 .woocommerce.columns-3 ul.products li.product,
.qodef-two-columns-66-33 .woocommerce-page.columns-3 ul.products li.product,
.qodef-two-columns-75-25 .woocommerce.columns-3 ul.products li.product,
.qodef-two-columns-75-25 .woocommerce-page.columns-3 ul.products li.product {
  width: 49%;
}

.qodef-two-columns-66-33 .woocommerce.columns-3 ul.products li.product:nth-child(2n+2),
.qodef-two-columns-66-33 .woocommerce-page.columns-3 ul.products li.product:nth-child(2n+2),
.qodef-two-columns-75-25 .woocommerce.columns-3 ul.products li.product:nth-child(2n+2),
.qodef-two-columns-75-25 .woocommerce-page.columns-3 ul.products li.product:nth-child(2n+2) {
  margin-right: 0;
}

.qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product,
.qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product,
.qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product,
.qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product {
  width: 32%;
}

.qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product:nth-child(3n+3),
.qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+3),
.qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product:nth-child(3n+3),
.qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+3) {
  margin-right: 0;
}

.qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product,
.qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product,
.qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product,
.qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product {
  width: 23.5%;
}

.qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(4n+4),
.qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+4),
.qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(4n+4),
.qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+4) {
  margin-right: 0;
}

.qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product,
.qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product,
.qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product,
.qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product {
  width: 18.4%;
}

.qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(5n+5),
.qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+5),
.qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(5n+5),
.qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+5) {
  margin-right: 0;
}

/* With sidebar - end */
@media only screen and (min-width: 1024px) {
  /* Five and six columns when page template is default - start */
  /* 4 columns max */
  .page-template-default .woocommerce.columns-5 ul.products li.first,
  .page-template-default .woocommerce.columns-6 ul.products li.first,
  .page-template-default .woocommerce-page.columns-5 ul.products li.first,
  .page-template-default .woocommerce-page.columns-6 ul.products li.first {
    clear: none;
  }
  .page-template-default .woocommerce.columns-5 ul.products li.last,
  .page-template-default .woocommerce.columns-6 ul.products li.last,
  .page-template-default .woocommerce-page.columns-5 ul.products li.last,
  .page-template-default .woocommerce-page.columns-6 ul.products li.last {
    margin-right: 2%;
  }
  .page-template-default .woocommerce.columns-5 ul.products li.product,
  .page-template-default .woocommerce-page.columns-5 ul.products li.product {
    width: 23.5%;
  }
  .page-template-default .woocommerce.columns-6 ul.products li.product,
  .page-template-default .woocommerce-page.columns-6 ul.products li.product {
    width: 23.5%;
  }
  .page-template-default .woocommerce.columns-5 ul.products li.product:nth-child(4n+4),
  .page-template-default .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+4) {
    margin-right: 0;
  }
  .page-template-default .woocommerce.columns-6 ul.products li.product:nth-child(4n+4),
  .page-template-default .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+4) {
    margin-right: 0;
  }
  /* Five and six columns when page template is default - end */
  /* Five and six columns when page template is default or full width with sidebar - start */
  /* 3 columns max */
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product {
    width: 32%;
  }
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(4n+4),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+4),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(4n+4),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+4),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(4n+4),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+4),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(4n+4),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+4) {
    margin-right: 2%;
  }
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(4n+4),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(5n+5),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+4),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+5),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(4n+4),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(5n+5),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+4),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+5),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(4n+4),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(5n+5),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+4),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+5),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(4n+4),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(5n+5),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+4),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+5) {
    margin-right: 2%;
  }
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(3n+3),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(12n+12),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(15n+15),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(3n+3),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(12n+12),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+3),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(12n+12),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(15n+15),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+3),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(12n+12),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(3n+3),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(12n+12),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(15n+15),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(3n+3),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(12n+12),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+3),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(12n+12),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(15n+15),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+3),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(12n+12),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(3n+3),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(12n+12),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(15n+15),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(3n+3),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(12n+12),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+3),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(12n+12),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(15n+15),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+3),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(12n+12),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(3n+3),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(12n+12),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(15n+15),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(3n+3),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(12n+12),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+3),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(12n+12),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(15n+15),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+3),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(12n+12) {
    margin-right: 0;
  }
  /* Five and six columns when page template is default or full width with sidebar - end */
}

/* Style for product list on default and full width page template - end
========================================================================== */
/* Woocommerce product list - end
========================================================================== */
/* Woocommerce pagination - begin
========================================================================== */
.woocommerce-pagination {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin-bottom: 45px;
}

.woocommerce-pagination .page-numbers {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.woocommerce-pagination .page-numbers li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 2px 4px 2px;
  float: left;
}

.woocommerce-pagination .page-numbers li > a,
.woocommerce-pagination .page-numbers li > span {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 43px;
  line-height: 43px;
  margin: 0;
  color: #acacac;
  background-color: transparent;
  border: 2px solid #e6e6e6;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  text-shadow: none;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  box-sizing: content-box;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.woocommerce-pagination .page-numbers li > a.next,
.woocommerce-pagination .page-numbers li > a.prev {
  font-size: 11px;
}

.woocommerce-pagination .page-numbers li span.current {
  color: #fff;
  background-color: #b2dd4c;
  border-color: #b2dd4c;
}

.woocommerce-pagination .page-numbers li a:hover,
.woocommerce-pagination .page-numbers li span:hover,
.woocommerce-pagination .page-numbers li span.current:hover {
  background-color: #b2dd4c;
  color: #fff;
  border-color: #b2dd4c;
}

/* Woocommerce pagination - end
========================================================================== */
/* Woocommerce single product - begin
========================================================================== */
.qodef-single-product-images {
  width: 49%;
  margin-right: 2%;
  display: inline-block;
  float: left;
  margin-bottom: 20px;
}

.qodef-single-product-images .images {
  line-height: 0;
}

.qodef-single-product-images .images figure {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 -10px;
}

.qodef-single-product-images .images figure a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.qodef-single-product-images .images figure a img {
  position: relative;
  width: 100%;
  display: block;
}

.qodef-single-product-images .images .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 10px;
  right: 39px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  z-index: 10;
}

.qodef-single-product-images .images .woocommerce-product-gallery__image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.qodef-single-product-images .images .woocommerce-product-gallery__image:first-child {
  left: 10px;
  width: calc(100% - 20px);
  padding: 0;
}

.qodef-single-product-images .images .woocommerce-product-gallery__image .zoomImg {
  cursor: crosshair;
}

.qodef-single-product-images .images.woocommerce-product-gallery--with-images .woocommerce-product-gallery__image:not(:first-child) {
  float: left;
}

.qodef-single-product-images .images.woocommerce-product-gallery--columns-2 .woocommerce-product-gallery__image:not(:first-child) {
  width: 50%;
}

.qodef-single-product-images .images.woocommerce-product-gallery--columns-3 .woocommerce-product-gallery__image:not(:first-child) {
  width: 33.3333333333%;
}

.qodef-single-product-images .images.woocommerce-product-gallery--columns-4 .woocommerce-product-gallery__image:not(:first-child) {
  width: 25%;
}

.qodef-single-product-images a {
  display: inline-block;
  margin-bottom: 24px;
  max-width: 100%;
}

.qodef-single-product-images .thumbnails a {
  float: left;
  width: 30.3%;
  margin-right: 4.5%;
  margin-bottom: 4.5%;
}

.qodef-single-product-images .thumbnails a:nth-child(3n) {
  margin-right: 0;
}

.qodef-single-product-summary {
  width: 49%;
  display: inline-block;
  float: left;
  margin-bottom: 20px;
  /* Variable product start */
  /* Variable product end */
}

.qodef-single-product-summary .qodef-single-product-title {
  display: inline-block;
  vertical-align: middle;
  width: 79.5%;
}

.qodef-single-product-summary .woocommerce-product-rating {
  display: inline-block;
  vertical-align: middle;
  width: 19.5%;
}

.qodef-single-product-summary .summary .price {
  font-size: 22px;
  line-height: 36px;
  font-weight: 600;
  display: block;
  color: #797979;
  width: 100%;
  margin-bottom: 21px;
}

.qodef-single-product-summary .cart {
  margin: 30px 0;
}

.qodef-single-product-summary .qodef-woocommerce-share-holder {
  margin-bottom: 40px;
}

.qodef-single-product-summary .qodef-woocommerce-share-holder .qodef-woocommerce-share-title {
  color: #16171d;
  font-weight: 600;
  font-size: 15px;
}

.qodef-single-product-summary .qodef-woocommerce-share-holder .qodef-social-share-holder {
  display: inline-block;
}

.qodef-single-product-summary .qodef-woocommerce-share-holder .qodef-social-share-holder ul,
.qodef-single-product-summary .qodef-woocommerce-share-holder .qodef-social-share-holder li {
  border: 0;
}

.qodef-single-product-summary .qodef-woocommerce-share-holder .qodef-social-share-holder a {
  font-size: 15px;
  padding: 2px 6px;
}

.qodef-single-product-summary .qodef-woocommerce-share-holder .qodef-social-share-holder a:hover {
  background-color: transparent;
  color: #b2dd4c;
}

.qodef-single-product-summary .product_meta {
  margin-top: 23px;
}

.qodef-single-product-summary .product_meta > span {
  font-weight: 600;
  color: #16171d;
  font-size: 15px;
  display: block;
  margin-bottom: 3px;
}

.qodef-single-product-summary .product_meta > span > span,
.qodef-single-product-summary .product_meta > span > a {
  font-weight: 500;
  font-size: 14px;
  color: #797979;
  text-transform: capitalize;
}

.qodef-single-product-summary .product_meta > span > a:hover {
  color: #b2dd4c;
}

.qodef-single-product-summary table.variations {
  width: auto;
}

.qodef-single-product-summary table.variations td {
  text-align: left;
  padding: 0;
  vertical-align: baseline;
}

.qodef-single-product-summary table.variations td.label {
  font-family: Poppins, sans-serif;
  color: #101010;
  font-weight: 500;
  letter-spacing: -0.2px;
  padding-right: 19px;
}

.qodef-single-product-summary table.variations td.label label {
  position: relative;
  padding-left: 18px;
}

.qodef-single-product-summary table.variations td.label label:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background-color: #b2dd4c;
  left: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  top: calc(50% - 2px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.qodef-single-product-summary table.variations td.value {
  padding-bottom: 15px;
}

.qodef-single-product-summary table.variations tr {
  border: 0;
}

.qodef-single-product-summary table.variations select {
  font-size: 13px;
  line-height: 24px;
  height: 30px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid #d6d6d6;
  color: #8e8e8e;
}

.qodef-single-product-summary table.variations .reset_variations {
  display: none !important;
}

.qodef-single-product-summary .variations_button {
  display: inline-block;
}

.star-rating {
  float: right;
  overflow: hidden;
  position: relative;
  height: 1.1em;
  line-height: 1em;
  font-size: 1.1em;
  width: 5.2em;
  font-family: 'star';
  color: #b2dd4c;
}

.star-rating:before {
  content: "\73\73\73\73\73";
  position: absolute;
  top: 0;
  left: 0;
}

.star-rating span {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1.5em;
}

.star-rating span:before {
  content: "\53\53\53\53\53";
  position: absolute;
  top: 0;
  left: 0;
}

.hreview-aggregate .star-rating {
  margin: 10px 0 0 0;
}

.woocommerce-review-link {
  display: none;
}

.qodef-woocommerce-page .woocommerce-accordions .qodef-title-holder {
  text-align: center;
}

.qodef-woocommerce-page .woocommerce-accordions.qodef-boxed .qodef-title-holder {
  background-color: transparent;
  border: 2px solid #e6e6e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #222222;
  height: 46px;
  line-height: 46px;
}

.qodef-woocommerce-page .woocommerce-accordions.qodef-boxed .qodef-title-holder .qodef-tab-title {
  padding: 0 20px;
  text-align: center;
}

.qodef-woocommerce-page .woocommerce-accordions.qodef-boxed .qodef-title-holder.ui-state-active,
.qodef-woocommerce-page .woocommerce-accordions.qodef-boxed .qodef-title-holder.ui-state-hover {
  background-color: #b2dd4c;
  border-color: #b2dd4c;
  color: #fff;
}

.qodef-woocommerce-page .woocommerce-accordions .qodef-accordion-content {
  padding: 18px 0 12px;
}

.qodef-woocommerce-page .woocommerce-accordions .qodef-accordion-content h2 {
  display: none;
}

.qodef-woocommerce-page .qodef-related-products {
  clear: both;
}

.qodef-woocommerce-page .qodef-related-products h5 {
  margin: 0 0 25px 0;
  border-top: 1px solid #E6E6E6;
  padding-top: 24px;
}

.qodef-woocommerce-page .upsells.products h2 {
  margin: 0 0 25px;
  border-top: 1px solid #E6E6E6;
  padding-top: 24px;
  font-size: 19px;
  line-height: 1.4em;
  font-weight: 600;
  font-family: Raleway,sans-serif;
}

.qodef-woocommerce-page #reviews .comment-respond .comment-reply-title,
.qodef-woocommerce-page #reviews input[type='text'],
.qodef-woocommerce-page #reviews input[type='email'] {
  margin-bottom: 20px;
}

.qodef-woocommerce-page #reviews .comment-form-rating {
  margin-bottom: 13px;
}

.qodef-woocommerce-page #reviews .comment-form-rating label,
.qodef-woocommerce-page #reviews .comment-form-comment label {
  margin-bottom: 5px;
  display: inline-block;
}

.qodef-woocommerce-page #reviews .stars {
  height: 16px;
}

.qodef-woocommerce-page #reviews .comment-form-rating .stars span {
  width: 80px;
  height: 16px;
  position: relative;
  float: left;
  background: url(img/star.png) repeat-x left 0;
}

.qodef-woocommerce-page #reviews .comment-form-rating .stars span a {
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 0;
  padding-top: 16px;
  overflow: hidden;
}

.qodef-woocommerce-page #reviews .comment-form-rating .stars span a.star-1 {
  width: 16px;
  z-index: 10;
}

.qodef-woocommerce-page #reviews .comment-form-rating .stars span a.star-2 {
  width: 32px;
  z-index: 9;
}

.qodef-woocommerce-page #reviews .comment-form-rating .stars span a.star-3 {
  width: 48px;
  z-index: 8;
}

.qodef-woocommerce-page #reviews .comment-form-rating .stars span a.star-4 {
  width: 64px;
  z-index: 7;
}

.qodef-woocommerce-page #reviews .comment-form-rating .stars span a.star-5 {
  width: 80px;
  z-index: 6;
}

.qodef-woocommerce-page #reviews .comment-form-rating .stars span a:hover,
.qodef-woocommerce-page #reviews .comment-form-rating .stars span a:focus {
  background: url(img/star.png) repeat-x left -16px;
}

.qodef-woocommerce-page #reviews .comment-form-rating .stars span a.active.star-1, .qodef-woocommerce-page #reviews .comment-form-rating .stars span a.active.star-2, .qodef-woocommerce-page #reviews .comment-form-rating .stars span a.active.star-3, .qodef-woocommerce-page #reviews .comment-form-rating .stars span a.active.star-4, .qodef-woocommerce-page #reviews .comment-form-rating .stars span a.active.star-5 {
  background: url(img/star.png) repeat-x left -16px;
}

.qodef-woocommerce-page #reviews .commentlist {
  list-style-type: none;
}

.qodef-woocommerce-page #reviews .commentlist li {
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.qodef-woocommerce-page #reviews .comment_container {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.qodef-woocommerce-page #reviews .comment_container img {
  display: table-cell;
  width: 60px;
  height: 60px;
}

.qodef-woocommerce-page #reviews .comment-text {
  display: table-cell;
  vertical-align: top;
  width: 85%;
  position: relative;
}

.qodef-woocommerce-page #reviews .star-rating {
  position: absolute;
  left: 0;
  bottom: -25px;
}

/* Woocommerce single product - end
========================================================================== */
/* Woocommerce quantity buttons - begin
========================================================================== */
.qodef-woocommerce-page .qodef-quantity-buttons {
  display: inline-block;
  border: 1px solid #b4b4b4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 17px;
  line-height: 0;
}

.qodef-woocommerce-page .qodef-quantity-buttons .qodef-quantity-minus,
.qodef-woocommerce-page .qodef-quantity-buttons .qodef-quantity-plus {
  width: 36px;
  height: 36px;
  display: inline-block;
  color: #b4b4b4;
  background-color: transparent;
  font-size: 12px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.qodef-woocommerce-page .qodef-quantity-buttons .qodef-quantity-minus:hover,
.qodef-woocommerce-page .qodef-quantity-buttons .qodef-quantity-plus:hover {
  color: #212121;
}

.qodef-woocommerce-page .qodef-quantity-buttons .qodef-quantity-minus i,
.qodef-woocommerce-page .qodef-quantity-buttons .qodef-quantity-plus i {
  vertical-align: middle;
}

.qodef-woocommerce-page .qodef-quantity-buttons .qodef-quantity-input {
  height: 36px;
  width: 36px;
  display: inline-block;
  padding: 0;
  border: none;
  background-color: #b2dd4c;
  text-align: center;
  color: #fff;
  font-size: 19px;
  line-height: 36px;
  font-weight: 700;
  vertical-align: middle;
}

.qodef-woocommerce-page .qodef-quantity-buttons .qodef-quantity-input:focus {
  outline: none;
}

/* Woocommerce quantity buttons - end
========================================================================== */
/* Woocommerce message - begin
========================================================================== */
.qodef-woocommerce-page .woocommerce-message,
.qodef-woocommerce-page .woocommerce-info,
.qodef-woocommerce-page .woocommerce-error {
  margin-bottom: 25px;
  position: relative;
  display: block;
  padding: 8px 40px;
  background-color: #f6f6f5;
  line-height: 56px;
  color: #393939;
  font-size: 16px;
  font-weight: 300;
}

.qodef-woocommerce-page .woocommerce-message a {
  float: right;
}

/* Woocommerce message - end
========================================================================== */
/* Woocommerce table - begin
========================================================================== */
.qodef-woocommerce-page {
  /* Empty cart page */
}

.qodef-woocommerce-page table.cart tr:last-child {
  border: none;
}

.qodef-woocommerce-page table td {
  vertical-align: middle;
}

.qodef-woocommerce-page td.product-thumbnail img {
  width: 80px;
}

.qodef-woocommerce-page td.product-remove {
  border-right: 1px solid #e0dede;
  font-size: 30px;
  padding: 5px 18px;
}

.qodef-woocommerce-page td.actions {
  padding: 25px 0;
}

.qodef-woocommerce-page td.actions .coupon,
.qodef-woocommerce-page td.actions .qodef-cart-proceed-update {
  float: left;
  width: 50%;
  display: inline-block;
  text-align: left;
}

.qodef-woocommerce-page td.actions .qodef-cart-proceed-update {
  text-align: right;
}

.qodef-woocommerce-page .coupon label {
  display: none;
}

.qodef-woocommerce-page .coupon input[type="text"] {
  width: 200px;
}

.qodef-woocommerce-page .cart-empty {
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
}

.qodef-woocommerce-page .return-to-shop {
  text-align: center;
  margin-bottom: 15px;
}

.qodef-woocommerce-page .return-to-shop a {
  display: inline-block;
  position: relative;
  outline: none;
  font-style: normal;
  font-weight: 800;
  font-family: inherit;
  padding: 0 35px;
  font-size: 13px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #e6e6e6;
  color: #707070;
  background-color: transparent;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.qodef-woocommerce-page .return-to-shop a:hover {
  color: #fff;
  background-color: #b2dd4c;
  border-color: #b2dd4c;
}

/* Woocommerce table - end
========================================================================== */
/* Woocommerce shipping calculator - begin
========================================================================== */
.qodef-woocommerce-page .qodef-shipping-calculator {
  width: 50%;
  display: inline-block;
  float: left;
}

.qodef-woocommerce-page .qodef-shipping-calculator .form-row {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 20px;
  float: left;
}

.qodef-woocommerce-page .qodef-shipping-calculator .form-row-last {
  margin-right: 0;
}

.qodef-woocommerce-page .qodef-shipping-calculator .form-row-wide {
  width: 100%;
}

/* Woocommerce shipping calculator - end
========================================================================== */
/* Woocommerce totals - begin
========================================================================== */
.qodef-woocommerce-page .cart-collaterals {
  margin-bottom: 20px;
}

.qodef-woocommerce-page .qodef-cart-totals {
  width: 30%;
  display: inline-block;
  float: right;
}

.qodef-woocommerce-page .qodef-cart-totals .cart_totals {
  margin-bottom: 60px;
}

.qodef-woocommerce-page .qodef-cart-totals h2 {
  font-size: 19px;
  margin-bottom: 25px;
  letter-spacing: 0;
  text-transform: none;
}

.qodef-woocommerce-page .qodef-cart-totals table tr {
  border: none;
  text-align: left;
}

.qodef-woocommerce-page .qodef-cart-totals table th {
  border: none;
  text-align: left;
}

.qodef-woocommerce-page .qodef-cart-totals table td {
  text-align: left;
}

.qodef-woocommerce-page .qodef-cart-totals .order-total {
  color: #b2dd4c;
}

.qodef-woocommerce-page .qodef-cart-totals #shipping_method {
  list-style: none;
}

/* Woocommerce totals - end
========================================================================== */
/* Woocommerce checkout - begin
========================================================================== */
.qodef-woocommerce-page .woocommerce-checkout .col2-set:before,
.qodef-woocommerce-page .woocommerce-checkout .col2-set:after {
  content: '';
  display: table;
}

.qodef-woocommerce-page .woocommerce-checkout .col2-set:after {
  clear: both;
}

.qodef-woocommerce-page .woocommerce-checkout .col-1,
.qodef-woocommerce-page .woocommerce-checkout .col-2 {
  width: 49%;
  margin-right: 1%;
  display: inline-block;
  float: left;
}

.qodef-woocommerce-page .woocommerce-checkout .col-1 h3,
.qodef-woocommerce-page .woocommerce-checkout .col-2 h3 {
  margin-bottom: 20px;
}

.qodef-woocommerce-page .woocommerce-checkout .col-1 .form-row,
.qodef-woocommerce-page .woocommerce-checkout .col-2 .form-row {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 20px;
  float: left;
}

.qodef-woocommerce-page .woocommerce-checkout .col-1 .form-row-last,
.qodef-woocommerce-page .woocommerce-checkout .col-2 .form-row-last {
  margin-right: 0;
}

.qodef-woocommerce-page .woocommerce-checkout .col-1 .form-row-wide,
.qodef-woocommerce-page .woocommerce-checkout .col-1 .form-row.notes,
.qodef-woocommerce-page .woocommerce-checkout .col-2 .form-row-wide,
.qodef-woocommerce-page .woocommerce-checkout .col-2 .form-row.notes {
  width: 100%;
}

.qodef-woocommerce-page .woocommerce-checkout .col-1 .form-row label,
.qodef-woocommerce-page .woocommerce-checkout .col-2 .form-row label {
  display: none;
}

.qodef-woocommerce-page .woocommerce-checkout .col-1 .form-row.create-account label,
.qodef-woocommerce-page .woocommerce-checkout .col-2 .form-row.create-account label {
  display: inline-block;
}

.qodef-woocommerce-page .woocommerce-checkout .col-2 {
  margin-left: 1%;
  margin-right: 0;
}

.qodef-woocommerce-page .woocommerce-checkout h3 {
  margin-bottom: 20px;
}

.qodef-woocommerce-page .login p {
  margin-bottom: 20px;
  float: left;
}

.qodef-woocommerce-page .login .form-row {
  margin-bottom: 20px;
  width: 40%;
  float: left;
  margin-right: 1.845018450184502%;
}

.qodef-woocommerce-page .login .form-row label {
  display: block;
  margin-top: 20px;
}

.qodef-woocommerce-page .login .form-row a {
  margin-left: 15px;
}

.qodef-woocommerce-page .checkout_coupon {
  margin-bottom: 20px;
}

.qodef-woocommerce-page .checkout_coupon input[type="text"] {
  width: 200px;
}

.qodef-woocommerce-page .checkout_coupon p {
  display: inline-block;
  vertical-align: top;
}

.qodef-woocommerce-page .lost_reset_password {
  margin-bottom: 25px;
}

.qodef-woocommerce-page .checkout_coupon input[type='submit'],
.qodef-woocommerce-page .login .form-row input[type='submit'],
.qodef-woocommerce-page .form.track_order input[type='submit'],
.qodef-woocommerce-page .register input[type='submit'],
.qodef-woocommerce-page .lost_reset_password .form-row input[type='submit'] {
  display: inline-block;
  position: relative;
  outline: none;
  font-style: normal;
  font-weight: 800;
  font-family: inherit;
  padding: 0 35px;
  font-size: 13px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #e6e6e6;
  color: #707070;
  background-color: transparent;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.qodef-woocommerce-page .checkout_coupon input[type='submit']:hover,
.qodef-woocommerce-page .login .form-row input[type='submit']:hover,
.qodef-woocommerce-page .form.track_order input[type='submit']:hover,
.qodef-woocommerce-page .register input[type='submit']:hover,
.qodef-woocommerce-page .lost_reset_password .form-row input[type='submit']:hover {
  color: #fff;
  background-color: #b2dd4c;
  border-color: #b2dd4c;
}

.qodef-woocommerce-page .lost_reset_password .form-row.form-row-first {
  margin: 20px 0;
}

.qodef-woocommerce-page .lost_reset_password .form-row.form-row-first label {
  vertical-align: middle;
  display: inline-block;
  line-height: 50px;
  padding-right: 15px;
}

.qodef-woocommerce-page .lost_reset_password .form-row.form-row-first input[type='text'] {
  width: 50%;
}

.qodef-woocommerce-page .woocommerce-checkout-review-order-table th,
.qodef-woocommerce-page .woocommerce-checkout-review-order-table td {
  text-align: left;
  padding: 10px 10px 10px 20px;
}

.qodef-woocommerce-page .woocommerce-checkout-review-order-table tfoot {
  border: 1px solid #e6e6e6;
}

.qodef-woocommerce-page .woocommerce-checkout-review-order-table .order-total {
  color: #b2dd4c;
}

.qodef-woocommerce-page .woocommerce-checkout-review-order-table #shipping_method {
  list-style: none;
}

.qodef-woocommerce-page .woocommerce-checkout-payment {
  margin: 40px 0;
}

.qodef-woocommerce-page .woocommerce-checkout-payment ul {
  list-style-type: none;
}

.qodef-woocommerce-page .woocommerce-checkout-payment li {
  margin: 20px 0;
}

.qodef-woocommerce-page .woocommerce-checkout-payment img {
  display: block;
}

.woocommerce-edit-address input[type='submit'],
.woocommerce-edit-account input[type='submit'] {
  display: inline-block;
  position: relative;
  outline: none;
  font-style: normal;
  font-weight: 800;
  font-family: inherit;
  padding: 0 35px;
  font-size: 13px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #e6e6e6;
  color: #707070;
  background-color: transparent;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  margin: 15px 0 44px 0;
}

.woocommerce-edit-address input[type='submit']:hover,
.woocommerce-edit-account input[type='submit']:hover {
  color: #fff;
  background-color: #b2dd4c;
  border-color: #b2dd4c;
}

.woocommerce-checkout address,
.woocommerce-account address {
  margin: 0 0 44px;
}

.woocommerce-checkout h2, .woocommerce-checkout h3,
.woocommerce-account h2,
.woocommerce-account h3 {
  margin: 25px 0;
}

.woocommerce-account .u-columns.col2-set {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 65px;
}

.woocommerce-account .u-columns.col2-set .col-1 {
  margin-right: 2%;
}

.woocommerce-account .u-columns.col2-set .col-1,
.woocommerce-account .u-columns.col2-set .col-2 {
  width: 49%;
  display: inline-block;
  float: left;
}

.woocommerce-account .u-columns.col2-set .col-1 p.form-row-wide,
.woocommerce-account .u-columns.col2-set .col-1 p.form-row-wide,
.woocommerce-account .u-columns.col2-set .col-2 p.form-row-wide,
.woocommerce-account .u-columns.col2-set .col-2 p.form-row-wide {
  width: 100%;
}

.woocommerce-account .u-columns.col2-set .login .form-row,
.woocommerce-account .u-columns.col2-set .login p {
  margin-bottom: 15px;
}

.woocommerce-account .u-columns.col2-set .login .form-row label {
  margin-top: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
  width: 30%;
  padding: 0 30px 0 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #e6e6e6;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a {
  color: #b2dd4c;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #222;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover {
  color: #b2dd4c;
}

.woocommerce-account .woocommerce-MyAccount-content {
  width: 70%;
  padding: 0 0 0 30px;
  margin: 0 0 40px;
}

.woocommerce-account .form-row {
  margin-bottom: 15px;
}

.woocommerce-account legend {
  font-size: 16px;
  margin-bottom: 10px;
  color: #222;
  font-weight: 700;
  font-family: Raleway,sans-serif;
}

.woocommerce-view-order mark {
  background-color: #b2dd4c;
  color: #fff;
  padding: 3px;
}

/* Woocommerce checkout - end
========================================================================== */
.qodef-woocommerce-page .woocommerce .form-row input[type="text"],
.qodef-woocommerce-page .woocommerce .form-row input[type="email"],
.qodef-woocommerce-page .woocommerce .form-row input[type="tel"],
.qodef-woocommerce-page .woocommerce .form-row input[type="password"],
.qodef-woocommerce-page .woocommerce .form-row textarea,
.qodef-woocommerce-page .woocommerce .coupon input[type="text"],
.qodef-woocommerce-page .woocommerce .coupon input[type="email"],
.qodef-woocommerce-page .woocommerce .coupon input[type="tel"],
.qodef-woocommerce-page .woocommerce .coupon input[type="password"],
.qodef-woocommerce-page .woocommerce .coupon textarea {
  width: 100%;
  padding: 15px;
  outline: 0;
  resize: none;
  font-family: inherit;
  line-height: 20px;
  background-color: #f6f6f5;
  color: #7f8385;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
  font-size: 14px;
  vertical-align: top;
}

.qodef-woocommerce-page .woocommerce .coupon input[type="text"] {
  width: 50%;
}

/* Dropdown Shopping Cart */
.qodef-shopping-cart-outer {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.qodef-shopping-cart-outer .qodef-shopping-cart-inner {
  display: table;
  height: 100%;
  vertical-align: middle;
}

.qodef-shopping-cart-outer .qodef-shopping-cart-header {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.qodef-shopping-cart-outer .qodef-shopping-cart-header .qodef-header-cart {
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

.qodef-shopping-cart-outer .qodef-shopping-cart-header .qodef-header-cart i {
  color: #727272;
  font-size: 22px;
  -webkit-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.qodef-shopping-cart-outer .qodef-shopping-cart-header .qodef-header-cart:hover i {
  color: #b2dd4c;
}

.qodef-shopping-cart-outer .qodef-shopping-cart-header .qodef-cart-label {
  -webkit-transition: color 0.15s ease;
  transition: color 0.15s ease;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: -11px;
  right: -5px;
  text-align: center;
  background-color: #b2dd4c;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
}

.qodef-shopping-cart-dropdown {
  background-color: #fff;
  box-sizing: border-box;
  left: auto;
  position: absolute;
  right: -1px;
  top: 100%;
  z-index: 1000;
  width: 300px;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.qodef-shopping-cart-dropdown .qodef-dropdown-top-stripe-holder {
  display: block;
  height: 7px;
  line-height: 0;
  width: 100%;
  background-color: #b2dd4c;
}

.qodef-shopping-cart-dropdown ul {
  border: 2px solid #eaeaea;
  border-top: 0;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.qodef-shopping-cart-dropdown ul li {
  padding: 15px 15px 0;
  box-sizing: border-box;
  list-style-type: none;
}

.qodef-shopping-cart-dropdown ul li a {
  display: block;
}

.qodef-shopping-cart-dropdown ul li a:hover {
  color: #b2dd4c;
}

.qodef-shopping-cart-dropdown ul li .qodef-item-wrapper {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #eaeaea;
}

.qodef-shopping-cart-dropdown ul li .qodef-item-image-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  width: 65px;
}

.qodef-shopping-cart-dropdown ul li .qodef-item-image-holder img {
  vertical-align: middle;
}

.qodef-shopping-cart-dropdown .qodef-item-info-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding-left: 20px;
  text-align: left;
}

.qodef-shopping-cart-dropdown .qodef-item-info-holder .qodef-item-left {
  float: left;
  width: 70%;
}

.qodef-shopping-cart-dropdown .qodef-item-info-holder .qodef-item-left a {
  color: #212121;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 2px;
}

.qodef-shopping-cart-dropdown .qodef-item-info-holder .qodef-item-left a:hover {
  color: #b2dd4c;
}

.qodef-shopping-cart-dropdown .qodef-item-info-holder .qodef-item-right {
  float: right;
  text-align: right;
}

.qodef-shopping-cart-dropdown .qodef-item-info-holder .qodef-item-right .remove {
  color: #fff;
  background-color: #ededed;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-size: 10px;
}

.qodef-shopping-cart-dropdown .qodef-item-info-holder .qodef-item-right .remove:hover {
  background-color: #b2dd4c;
}

.qodef-shopping-cart-dropdown .qodef-item-info-holder .qodef-item-right .remove i {
  top: 0;
}

.qodef-shopping-cart-dropdown span.qodef-total span {
  color: #b2dd4c;
  font-weight: 600;
  letter-spacing: 0;
}

.qodef-shopping-cart-dropdown .qodef-empty-cart {
  border: none;
  padding: 15px;
  color: #797979;
}

.qodef-shopping-cart-dropdown .qodef-cart-list a > img {
  display: block;
}

.qodef-shopping-cart-dropdown span.qodef-quantity {
  color: #a8a8a8;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: block;
}

.qodef-shopping-cart-dropdown .qodef-cart-bottom {
  padding: 15px;
}

.qodef-shopping-cart-dropdown .qodef-cart-bottom .checkout,
.qodef-shopping-cart-dropdown .qodef-cart-bottom .view-cart {
  height: 40px;
  line-height: 40px;
  padding: 0 28px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: 0.8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.qodef-shopping-cart-dropdown .qodef-cart-bottom .view-cart {
  float: left;
  border: 2px solid #bcbcbc;
  color: #797979;
  background-color: transparent;
}

.qodef-shopping-cart-dropdown .qodef-cart-bottom .view-cart:hover {
  border-color: #b2dd4c;
  background-color: #b2dd4c;
  color: #fff;
}

.qodef-shopping-cart-dropdown .qodef-cart-bottom .checkout {
  float: right;
  color: #fff;
  border: 2px solid #b2dd4c;
  background-color: #b2dd4c;
}

.qodef-shopping-cart-dropdown .qodef-cart-bottom .checkout:hover {
  background-color: transparent;
  border-color: #bcbcbc;
  color: #707070;
}

.qodef-shopping-cart-dropdown .qodef-cart-bottom .qodef-subtotal-holder {
  margin: 0 0 20px 0;
  color: #000000;
}

.qodef-shopping-cart-dropdown .qodef-cart-bottom .qodef-subtotal-holder .qodef-total {
  float: left;
  font-size: 14px;
  color: #797979;
  font-weight: 500;
}

.qodef-shopping-cart-dropdown .qodef-cart-bottom .qodef-subtotal-holder .qodef-total-amount {
  float: right;
  font-size: 16px;
  font-weight: 700;
  color: #b2dd4c;
}

.qodef-shopping-cart-outer:hover .qodef-shopping-cart-dropdown {
  display: block;
  visibility: visible;
  text-align: left;
}

.qodef-top-bar .qodef-shopping-cart-outer {
  float: left;
  position: relative;
  height: 40px;
  line-height: 40px;
}

.qodef-top-bar .qodef-shopping-cart-outer .qodef-shopping-cart-inner {
  display: block;
  height: 100%;
}

.qodef-top-bar .qodef-shopping-cart-outer .qodef-shopping-cart-header {
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  .qodef-dark-header .qodef-shopping-cart-header .qodef-header-cart > i,
  .qodef-dark-header .qodef-shopping-cart-header .qodef-header-cart > span {
    color: #000000;
  }
  .qodef-light-header .qodef-shopping-cart-header .qodef-header-cart > i,
  .qodef-light-header .qodef-shopping-cart-header .qodef-header-cart > span {
    color: #ffffff;
  }
  .qodef-dark-header .qodef-sticky-header .qodef-shopping-cart-header .qodef-header-cart > i,
  .qodef-light-header .qodef-sticky-header .qodef-shopping-cart-header .qodef-header-cart > i {
    color: #727272;
  }
  .qodef-light-header .qodef-sticky-header .qodef-shopping-cart-header .qodef-header-cart > span,
  .qodef-dark-header .qodef-sticky-header .qodef-shopping-cart-header .qodef-header-cart > span {
    color: #fff;
  }
}

.qodef-vertical-align-containers .qodef-shopping-cart-header {
  padding: 0 10px;
}

.qodef-vertical-align-containers .qodef-shopping-cart-header i {
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.qodef-vertical-menu-area .qodef-shopping-cart-dropdown {
  right: auto;
}

/* ==========================================================================
# Woocommerce style - end
========================================================================== */
/* Woocommerce price filter - start */
.widget_price_filter .price_slider {
  background-color: #f2f2f2;
  position: relative;
  text-align: left;
  margin: 10px 0 20px;
  height: 10px;
}

.widget_price_filter .ui-slider-range {
  background-color: #b2dd4c;
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  top: 0;
  height: 100%;
}

.widget_price_filter .ui-slider-handle {
  background-color: #fff;
  position: absolute;
  z-index: 2;
  width: 12px;
  height: 12px;
  cursor: pointer;
  outline: 0;
  top: -4px;
  border-radius: 10px;
  margin-left: -2px;
  border: 3px solid #b2dd4c;
}

.widget_price_filter .ui-slider-handle:last-child {
  margin-left: -0.7em;
}

.widget_price_filter .price_slider_amount {
  margin-top: 23px;
}

.widget_price_filter .price_slider_amount .button {
  float: right;
  background-color: #b2dd4c;
  border: 2px solid #b2dd4c;
  color: #fff;
  display: inline-block;
  position: relative;
  outline: none;
  font-style: normal;
  font-weight: 800;
  font-family: inherit;
  padding: 0 35px;
  font-size: 13px;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  transition: color 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;
  cursor: pointer;
}

.widget_price_filter .price_slider_amount .button:hover {
  background-color: #212121;
  border-color: #212121;
  color: #fff;
}

.widget_price_filter .price_label {
  float: left;
  line-height: 38px;
  color: #adacac;
}

/* Woocommerce price filter - end */
/* Woocommerce recently viewed products - start*/
.widget_recently_viewed_products .product_list_widget li,
.widget_products .product_list_widget li {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.widget_recently_viewed_products .qodef-product-list-widget-image-wrapper,
.widget_products .qodef-product-list-widget-image-wrapper {
  display: table-cell;
  width: 28%;
  line-height: 0;
  vertical-align: top;
  height: 100%;
}

.widget_recently_viewed_products .qodef-product-list-widget-image-wrapper a,
.widget_products .qodef-product-list-widget-image-wrapper a {
  display: inline-block;
  width: 100%;
}

.widget_recently_viewed_products .qodef-product-list-widget-info-wrapper,
.widget_products .qodef-product-list-widget-info-wrapper {
  display: table-cell;
  height: 100%;
  vertical-align: top;
  padding-left: 15px;
}

.widget_recently_viewed_products .qodef-product-list-widget-info-wrapper a,
.widget_products .qodef-product-list-widget-info-wrapper a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #212121;
}

/* Woocommerce recently viewed products - end*/
/* ==========================================================================
   Select 2 Script styles (Version: 4.0.6 ) - begin
   ========================================================================== */
body .select2-container--default {
  /* just to make sure that this code overwrite styles from others plugin */
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 12px;
  letter-spacing: 0;
}

body .select2-container--default * {
  box-sizing: border-box;
}

body .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}

body .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding: 0;
}

body .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 0;
  right: auto;
}

body .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
body .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
body .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}

body .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__rendered {
  padding: 0;
}

body .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin: 7px auto 0 5px;
}

body .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin: 0 auto 0 3px;
}

body .select2-container--default.select2-container--disabled .select2-selection--single,
body .select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #ccc;
  cursor: default;
}

body .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear,
body .select2-container--default.select2-container--disabled .select2-selection--multiple .select2-selection__clear {
  display: none;
}

body .select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}

body .select2-container--default.select2-container--open .select2-selection--single,
body .select2-container--default.select2-container--open .select2-selection--multiple {
  color: #b2dd4c;
}

body .select2-container--default.select2-container--open .select2-dropdown {
  left: 0;
}

body .select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--above {
  border-bottom-color: transparent;
}

body .select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--below {
  border-top-color: transparent;
}

body .select2-container--default .select2-selection--single {
  display: block;
  height: 48px;
  padding: 3px 25px;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 42px;
  font-weight: normal;
  color: #797979;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  user-select: none;
}

body .select2-container--default .select2-selection--single:hover .select2-selection__rendered {
  color: #b2dd4c;
}

body .select2-container--default .select2-selection--single .select2-selection__rendered {
  display: block;
  padding: 3px 25px;
  line-height: inherit;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color .2s ease-out;
}

body .select2-container--default .select2-selection--single .select2-selection__clear {
  position: relative;
  float: right;
  margin: 0;
  font-weight: inherit;
  cursor: pointer;
}

body .select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: inherit;
}

body .select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
  color: #797979;
}

body .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

body .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  display: block;
  line-height: inherit;
  content: '\33';
  font-family: 'ElegantIcons';
  font-style: normal;
}

body .select2-container--default .select2-selection--multiple {
  display: block;
  height: 48px;
  padding: 3px 25px;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 42px;
  font-weight: normal;
  color: #797979;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  user-select: none;
}

body .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  display: block;
  padding: 0;
  line-height: inherit;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  margin: 0;
  padding: 0;
}

body .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__placeholder {
  float: left;
  margin: 0;
  color: inherit;
}

body .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__clear {
  position: relative;
  float: right;
  margin: 0;
  font-weight: inherit;
  cursor: pointer;
}

body .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  margin: 5px 5px 0 0;
  padding: 0 10px;
  float: left;
  color: #fff;
  background-color: #797979;
  border: 0;
  border-radius: 0;
  cursor: default;
}

body .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice__remove {
  display: inline-block;
  margin: 0 3px 0 0;
  font-weight: 700;
  color: inherit;
  transition: opacity .2s ease-out;
  cursor: pointer;
}

body .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice__remove:hover {
  color: inherit;
  opacity: 0.8;
}

body .select2-container--default .select2-search--inline {
  float: left;
}

body .select2-container--default .select2-search--inline .select2-search__field {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border: none !important;
  outline: none;
  -webkit-appearance: none;
}

body .select2-container--default .select2-search--inline .select2-search__field:focus {
  border-color: #797979;
}

body .select2-container--default .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

body .select2-container--default .select2-dropdown {
  position: absolute;
  top: 0;
  left: -100000px;
  display: block;
  width: 100%;
  background-color: #fafafa;
  border: 1px solid transparent;
  border-radius: 0;
  z-index: 1051;
}

body .select2-container--default .select2-search--dropdown {
  display: block;
  padding: 10px 25px;
}

body .select2-container--default .select2-search--dropdown.select2-search--hide {
  display: none;
}

body .select2-container--default .select2-search--dropdown .select2-search__field {
  width: 100%;
  padding: 4px 8px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  font-weight: inherit;
  color: #797979;
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
  -webkit-appearance: none;
}

body .select2-container--default .select2-search--dropdown .select2-search__field:focus {
  color: #b2dd4c;
  background-color: #fafafa;
  border-color: #b2dd4c;
}

body .select2-container--default .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

body .select2-container--default .select2-results {
  display: block;
}

body .select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

body .select2-container--default .select2-results__options {
  position: relative;
  margin: 5px 0;
  padding: 3px 25px;
  list-style: none;
}

body .select2-container--default .select2-results__option {
  padding: 0;
  font-size: 14px;
  line-height: 42px;
  user-select: none;
  transition: color .2s ease-out;
}

body .select2-container--default .select2-results__option[aria-selected] {
  cursor: pointer;
}

body .select2-container--default .select2-results__option[role=group] {
  padding: 0;
}

body .select2-container--default .select2-results__option[aria-disabled=true] {
  color: #797979;
}

body .select2-container--default .select2-results__option[aria-selected=true], body .select2-container--default .select2-results__option[data-selected=true] {
  color: #b2dd4c;
  background: none;
}

body .select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}

body .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}

body .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}

body .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}

body .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}

body .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}

body .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

body .select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: #b2dd4c;
  background: none;
}

body .select2-container--default .select2-results__group {
  display: block;
  padding: 7px 0;
  cursor: default;
}

.select2-close-mask {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 0;
  opacity: 0;
  z-index: 99;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  position: absolute !important;
  width: 1px !important;
  height: 0 !important;
  padding: 0 !important;
  line-height: 1;
  border: 0 !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
}

/*# sourceMappingURL=woocommerce.css.map */