/* ==========================================================================
# Woocommerce responsive style - begin
========================================================================== */
/* Woocommerce product list - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .qodef-woocommerce-page .woocommerce-result-count,
  .qodef-woocommerce-page .woocommerce-ordering {
    width: 100%;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-woocommerce-page .woocommerce-result-count {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-woocommerce-page .woocommerce-ordering {
    display: block;
    float: none;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-woocommerce-page.qodef-woocommerce-columns-4 .products .product {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .qodef-woocommerce-page.qodef-woocommerce-columns-4 .products .product:nth-child(3n) {
    margin-right: 0;
  }
  .qodef-woocommerce-page.qodef-woocommerce-columns-4 .products .product:nth-child(3n+1) {
    clear: both;
    margin-right: 2%;
  }
  .qodef-woocommerce-page.qodef-woocommerce-columns-4 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-woocommerce-page.qodef-woocommerce-columns-4 .products .product {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .qodef-woocommerce-page.qodef-woocommerce-columns-4 .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .qodef-woocommerce-page.qodef-woocommerce-columns-4 .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .qodef-woocommerce-page.qodef-woocommerce-columns-4 .products .product:nth-child(3n+1), .qodef-woocommerce-page.qodef-woocommerce-columns-4 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-woocommerce-page.qodef-woocommerce-columns-4 .products .product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product:nth-child(3n+1), .qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-woocommerce-page.qodef-woocommerce-columns-4 .qodef-woocommerce-with-sidebar .products .product {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-woocommerce-page.qodef-woocommerce-columns-3 .products .product {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .qodef-woocommerce-page.qodef-woocommerce-columns-3 .products .product:nth-child(2n) {
    margin-right: 0;
  }
  .qodef-woocommerce-page.qodef-woocommerce-columns-3 .products .product:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .qodef-woocommerce-page.qodef-woocommerce-columns-3 .products .product:nth-child(3n+1), .qodef-woocommerce-page.qodef-woocommerce-columns-3 .products .product:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-woocommerce-page.qodef-woocommerce-columns-3 .products .product {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-woocommerce-page.qodef-woocommerce-columns-3 .qodef-woocommerce-with-sidebar .products .product {
    width: 100%;
  }
}

/* Style for product list on default and full width page template - start
========================================================================== */
/* Without sidebar - start */
@media only screen and (min-width: 1200px) {
  .woocommerce.columns-6 ul.products li.product:nth-child(6n+1),
  .woocommerce.columns-5 ul.products li.product:nth-child(5n+1),
  .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
  .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
  .woocommerce.columns-2 ul.products li.product:nth-child(2n+1),
  .woocommerce-page.columns-6 ul.products li.product:nth-child(6n+1),
  .woocommerce-page.columns-5 ul.products li.product:nth-child(5n+1),
  .woocommerce-page.columns-4 ul.products li.product:nth-child(4n+1),
  .woocommerce-page.columns-3 ul.products li.product:nth-child(3n+1),
  .woocommerce-page.columns-2 ul.products li.product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .woocommerce.columns-6 ul.products li.product,
  .woocommerce-page.columns-6 ul.products li.product {
    width: 18.4%;
    margin-right: 2%;
  }
  .woocommerce.columns-6 ul.products li.first,
  .woocommerce-page.columns-6 ul.products li.first {
    clear: none;
  }
  .woocommerce.columns-6 ul.products li.last,
  .woocommerce-page.columns-6 ul.products li.last {
    margin-right: 2%;
  }
  .woocommerce.columns-6 ul.products li.product:nth-child(5n+5),
  .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+5) {
    margin-right: 0;
  }
  .woocommerce.columns-6 ul.products li.product:nth-child(6n+1),
  .woocommerce-page.columns-6 ul.products li.product:nth-child(6n+1) {
    clear: none;
  }
  .woocommerce.columns-6 ul.products li.product:nth-child(5n+1),
  .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+1) {
    clear: both;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .woocommerce.columns-5 ul.products li.product,
  .woocommerce.columns-6 ul.products li.product,
  .woocommerce-page.columns-5 ul.products li.product,
  .woocommerce-page.columns-6 ul.products li.product {
    width: 23.5%;
    margin-right: 2%;
  }
  .woocommerce.columns-5 ul.products li.first,
  .woocommerce.columns-6 ul.products li.first,
  .woocommerce-page.columns-5 ul.products li.first,
  .woocommerce-page.columns-6 ul.products li.first {
    clear: none;
  }
  .woocommerce.columns-5 ul.products li.last,
  .woocommerce.columns-6 ul.products li.last,
  .woocommerce-page.columns-5 ul.products li.last,
  .woocommerce-page.columns-6 ul.products li.last {
    margin-right: 2%;
  }
  .woocommerce.columns-5 ul.products li.product:nth-child(4n+4),
  .woocommerce.columns-6 ul.products li.product:nth-child(4n+4),
  .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+4),
  .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+4) {
    margin-right: 0;
  }
  .woocommerce.columns-6 ul.products li.product:nth-child(5n+1),
  .woocommerce.columns-5 ul.products li.product:nth-child(5n+1),
  .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+1),
  .woocommerce-page.columns-5 ul.products li.product:nth-child(5n+1) {
    clear: none;
  }
  .woocommerce.columns-6 ul.products li.product:nth-child(4n+1),
  .woocommerce.columns-5 ul.products li.product:nth-child(4n+1),
  .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+1),
  .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1024px) {
  .woocommerce.columns-3 ul.products li.product,
  .woocommerce.columns-4 ul.products li.product,
  .woocommerce.columns-5 ul.products li.product,
  .woocommerce.columns-6 ul.products li.product,
  .woocommerce-page.columns-3 ul.products li.product,
  .woocommerce-page.columns-4 ul.products li.product,
  .woocommerce-page.columns-5 ul.products li.product,
  .woocommerce-page.columns-6 ul.products li.product {
    width: 32%;
    margin-right: 2%;
  }
  .woocommerce ul.products li.first,
  .woocommerce-page ul.products li.first {
    clear: none;
  }
  .woocommerce ul.products li.last,
  .woocommerce-page ul.products li.last {
    margin-right: 0;
  }
  .woocommerce ul.products li.product:nth-child(3n+3),
  .woocommerce-page ul.products li.product:nth-child(3n+3) {
    margin-right: 0;
  }
  .woocommerce.columns-2 ul.products li.product:nth-child(3n+3),
  .woocommerce-page.columns-2 ul.products li.product:nth-child(3n+3) {
    margin-right: 2%;
  }
  .woocommerce.columns-2 ul.products li.product:nth-child(6n+6),
  .woocommerce-page.columns-2 ul.products li.product:nth-child(6n+6) {
    margin-right: 0;
  }
  .woocommerce.columns-6 ul.products li.product:nth-child(4n+1),
  .woocommerce.columns-5 ul.products li.product:nth-child(4n+1),
  .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
  .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+1),
  .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+1),
  .woocommerce-page.columns-4 ul.products li.product:nth-child(4n+1) {
    clear: none;
  }
  .woocommerce.columns-6 ul.products li.product:nth-child(3n+1),
  .woocommerce.columns-5 ul.products li.product:nth-child(3n+1),
  .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
  .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+1),
  .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+1),
  .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1),
  .woocommerce-page.columns-3 ul.products li.product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 768px) {
  .woocommerce.columns-3 ul.products li.product,
  .woocommerce.columns-4 ul.products li.product,
  .woocommerce.columns-5 ul.products li.product,
  .woocommerce.columns-6 ul.products li.product,
  .woocommerce-page.columns-3 ul.products li.product,
  .woocommerce-page.columns-4 ul.products li.product,
  .woocommerce-page.columns-5 ul.products li.product,
  .woocommerce-page.columns-6 ul.products li.product {
    width: 49%;
    margin-right: 2%;
  }
  .woocommerce ul.products li.first,
  .woocommerce-page ul.products li.first {
    clear: none;
  }
  .woocommerce ul.products li.product:nth-child(3n+3),
  .woocommerce-page ul.products li.product:nth-child(3n+3) {
    margin-right: 2%;
  }
  .woocommerce ul.products li.product:nth-child(2n+2),
  .woocommerce ul.products li.product:nth-child(6n+6),
  .woocommerce-page ul.products li.product:nth-child(2n+2),
  .woocommerce-page ul.products li.product:nth-child(6n+6) {
    margin-right: 0;
  }
  .woocommerce.columns-6 ul.products li.product:nth-child(3n+1),
  .woocommerce.columns-5 ul.products li.product:nth-child(3n+1),
  .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
  .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+1),
  .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+1),
  .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1),
  .woocommerce-page.columns-3 ul.products li.product:nth-child(3n+1) {
    clear: none;
  }
  .woocommerce.columns-6 ul.products li.product:nth-child(2n+1),
  .woocommerce.columns-5 ul.products li.product:nth-child(2n+1),
  .woocommerce.columns-4 ul.products li.product:nth-child(2n+1),
  .woocommerce.columns-3 ul.products li.product:nth-child(2n+1),
  .woocommerce-page.columns-6 ul.products li.product:nth-child(2n+1),
  .woocommerce-page.columns-5 ul.products li.product:nth-child(2n+1),
  .woocommerce-page.columns-4 ul.products li.product:nth-child(2n+1),
  .woocommerce-page.columns-3 ul.products li.product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 480px) {
  .woocommerce.columns-2 ul.products li.product,
  .woocommerce.columns-3 ul.products li.product,
  .woocommerce.columns-4 ul.products li.product,
  .woocommerce.columns-5 ul.products li.product,
  .woocommerce.columns-6 ul.products li.product,
  .woocommerce-page.columns-2 ul.products li.product,
  .woocommerce-page.columns-3 ul.products li.product,
  .woocommerce-page.columns-4 ul.products li.product,
  .woocommerce-page.columns-5 ul.products li.product,
  .woocommerce-page.columns-6 ul.products li.product {
    width: 100%;
    margin-right: 0;
  }
}

/* Without sidebar - end */
/* Five and six columns when page template is default - start */
@media only screen and (min-width: 1200px) {
  .page-template-default .woocommerce.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-default .woocommerce.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-default .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-default .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-default .woocommerce.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-default .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-default .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-default .woocommerce-page.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-default .woocommerce-page.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-default .woocommerce-page.columns-2 ul.products li.product:nth-child(2n+1) {
    clear: both;
  }
  .page-template-default .woocommerce.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-default .woocommerce.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-default .woocommerce-page.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-default .woocommerce-page.columns-5 ul.products li.product:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .page-template-default .woocommerce ul.products li.product:nth-child(5n+5),
  .page-template-default .woocommerce-page ul.products li.product:nth-child(5n+5) {
    margin-right: 2%;
  }
  .page-template-default .woocommerce.columns-2 ul.products li.product:nth-child(10n+10),
  .page-template-default .woocommerce.columns-3 ul.products li.product:nth-child(15n+15),
  .page-template-default .woocommerce-page.columns-2 ul.products li.product:nth-child(10n+10),
  .page-template-default .woocommerce-page.columns-3 ul.products li.product:nth-child(15n+15) {
    margin-right: 0;
  }
  .page-template-default .woocommerce ul.products li.first,
  .page-template-default .woocommerce-page ul.products li.first {
    clear: none;
  }
  .page-template-default .woocommerce.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-default .woocommerce.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-default .woocommerce-page.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-default .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+1) {
    clear: none;
  }
  .page-template-default .woocommerce.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-default .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+1) {
    clear: both;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .page-template-default .woocommerce.columns-4 ul.products li.product,
  .page-template-default .woocommerce.columns-5 ul.products li.product,
  .page-template-default .woocommerce.columns-6 ul.products li.product,
  .page-template-default .woocommerce-page.columns-4 ul.products li.product,
  .page-template-default .woocommerce-page.columns-5 ul.products li.product,
  .page-template-default .woocommerce-page.columns-6 ul.products li.product {
    width: 32%;
    margin-right: 2%;
  }
  .page-template-default .woocommerce ul.products li.first,
  .page-template-default .woocommerce-page ul.products li.first {
    clear: none;
  }
  .page-template-default .woocommerce.columns-5 ul.products li.product:nth-child(4n+4),
  .page-template-default .woocommerce.columns-6 ul.products li.product:nth-child(4n+4),
  .page-template-default .woocommerce.columns-2 ul.products li.product:nth-child(3n+3),
  .page-template-default .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+4),
  .page-template-default .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+4),
  .page-template-default .woocommerce-page.columns-2 ul.products li.product:nth-child(3n+3) {
    margin-right: 2%;
  }
  .page-template-default .woocommerce.columns-5 ul.products li.product:nth-child(12n+12),
  .page-template-default .woocommerce.columns-6 ul.products li.product:nth-child(12n+12),
  .page-template-default .woocommerce.columns-2 ul.products li.product:nth-child(6n+6),
  .page-template-default .woocommerce ul.products li.product:nth-child(3n+3),
  .page-template-default .woocommerce-page.columns-5 ul.products li.product:nth-child(12n+12),
  .page-template-default .woocommerce-page.columns-6 ul.products li.product:nth-child(12n+12),
  .page-template-default .woocommerce-page.columns-2 ul.products li.product:nth-child(6n+6),
  .page-template-default .woocommerce-page ul.products li.product:nth-child(3n+3) {
    margin-right: 0;
  }
  .page-template-default .woocommerce.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-default .woocommerce.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-default .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-default .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-default .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-default .woocommerce-page.columns-4 ul.products li.product:nth-child(4n+1) {
    clear: none;
  }
  .page-template-default .woocommerce.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-default .woocommerce.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-default .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-default .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-default .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-default .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .page-template-default .woocommerce.columns-2 ul.products li.product,
  .page-template-default .woocommerce.columns-3 ul.products li.product,
  .page-template-default .woocommerce.columns-4 ul.products li.product,
  .page-template-default .woocommerce.columns-5 ul.products li.product,
  .page-template-default .woocommerce.columns-6 ul.products li.product,
  .page-template-default .woocommerce-page.columns-2 ul.products li.product,
  .page-template-default .woocommerce-page.columns-3 ul.products li.product,
  .page-template-default .woocommerce-page.columns-4 ul.products li.product,
  .page-template-default .woocommerce-page.columns-5 ul.products li.product,
  .page-template-default .woocommerce-page.columns-6 ul.products li.product {
    width: 100%;
    margin-right: 0;
  }
}

/* Five and six columns when page template is default - end */
/* All columns when page template is default or full width with sidebar - start */
@media only screen and (min-width: 1200px) {
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-3 ul.products li.product:nth-child(3n+1) {
    clear: none;
  }
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-2 ul.products li.product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 1200px) {
  .page-template-default .qodef-two-columns-66-33 .woocommerce,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page,
  .page-template-default .qodef-two-columns-75-25 .woocommerce,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page {
    /* Important is because too much combination exists when
		sidebar is active and there are three, four, five or six columns */
  }
  .page-template-default .qodef-two-columns-66-33 .woocommerce ul.products li.first,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page ul.products li.first,
  .page-template-default .qodef-two-columns-75-25 .woocommerce ul.products li.first,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page ul.products li.first,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce ul.products li.first,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page ul.products li.first,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce ul.products li.first,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page ul.products li.first {
    clear: none;
  }
  .page-template-default .qodef-two-columns-66-33 .woocommerce ul.products li.last,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page ul.products li.last,
  .page-template-default .qodef-two-columns-75-25 .woocommerce ul.products li.last,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page ul.products li.last,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce ul.products li.last,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page ul.products li.last,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce ul.products li.last,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page ul.products li.last {
    margin-right: 2%;
  }
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-2 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-3 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-2 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-3 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-2 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-3 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-2 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-3 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-2 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-3 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-2 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-3 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-2 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-3 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-2 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-3 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product {
    width: 49%;
    margin-right: 2% !important;
  }
  .page-template-default .qodef-two-columns-66-33 .woocommerce ul.products li.product:nth-child(2n+2),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page ul.products li.product:nth-child(2n+2),
  .page-template-default .qodef-two-columns-75-25 .woocommerce ul.products li.product:nth-child(2n+2),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page ul.products li.product:nth-child(2n+2),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce ul.products li.product:nth-child(2n+2),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page ul.products li.product:nth-child(2n+2),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce ul.products li.product:nth-child(2n+2),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page ul.products li.product:nth-child(2n+2) {
    margin-right: 0 !important;
  }
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-3 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(6n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(5n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product:nth-child(4n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product:nth-child(3n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-3 ul.products li.product:nth-child(3n+1) {
    clear: none;
  }
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-2 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-3 ul.products li.product:nth-child(2n+1),
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-2 ul.products li.product:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 480px) {
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page {
    /* Important is because too much combination exists when
		sidebar is active and there are three, four, five or six columns */
  }
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-2 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-3 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-2 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-3 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product,
  .page-template-full-width .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-2 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-3 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-2 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-3 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product,
  .page-template-full-width .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product {
    width: 100%;
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .page-template-default .qodef-two-columns-66-33 .woocommerce,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page,
  .page-template-default .qodef-two-columns-75-25 .woocommerce,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page {
    /* Important is because too much combination exists when
		sidebar is active and there are three, four, five or six columns */
  }
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-2 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-3 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-4 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-5 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce.columns-6 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-2 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-3 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-4 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-5 ul.products li.product,
  .page-template-default .qodef-two-columns-66-33 .woocommerce-page.columns-6 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-2 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-3 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-4 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-5 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce.columns-6 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-2 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-3 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-4 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-5 ul.products li.product,
  .page-template-default .qodef-two-columns-75-25 .woocommerce-page.columns-6 ul.products li.product {
    width: 100%;
    margin-right: 0 !important;
  }
}

/* All columns when page template is default or full width with sidebar - end */
/* Style for product list on default and full width page template - end
========================================================================== */
/* Woocommerce product list - end
========================================================================== */
/* Woocommerce single product - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .qodef-single-product-images,
  .qodef-single-product-summary {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-single-product-summary {
    margin-bottom: 20px;
  }
}

/* Woocommerce single product - end
========================================================================== */
/* Woocommerce quantity buttons - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .qodef-woocommerce-page td.product-quantity .qodef-quantity-buttons .qodef-quantity-minus,
  .qodef-woocommerce-page td.product-quantity .qodef-quantity-buttons .qodef-quantity-plus,
  .qodef-woocommerce-page td.product-quantity .qodef-quantity-buttons .qodef-quantity-input {
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 10px;
    display: block;
  }
}

.qodef-woocommerce-page td.product-quantity .qodef-quantity-buttons .qodef-quantity-input {
  font-size: 14px;
}

/* Woocommerce quantity buttons - end
========================================================================== */
/* Woocommerce table - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .qodef-woocommerce-page table td {
    padding: 5px 5px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-woocommerce-page td.product-thumbnail img {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-woocommerce-page td.actions .coupon,
  .qodef-woocommerce-page td.actions .qodef-cart-proceed-update {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .qodef-woocommerce-page td.actions .qodef-cart-proceed-update .checkout-button {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-woocommerce-page .coupon input[type="text"] {
    width: 150px;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-woocommerce-page td.actions .coupon input[type=submit].qodef-btn {
    margin-top: 15px;
  }
}

/* Woocommerce table - end
========================================================================== */
/* Woocommerce shipping calculator - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .qodef-woocommerce-page .qodef-shipping-calculator {
    width: 100%;
    margin-bottom: 25px;
  }
}

/* Woocommerce shipping calculator - end
========================================================================== */
/* Woocommerce totals - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .qodef-woocommerce-page .qodef-cart-totals {
    width: 100%;
  }
}

/* Woocommerce totals - end
========================================================================== */
/* Woocommerce checkout - begin
========================================================================== */
@media only screen and (max-width: 768px) {
  .qodef-woocommerce-page .woocommerce-checkout .col-1,
  .qodef-woocommerce-page .woocommerce-checkout .col-2 {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .qodef-woocommerce-page .checkout_coupon p {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-woocommerce-page .lost_reset_password .form-row.form-row-first label {
    display: block;
  }
  .qodef-woocommerce-page .lost_reset_password .form-row.form-row-first input[type='text'] {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-woocommerce-page .login .form-row {
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-woocommerce-page .login .form-row {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .qodef-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 28%;
    padding: 0 15px 0 0;
  }
  .qodef-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    width: 72%;
    padding: 0 0 0 15px;
  }
  .qodef-woocommerce-page.woocommerce-account .u-columns.col2-set .col-1,
  .qodef-woocommerce-page.woocommerce-account .u-columns.col2-set .col-2 {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .qodef-woocommerce-page.woocommerce-account .woocommerce-MyAccount-navigation,
  .qodef-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
    padding: 0;
  }
  .qodef-woocommerce-page.woocommerce-account .woocommerce-MyAccount-content {
    margin: 50px 0;
  }
}

/* Woocommerce checkout - end
========================================================================== */
/* Woocommerce dropdown cart - begin
========================================================================== */
@media only screen and (max-width: 1024px) {
  .qodef-shopping-cart-outer:hover .qodef-shopping-cart-dropdown {
    display: none;
    visibility: hidden;
  }
  .qodef-top-bar .qodef-shopping-cart-outer {
    float: none;
  }
}

@media only screen and (max-width: 320px) {
  .qodef-shopping-cart-outer {
    display: none;
  }
}

/* Woocommerce dropdown cart - begin
========================================================================== */
/* ==========================================================================
# Woocommerce responsive style - end
========================================================================== */

/*# sourceMappingURL=woocommerce-responsive.css.map */