/* ==========================================================================
# Call to action responsive style - begin
========================================================================== */

.qodef-call-to-action {

	.qodef-call-to-action-row-75-25 .qodef-call-to-action-column1 {

		@media only screen and (min-width: $phone-landscape) and (max-width: $laptop-landscape) {
			width: 65%;
		}

	}

	.qodef-call-to-action-row-75-25 .qodef-call-to-action-column2 {

		@media only screen and (min-width: $phone-landscape) and (max-width: $laptop-landscape) {
			width: 35%;
		}

	}

	.qodef-call-to-action-cell {

		@include ipad-portrait {
			display: block;
			text-align: center !important;
			width: 100% !important;
		}

	}

	.qodef-text-wrapper .qodef-call-to-action-icon-holder {

		@include ipad-portrait {
			position: relative;
			width: 100%;
			text-align: center;
		}

	}

	.qodef-text-wrapper .qodef-call-to-action-icon {

		@include ipad-portrait {
			display: inline-block;
		}

	}

	.qodef-text-wrapper .qodef-call-to-action-text {

		@include ipad-portrait {
			text-align: center;
			margin-bottom: 25px;
		}

	}

    .qodef-container-inner {
        @include phone-portrait {
            width: 90%;
        }
    }

}

.qodef-call-to-action.with-icon {

	@include ipad-portrait {
		padding: 0;
	}

}

/* ==========================================================================
# Call to action responsive style - end
========================================================================== */