/* ==========================================================================
# Clients style - begin
========================================================================== */
.qodef-clients {
	
	.qodef-client-holder {
		float: left;
		text-align: inherit;
		margin-bottom: 0;

		.qodef-client-holder-inner {
			position: relative;
			margin: 0;
		}
		a,
        .qodef-client-image-nolink{
			display: inline-block;
			vertical-align: middle;
			max-width: 100%;
			line-height: 0;
			@include qodefTransition(opacity 0.15s ease-out);
			position: relative;
			overflow: hidden;
		}

		&.qodef-hover-opacity a:hover {
			opacity: 0.4;
		}
		.qodef-client-image{
			position: relative;
			display: block;
		}
		.qodef-client-hover-image{
			position: absolute;
			top: 0;
			left: 0;
			display: block;
		}

		&.qodef-clients-roll-over {
			.qodef-client-hover-image,
			.qodef-client-image {
				-webkit-transition: -webkit-transform .5s ease;
				transition: transform .5s ease;
			}
			.qodef-client-hover-image{
				@include qodefTransform(translateY(-100%));
			}
			a:hover .qodef-client-hover-image,
            .qodef-client-image-nolink:hover .qodef-client-hover-image{
				@include qodefTransform(translateY(0%));
				-webkit-transition: -webkit-transform .6s $aux-easing-1;
				transition: transform .6s $aux-easing-1;
			}
			a:hover .qodef-client-image,
            .qodef-client-image-nolink:hover .qodef-client-image{
				@include qodefTransform(translateY(100%));
				-webkit-transition: -webkit-transform .6s $aux-easing-1;
				transition: transform .6s $aux-easing-1;
			}
		}

		&.qodef-clients-fade {
			.qodef-client-hover-image,
			.qodef-client-image {
				@include qodefTransition(opacity .4s $aux-easing-1);
			}
			.qodef-client-hover-image{
				opacity: 0;
			}
			a:hover .qodef-client-hover-image,
			.qodef-client-image-nolink:hover .qodef-client-hover-image{
				opacity: 1;
			}
			a:hover .qodef-client-image,
            .qodef-client-image-nolink:hover .qodef-client-image{
				opacity: 0;
			}
		}
	}

	&.qodef-clients-two-columns {
		.qodef-client-holder {
			width: 50%;
		}
	}
	&.qodef-clients-three-columns {
		.qodef-client-holder {
			width: 33.33%;
		}
	}

	&.qodef-clients-four-columns {
		.qodef-client-holder {
			width: 25%;
		}
	}
	&.qodef-clients-five-columns {
		.qodef-client-holder {
			width: 20%;
		}
	}

	&.qodef-clients-six-columns {
		.qodef-client-holder {
			width: 16.66%;
		}
	}

}
/* ==========================================================================
# Clients style - end
========================================================================== */