/* ==========================================================================
# Countdown style - begin
========================================================================== */
/* jQuery Countdown styles 2.0.0. */
.countdown-rtl {
	direction: rtl;
}

.countdown-row {
	clear: both;
	width: 100%;
	padding: 0 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}

.qodef-countdown {
	font-weight: 700;
}

.countdown-section {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-weight: inherit;
    &:last-child {
        .countdown-amount {
            border-right: 0;
        }
    }
}
.countdown-amount {
	display: block;
	position: relative;
  	font-family: Raleway, sans-serif;
	font-size: 82px;
	line-height: 84px;
	margin-bottom: 40px;
  	letter-spacing: 0;
	color: #212121;
  	font-weight: 400;
    border-right: 1px solid transparent;
}

.countdown-period {
	display: block;
  	font-family: Raleway, sans-serif;
	font-size: 13px;
  	line-height: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $first-main-color;
  	font-weight: 800;
}
.countdown-descr {
	display: block;
	width: 100%;
}

/* ==========================================================================
# Countdown style - end
========================================================================== */