/* ==========================================================================
# Image Gallery - begin
========================================================================== */

/* Image Gallery Grid - begin
========================================================================== */

.qodef-image-gallery {

	.qodef-image-gallery-grid.qodef-gallery-columns-2 {

		.qodef-gallery-image {

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
			}

		}

	}



	.qodef-image-gallery-grid.qodef-gallery-columns-3 {

		.qodef-gallery-image {

			@include ipad-portrait {
				width: 49%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(2n) {
					margin-right: 0;
				}

				&:nth-child(2n+1) {
					clear: both;
					margin-right: 2%;
				}

				&:nth-child(3n+1) {
					clear: none;
				}

			}

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
			}

		}

	}

	.qodef-image-gallery-grid.qodef-gallery-columns-4 {

		.qodef-gallery-image {

			@include ipad-landscape {
				width: 32%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(3n) {
					margin-right: 0;
				}

				&:nth-child(3n+1) {
					clear: both;
					margin-right: 2%;
				}

				&:nth-child(4n+1) {
					clear: none;
				}
			}

			@include ipad-portrait {
				width: 49%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(2n) {
					margin-right: 0;
				}

				&:nth-child(2n+1) {
					clear: both;
					margin-right: 2%;
				}
				
				&:nth-child(3n+1) {
					clear: none;
				}

			}

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
			}

		}

	}

	.qodef-image-gallery-grid.qodef-gallery-columns-5 {

		.qodef-gallery-image {

			@include laptop-landscape {
				width: 24%;
				margin-right: 1.33333%;
				margin-bottom: 1.33333%;

				&:nth-child(4n) {
					margin-right: 0;
				}

				&:nth-child(4n+1) {
					clear: both;
					margin-right: 1.33333%;
				}

				&:nth-child(5n+1) {
					clear: none;
				}

			}

			@include ipad-landscape {
				width: 32%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(3n) {
					margin-right: 0;
				}

				&:nth-child(3n+1) {
					clear: both;
					margin-right: 2%;
				}

				&:nth-child(4n+1) {
					clear: none;
				}

			}

			@include ipad-portrait {
				width: 49%;
				margin-right: 2%;
				margin-bottom: 2%;

				&:nth-child(2n) {
					margin-right: 0;
				}

				&:nth-child(2n+1) {
					clear: both;
					margin-right: 2%;
				}

				&:nth-child(3n+1) {
					clear: none;
				}
			}

			@include phone-portrait {
				width: 100%;
				margin-right: 0;
				margin-bottom: 2%;
			}

		}

	}

}



.qodef-image-gallery {

  .qodef-image-gallery-grid.qodef-gallery-columns-2.qodef-no-space {

	.qodef-gallery-image {

	  @include phone-portrait {
		width: 100%;
		margin-right: 0;
		margin-bottom: 0;
	  }

	}

  }



  .qodef-image-gallery-grid.qodef-gallery-columns-3.qodef-no-space {

	.qodef-gallery-image {

	  @include ipad-portrait {
		width: 50%;
		margin-right: 0%;
		margin-bottom: 0%;

		&:nth-child(2n) {
		  margin-right: 0;
		}

		&:nth-child(2n+1) {
		  clear: both;
		  margin-right: 0%;
		}

		&:nth-child(3n+1) {
		  clear: none;
		}

	  }

	  @include phone-portrait {
		width: 100%;
		margin-right: 0;
		margin-bottom: 0%;
	  }

	}

  }

  .qodef-image-gallery-grid.qodef-gallery-columns-4.qodef-no-space {

	.qodef-gallery-image {

	  @include ipad-landscape {
		width: 33.333%;
		margin-right: 0%;
		margin-bottom: 0%;

		&:nth-child(3n) {
		  margin-right: 0;
		}

		&:nth-child(3n+1) {
		  clear: both;
		  margin-right: 0%;
		}

		&:nth-child(4n+1) {
		  clear: none;
		}
	  }

	  @include ipad-portrait {
		width: 50%;
		margin-right: 0%;
		margin-bottom: 0%;

		&:nth-child(2n) {
		  margin-right: 0;
		}

		&:nth-child(2n+1) {
		  clear: both;
		  margin-right: 0%;
		}

		&:nth-child(3n+1) {
		  clear: none;
		}

	  }

	  @include phone-portrait {
		width: 100%;
		margin-right: 0;
		margin-bottom: 0%;
	  }

	}

  }

  .qodef-image-gallery-grid.qodef-gallery-columns-5.qodef-no-space {

	.qodef-gallery-image {

	  @include laptop-landscape {
		width: 25%;
		margin-right: 0;
		margin-bottom: 0;

		&:nth-child(4n) {
		  margin-right: 0;
		}

		&:nth-child(4n+1) {
		  clear: both;
		  margin-right: 0;
		}

		&:nth-child(5n+1) {
		  clear: none;
		}

	  }

	  @include ipad-landscape {
		width: 33.333%;
		margin-right: 0;
		margin-bottom: 0;

		&:nth-child(3n) {
		  margin-right: 0;
		}

		&:nth-child(3n+1) {
		  clear: both;
		  margin-right: 0;
		}

		&:nth-child(4n+1) {
		  clear: none;
		}

	  }

	  @include ipad-portrait {
		width: 50%;
		margin-right: 0;
		margin-bottom: 0;

		&:nth-child(2n) {
		  margin-right: 0;
		}

		&:nth-child(2n+1) {
		  clear: both;
		  margin-right: 0;
		}

		&:nth-child(3n+1) {
		  clear: none;
		}
	  }

	  @include phone-portrait {
		width: 100%;
		margin-right: 0;
		margin-bottom: 0;
	  }

	}

  }

}

/* Image Gallery Grid - end
========================================================================== */

/* Image Gallery Slider - begin
========================================================================== */

@include ipad-portrait {
    .qodef-image-gallery {
        &.qodef-image-frame {
            &.qodef-frame-5 {
                width: 200px;
            }
        }
    }
}

/* Image Gallery Slider - end
========================================================================== */

/* ==========================================================================
# Image Gallery - end
========================================================================== */