/* ==========================================================================
# Image Gallery - begin
========================================================================== */

/* Image Gallery Grid - begin
========================================================================== */

.qodef-image-gallery {

	display: inline-block;
    width: 100%;
    vertical-align: middle;

	.qodef-grayscale .qodef-gallery-image img {
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		filter: grayscale(100%);
		filter: url(img/desaturate.svg#grayscale);
	}

	.qodef-grayscale .qodef-gallery-image:hover img {
		-webkit-filter: grayscale(0);
		filter: none;
	}


	.qodef-gallery-image a,
	.qodef-gallery-image img {
		display: block;
	  	@include qodefTransition(opacity 0.3s ease-out);
	  	@include qodefTransform(translateZ(0));
	}

	.qodef-image-gallery-grid.qodef-gallery-columns-2 {

		.qodef-gallery-image {
			width: 49%;
			margin-right: 2%;
			margin-bottom: 2%;
			display: inline-block;
			float: left;

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(2n+1) {
				clear: both;
			}
		}

		&.qodef-no-space{
			.qodef-gallery-image {
			  margin: 0 !important;
			  width: 50%;
			}
		}
	}

	.qodef-image-gallery-grid.qodef-gallery-columns-3 {

		.qodef-gallery-image {
			width: 32%;
			margin-right: 2%;
			margin-bottom: 2%;
			display: inline-block;
			float: left;

			&:nth-child(3n) {
				margin-right: 0;
			}

			&:nth-child(3n+1) {
				clear: both;
			}

		}
		&.qodef-no-space{
		  .qodef-gallery-image {
			margin: 0 !important;
			width: 33.333%;
		  }
		}

	}

	.qodef-image-gallery-grid.qodef-gallery-columns-4 {

		.qodef-gallery-image {
			width: 24%;
			margin-right: 1.33333%;
			margin-bottom: 1.33333%;
			display: inline-block;
			float: left;

			&:nth-child(4n) {
				margin-right: 0;
			}

			&:nth-child(4n+1) {
				clear: both;
			}

		}

	  &.qodef-no-space{
		.qodef-gallery-image {
		  margin: 0 !important;
		  width: 25%;
		}
	  }

	}

	.qodef-image-gallery-grid.qodef-gallery-columns-5 {

		.qodef-gallery-image {
			width: 19%;
			margin-right: 1.25%;
			margin-bottom: 1.25%;
			display: inline-block;
			float: left;

			&:nth-child(5n) {
				margin-right: 0;
			}

			&:nth-child(5n+1) {
				clear: both;
			}

		}

	  &.qodef-no-space{
		.qodef-gallery-image {
		  margin: 0 !important;
		  width: 20%;
		}
	  }

	}


  	.qodef-image-gallery-grid:not(.qodef-grayscale) {
	  .qodef-gallery-image:hover img {
		opacity: 0.85;
	  }
	}

}

/* Image Gallery Grid - end
========================================================================== */

/* Image Gallery Slider - begin
========================================================================== */

.qodef-image-gallery {

	.owl-buttons {

		.owl-prev {
			position: absolute;
			top: 50%;
			@include qodefTransform(translateY(-50%));
			left: 0;
		}

		.owl-next {
			position: absolute;
			top: 50%;
			@include qodefTransform(translateY(-50%));
			right: 0;
		}

		.qodef-prev-icon,
		.qodef-next-icon {
			display: inline-block;
			width: 66px;
			height: 66px;
		  	@include qodefBorderRadiusPredefined();
			background-color: rgba(255, 255, 255, 0.35);
		  	@include qodefTransition(background-color 0.2s ease-out);
			text-align: center;

			i {
			  font-size: 20px;
			  line-height: 66px;
			  color: #fff;
			}

		}

		.qodef-prev-icon {
		  @include qodefBorderRadius(0 3px 3px 0);
		}

		.qodef-next-icon {
		  @include qodefBorderRadius(3px 0 0 3px);
		}

		.qodef-prev-icon:hover,
		.qodef-next-icon:hover {
		  background-color: rgba(255, 255, 255, 0.4);
		}

	}

	.owl-pagination {
		text-align: center;

		.owl-page {
			display: inline-block;
		}

		.owl-page span {
			display: inline-block;
			width: 15px;
			height: 15px;
			margin: 4px;
			filter: Alpha(Opacity=50);
			opacity: 0.5;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			background: #fff;
		  	position: relative;
		  	vertical-align: middle;
		}

		.owl-page.active span {
			opacity: 1;
		  	width: 12px;
		  	height: 12px;
		  	margin: 4px 7px;
		}

	  	.owl-page.active span:before {
		  content: "";
		  width: 12px;
		  height: 12px;
		  position: absolute;
		  border: 2px solid #fff;
		  display: inline-block;
		  left: -4px;
		  top: -4px;
		  padding: 2px;
		  @include qodefBorderRadius(50%);
		  @include qodefTransition(
			background-color 0.15s ease-out,
			border-color 0.15s ease-out,
			opacity 0.15s ease-out,
			width 0.15s ease-out,
			height 0.15s ease-out
		  );
		}

	}

    &.qodef-image-frame {
        margin: 0 auto;
        overflow: visible;
        padding: 10px 0 0 0;
        position: relative;
        &.qodef-frame-5 {
            width: 356px;
        }
        img {
            width: 100%;
            display: block;
        }
        .qodef-gallery-frame {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            text-align: center;
        }
        .owl-buttons {
            .owl-prev {
                left: -66px;
            }
            .owl-next {
                right: -66px;
            }
            .qodef-prev-icon,
            .qodef-next-icon {
                i {
                    font-size: 32px;
                    color: #d0d0d0;
                    @include qodefTransition(color 0.2s ease-out);
                }
                &:hover {
                    i {
                        color: #7c7c7c;
                    }
                }
            }
        }
    }

}

/* Image Gallery Slider - end
========================================================================== */

/* ==========================================================================
# Image Gallery - end
========================================================================== */