/* ==========================================================================
# 3d Mobile Showcase Style - begin
========================================================================== */
.qodef-mobile-showcase {

    .qodef-mobile-wrapper {
        position: relative;
        margin: 0;
        width: 100%;

        .qodef-mobile-preview-image{
            display:none;
            text-align:center;
        }

        .qodef-perspective {
            position: relative;
            margin: 0px auto;
            width: 240px;
            height: 550px;
            -webkit-perspective: 1200px;
            -moz-perspective: 1200px;
            perspective: 1200px;
            -webkit-perspective-origin: 50% 0%;
            -moz-perspective-origin: 50% 0%;
            perspective-origin: 50% 0%;
        }

        .qodef-device {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-transition: -webkit-transform 0.7s ease-in-out;
            -moz-transition: -moz-transform 0.7s ease-in-out;
            transition: transform 0.7s ease-in-out;
            -webkit-transform: rotateY(17deg) rotateX(10deg);
            -moz-transform: rotateY(17deg) rotateX(10deg);
            transform: rotateY(17deg) rotateX(10deg);
        }

        .qodef-device,
        .qodef-object,
        .qodef-object > div,
        .qodef-screens .qodef-screen {
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        .qodef-object {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-transition: -webkit-transform 0.4s;
            -moz-transition: -moz-transform 0.4s;
            transition: transform 0.4s;

            > div {
                position: absolute;
                display: block;
                background: #181818;
            }

            .qodef-front,
            .qodef-back {
                width: 239.99952px;
                height: 508px;
                border-radius: 34px;
            }

            .qodef-top,
            .qodef-bottom {
                width: 30px;
                height: 179.99952px;
                -webkit-transform-origin: 50% 0;
                -moz-transform-origin: 50% 0;
                transform-origin: 50% 0;
            }

            .qodef-left,
            .qodef-right {
                width: 30px;
                height: 448px;
            }

            .qodef-front {
                background: #181818 url(img/iPhone5_front.png) no-repeat top left;
                -webkit-background-size: 100% 100%;
                -moz-background-size: 100% 100%;
                background-size: 100% 100%;
                -webkit-transform: rotateY(0deg) translateZ(15px);
                -moz-transform: rotateY(0deg) translateZ(15px);
                transform: rotateY(0deg) translateZ(15px);
            }

            .qodef-back {
                -webkit-transform: rotateX(180deg) translateZ(15px);
                -moz-transform: rotateX(180deg) translateZ(15px);
                transform: rotateX(180deg) translateZ(15px);
            }

            .qodef-right {
                -webkit-transform: translateY(30px) rotateY(90deg) translateZ(224.99952px);
                -moz-transform: translateY(30px) rotateY(90deg) translateZ(224.99952px);
                transform: translateY(30px) rotateY(90deg) translateZ(224.99952px);
            }

            .qodef-left {
                -webkit-transform: translateY(30px) rotateY(-90deg) translateZ(15px);
                -moz-transform: translateY(30px) rotateY(-90deg) translateZ(15px);
                transform: translateY(30px) rotateY(-90deg) translateZ(15px);
            }

            .qodef-top {
                -webkit-transform: rotateZ(-90deg) translateY(15px) rotateY(90deg);
                -moz-transform: rotateZ(-90deg) translateY(15px) rotateY(90deg);
                transform: rotateZ(-90deg) translateY(15px) rotateY(90deg);
            }

            .qodef-bottom {
                -webkit-transform: rotateZ(-90deg) translateY(15px) rotateY(-90deg) translateZ(508px);
                -moz-transform: rotateZ(-90deg) translateY(15px) rotateY(-90deg) translateZ(508px);
                transform: rotateZ(-90deg) translateY(15px) rotateY(-90deg) translateZ(508px);
            }

            .qodef-side:before,
            .qodef-side:after {
                position: absolute;
                top: -25px;
                left: 0;
                width: 30px;
                height: 23px;
                background: #181818;
                background: -webkitlinear-gradient(bottom, #181818 0%, #333333 100%);
                background: -moz-linear-gradient(bottom, #181818 0%, #333333 100%);
                background: linear-gradient(to top, #181818 0%, #333333 100%);
                content: "";
                -webkit-transform: rotateX(22.5deg) translateZ(-7px);
                -moz-transform: rotateX(22.5deg) translateZ(-7px);
                transform: rotateX(22.5deg) translateZ(-7px);
            }

            .qodef-side:after {
                top: 100%;
                background: -webkit-linear-gradient(top, #181818 0%, #333333 100%);
                background: -moz-linear-gradient(top, #181818 0%, #333333 100%);
                background: linear-gradient(to bottom, #181818 0%, #333333 100%);
                -webkit-transform: rotateX(-22.5deg) translateZ(-7px);
                -moz-transform: rotateX(-22.5deg) translateZ(-7px);
                transform: rotateX(-22.5deg) translateZ(-7px);
            }
        }


        /* Screens */
        .qodef-screens{

            .qodef-screen{
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                backface-visibility: hidden;
                display:none;
            }

            .qodef-screen:nth-child(1),
            .qodef-screen:nth-child(2),
            .qodef-screen:nth-child(3),
            .qodef-screen:nth-child(4),
            .qodef-screen:nth-child(5){
                display:block;
            }

            > .qodef-screen {
                position: absolute;
                width: 203.99959px;
                height: 362.0008px;
                top: 72.9996px;
                left: 17.99996px;
                outline: none;
                cursor: pointer;
                opacity: 1;
                -webkit-transition: -webkit-transform 0.7s, opacity 0.4s;
                transition: -moz-transform 0.7s, opacity 0.4s;
                transition: transform 0.7s, opacity 0.4s;
                -webkit-transform: translateZ(16px);
                -moz-transform: translateZ(16px);
                transform: translateZ(16px);
            }

            > .qodef-screen::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                opacity: 0;
                -webkit-transition: opacity 0.3s;
                -moz-transition: opacity 0.3s;
                transition: opacity 0.3s;
            }

            .qodef-label {
                border: 1px solid #797979;
                color: #797979;
                position: absolute;
                left: 100%;
                margin-left: 18px;
                width: 200px;
                padding: 10px;
                font-size: 15px;
                line-height: 20px;
                opacity: 0;
                -webkit-transform: rotateX(0deg);
                -moz-transform: rotateX(0deg);
                transform: rotateX(0deg);
                -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
                -moz-transition: opacity 0.7s, -moz-transform 0.7s;
                transition: opacity 0.7s, transform 0.7s;
            }

            > .qodef-screen:hover .qodef-label {
                border-color: $first-main-color;
                color: $first-main-color;
            }

            .qodef-label::after {
                right: 100%;
                border: solid transparent;
                content: '';
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: transparent;
                border-right-color: #797979;
                border-width: 13px;
                top: 50%;
                margin-top: -13px;
            }

            .qodef-label::after,
            .qodef-label::before {
                right: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            .qodef-label::after {
                border-color: transparent;
                border-right-color: #fff;
                border-width: 13px;
                top: 50%;
                margin-top: -13px;
            }

            .qodef-label::before {
                border-color: transparent;
                border-right-color: #797979;
                border-width: 14px;
                top: 50%;
                margin-top: -14px;
            }

            > .qodef-screen:hover .qodef-label::before {
                border-right-color: $first-main-color;
            }
        }


        &.qodef-view-layers{

            .qodef-screens{

                .qodef-label {
                    opacity: 1;
                    -webkit-transform: rotateX(-90deg);
                    -moz-transform: rotateX(-90deg);
                    transform: rotateX(-90deg);
                }

                .qodef-screen:nth-child(1) {
                    -webkit-transform: translateZ(65px);
                    -moz-transform: translateZ(65px);
                    transform: translateZ(65px);
                    -webkit-transition-delay: 0.7s;
                    -moz-transition-delay: 0.7s;
                    transition-delay: 0.7s;
                    opacity: 0.9;

                    .qodef-label {
                        -webkit-transition-delay: 1.1s;
                        -moz-transition-delay: 1.1s;
                        transition-delay: 1.1s;
                    }
                }

                .qodef-screen:nth-child(2) {
                    -webkit-transform: translateZ(115px);
                    -moz-transform: translateZ(115px);
                    transform: translateZ(115px);
                    -webkit-transition-delay: 0.6s;
                    -moz-transition-delay: 0.6s;
                    transition-delay: 0.6s;
                    opacity: 0.9;

                    .qodef-label {
                        -webkit-transition-delay: 1s;
                        -moz-transition-delay: 1s;
                        transition-delay: 1s;
                    }
                }

                .qodef-screen:nth-child(3)  {
                    -webkit-transform: translateZ(165px);
                    -moz-transform: translateZ(165px);
                    transform: translateZ(165px);
                    -webkit-transition-delay: 0.5s;
                    -moz-transition-delay: 0.5s;
                    transition-delay: 0.5s;
                    opacity: 0.9;

                    .qodef-label {
                        -webkit-transition-delay: 0.9s;
                        -moz-transition-delay: 0.9s;
                        transition-delay: 0.9s;
                    }
                }

                .qodef-screen:nth-child(4) {
                    -webkit-transform: translateZ(215px);
                    -moz-transform: translateZ(215px);
                    transform: translateZ(215px);
                    -webkit-transition-delay: 0.4s;
                    -moz-transition-delay: 0.4s;
                    transition-delay: 0.4s;
                    opacity: 0.9;

                    .qodef-label {
                        -webkit-transition-delay: 0.8s;
                        -moz-transition-delay: 0.8s;
                        transition-delay: 0.8s;
                    }
                }

                .qodef-screen:nth-child(5) {
                    -webkit-transform: translateZ(265px);
                    -moz-transform: translateZ(265px);
                    transform: translateZ(265px);
                    -webkit-transition-delay: 0.3s;
                    -moz-transition-delay: 0.3s;
                    transition-delay: 0.3s;
                    opacity: 0.9;

                    .qodef-label {
                        -webkit-transition-delay: 0.7s;
                        -moz-transition-delay: 0.7s;
                        transition-delay: 0.7s;
                    }
                }

                > .qodef-screen:hover::after {
                    opacity: 1
                }

            }


            .qodef-device {
                -webkit-transform: rotateY(-30deg) rotateX(90deg) translateZ(-15px) translateZ(-97px);
                -moz-transform: rotateY(-30deg) rotateX(90deg) translateZ(-15px) translateZ(-97px);
                transform: rotateY(-30deg) rotateX(90deg) translateZ(-15px) translateZ(-97px);
            }
        }
    }
}

.touch .qodef-mobile-showcase {

    .qodef-mobile-wrapper {

        .qodef-mobile-preview-image {
            display: block;
        }

        .qodef-perspective {
            display:none;
        }
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .qodef-mobile-showcase {

        .qodef-mobile-wrapper {

            .qodef-mobile-preview-image {
                display: block;
                margin-top:135px;
            }

            .qodef-perspective {
                display:none;
            }
        }
    }
}

@-moz-document url-prefix() {
    /* Mozila CSS styles go here */
    .qodef-mobile-showcase {

        .qodef-mobile-wrapper {

            .qodef-mobile-preview-image {
                display: block;
                margin-top:135px;
            }

            .qodef-perspective {
                display:none;
            }
        }
    }
}



/* ==========================================================================
# 3d Mobile Showcase Style - end
========================================================================== */