.qodef-pricing-slider {
    .qodef-pricing-slider-info-holder {
        @include ipad-landscape {
            width: 45%;
        }
        @include phone-landscape {
            width: 80%;
        }
        @include phone-portrait {
            width: 100%;
        }
    }
    @include phone-landscape {
        .qodef-pricing-info-pricing {
            .qodef-value,
            .qodef-price {
                font-size: 33px;
            }
            .qodef-mark {
                display: block;
                margin-top: 7px;
            }
        }
        .qodef-pricing-slider-button-holder {
            margin-bottom: 76px;
        }
        .qodef-pricing-slider-button,
        .qodef-pricing-slider-button-extra {
            display: block;
            margin-bottom: 10px;
            margin-left: 0;
        }
    }
}