.qodef-pricing-info {
    border: 1px solid #dfdfdf;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    @include qodefBoxSizing(border-box);
    background-color: #fff;

    .qodef-pricing-info-title {
        margin-bottom: 10px;
    }

    .qodef-pricing-info-description {
        margin-bottom: 20px;
        line-height: 21px;
    }

    .qodef-pricing-info-pricing {
        display: inline-block;
        line-height: 1;
        margin-bottom: 24px;
        .qodef-value,
        .qodef-price {
            font-size: 43px;
            font-weight: 600;
            color: $first-main-color;
            vertical-align: middle;
        }

        .qodef-mark {
            color: #b2b2b2;
            vertical-align: middle;
            &:before {
                content: "/";
            }
        }
    }

    &.qodef-active {
        @include qodefTransform(translateY(-16px));

        .qodef-active-text{
            position: absolute;
            right: 25px;
            top: -45px;
            z-index: 20;

            .qodef-active-text-inner{

                @include qodefTransform(rotate(-90deg));
                rotation: 90deg;
                -ms-rotation: 90deg;
                padding: 17px 11px 11px 8px;
                box-sizing: border-box;
                font-size: 13px;
                font-family: Raleway, sans-serif;
                font-weight: 700;
                color: #fff;
                text-align: center;
                line-height: 17px;
                text-transform: uppercase;
            }

            span {
                display: block;
                width: 70px;
                height: 70px;
                background: #16171D;
                @include qodefTransform(rotate(11.25deg));
                rotation: 12.5deg;
                -ms-rotation: 12.5deg;
            }
        }
    }
}