/* ==========================================================================
   Qode slider styles
   ========================================================================== */

/* Bootstrap carousel default styles
   ========================================================================== */
.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.boxed .carousel-inner{
    width: 1150px;
    left: auto !important;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
    box-sizing: border-box;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
}

.carousel-inner .qodef-video{
    position: static;
    left: 0;
    direction: ltr;
}

.safari_browser .carousel-inner video.video {
    object-fit: inherit;
    width: 100% !important;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner > .next {
    left: 100%;
}

.carousel-inner > .prev {
    left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}

.carousel-inner > .active.left {
    left: -100%;
}

.carousel-inner > .active.right {
    left: 100%;
}

/* part for fading animation - start */
.carousel.qodef-fade .item {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel.qodef-fade .active.left,
.carousel.qodef-fade .active.right {
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel.qodef-fade .active.item {
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel.qodef-fade .active.left,
.carousel.qodef-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel.qodef-fade .next,
.carousel.qodef-fade .prev {
    left: 0;
    z-index: 1;
}

/* part for fading animation - end */

/* part for vertical up animation - start */

.carousel.qodef-vertical-up:not(.qodef-has-height) .carousel-inner{
    height: 100%;
}

.carousel.qodef-vertical-up .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease;
    -moz-transition: -moz-transform 0.6s ease;
    -ms-transition: -ms-transform 0.6s ease;
    -o-transition: -o-transform 0.6s ease;
    transition: transform 0.6s ease;
}

.carousel.qodef-vertical-up .carousel-inner > .active {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.carousel.qodef-vertical-up .carousel-inner > .next {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    left: 0%;
}

.carousel.qodef-vertical-up .carousel-inner > .prev{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    left: 0%;
}

.carousel.qodef-vertical-up .carousel-inner > .next.left,
.carousel.qodef-vertical-up .carousel-inner > .prev.right {
    left: 0%;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.carousel.qodef-vertical-up .carousel-inner > .active.left {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    left: 0%;
}

.carousel.qodef-vertical-up .carousel-inner > .active.right {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    left: 0%;
}

/* part for vertical up animation - end */

/* part for vertical down animation - start */

.carousel.qodef-vertical-down:not(.qodef-has-height) .carousel-inner{
    height: 100%;
}

.carousel.qodef-vertical-down .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease;
    -moz-transition: -moz-transform 0.6s ease;
    -ms-transition: -ms-transform 0.6s ease;
    -o-transition: -o-transform 0.6s ease;
    transition: transform 0.6s ease;
}

.carousel.qodef-vertical-down .carousel-inner > .active {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.carousel.qodef-vertical-down .carousel-inner > .next {
    -webkit-transform: translateY(-99%);
    -moz-transform: translateY(-99%);
    -ms-transform: translateY(-99%);
    -o-transform: translateY(-99%);
    transform: translateY(-99%);
    left: 0%;
}

.carousel.qodef-vertical-down .carousel-inner > .prev{
    -webkit-transform: translateY(99%);
    -moz-transform: translateY(99%);
    -ms-transform: translateY(99%);
    -o-transform: translateY(99%);
    transform: translateY(99%);
    left: 0%;
}

.carousel.qodef-vertical-down .carousel-inner > .next.left,
.carousel.qodef-vertical-down .carousel-inner > .prev.right {
    left: 0%;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

.carousel.qodef-vertical-down .carousel-inner > .active.left {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    left: 0%;
}

.carousel.qodef-vertical-down .carousel-inner > .active.right {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    left: 0%;
}

/* part for vertical down animation - end */

/* part for slide cover animation - start */

.carousel.qodef-slide-cover .carousel-inner > .next {
    z-index: 99;
}

.carousel.qodef-slide-cover .carousel-inner > .prev {
    z-index: 100;
}

.carousel.qodef-slide-cover .carousel-inner > .active.left {
    left: -30%;
}

.carousel.qodef-slide-cover .carousel-inner > .active.right {
    left: 30%;
}

/* part for slide cover animation - end */

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 15;
    padding: 0px !important;
    text-align: center;
    list-style: none;
}

.carousel-indicators:not(.thumbnails) li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px;
    text-indent: -999px;
    border-radius: 20px;
    cursor:pointer;
}

.carousel-indicators.thumbnails{
    bottom:55px;
}

.carousel-indicators.thumbnails li{
    display:inline-block;
    cursor: pointer;
    margin-right:5px;
    background-color: rgba(0, 0, 0, 0.8);
    width:160px!important; /* must not to be overwritten by options */
    height:100px!important;
}

.carousel-indicators.thumbnails li:last-child{
    margin-right:0;
}

.carousel-indicators.thumbnails li img{
    width:100%;
    height:100%;
    box-sizing:border-box;
    padding:0;
    vertical-align: middle;
    transition: padding 0.2s ease-out;
    -ms-transition: padding 0.2s ease-out;
    -o-transition: padding 0.2s ease-out;
    -moz-transition: padding 0.2s ease-out;
    -webkit-transition: padding 0.2s ease-out;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 40px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-caption .btn {
    text-shadow: none;
}

/* ==== Carousel Custom - Start ==== */

.carousel {
    margin-bottom: 0;
}

.carousel.qodef-full-screen {
    height: 1500px;
}

.qodef-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.qodef-slider-preloader{
    width: 100%;
    background-repeat: repeat;
    background-color: #3f3f3f;
    background-attachment: scroll;
    background-size: inherit;
    background-image:url("img/preload_pattern.png");
    @include animation(preload-background, 40s, infinite, linear, 0s);
    position: absolute;
    z-index: 20;
    height: 1100px;
}


.qodef-slider-preloader .qodef-st-loader{
    display:none !important;
}

.carousel:not(.qodef-full-screen) .qodef-slider-preloader .qodef-ajax-loader{
    position: absolute;
}

.vertical_menu_enabled .qodef-slider-preloader .qodef-ajax-loader{
    margin-top: 0px !important;
}

.carousel-inner .qodef-slider-content-outer{
    position: relative;
    height: 100%;
    width: 1100px;
    margin: 0px auto;
    z-index: 12;
}

.carousel-inner .qodef-slide-full-width .qodef-slider-content-outer{
    width: 100% !important;
}

.carousel-inner .qodef-slider-content {
    position: absolute;
    width: 100%;
}

.carousel-inner .item.qodef-content-vertical-middle .qodef-slider-content-outer {
    display: table;
}

.carousel-inner .item.qodef-content-vertical-middle .qodef-slider-content {
    display: table-cell;
    vertical-align: middle;
    position: static;
}

.carousel-inner .item.qodef-content-vertical-middle .qodef-slider-content .qodef-thumb{
    height: auto;
}

.vertical_menu_enabled .carousel-inner .item.qodef-content-vertical-middle{
    padding-top: 0px !important;
}

.carousel-inner .qodef-slider-content .qodef-thumb{
    height: 100%;
    opacity: 1;
    filter: alpha(opacity = 100);
    display: inline-block;
    vertical-align: middle;
}

.carousel-inner .qodef-slider-content.left{
    text-align: left;
}

.carousel-inner .qodef-slider-content.right{
    text-align: right;
}

.carousel-inner .qodef-slider-content.left .qodef-thumb,
.carousel-inner .qodef-slider-content.right .qodef-thumb{
    display: inline-block;
}

.carousel-inner .qodef-slider-content.center .qodef-thumb{
    text-align: center;
}

.carousel-inner .qodef-slider-content.center {
    text-align: center;
}

/*---------------------Graphic animation Flip--------------------------------- */

.carousel-inner .qodef-slider-content .qodef-thumb.flip{
    opacity: 0;
    filter: alpha(opacity = 0);
}

.carousel-inner .active .qodef-slider-content .qodef-thumb.flip{
    -webkit-animation: rotate 0.6s 1 ease-out;
    -moz-animation: rotate 0.6s 1 ease-out;
    -o-animation: rotate 0.6s 1 ease-out;
    animation: rotate 0.6s 1 ease-out;
    opacity: 1;
    filter: alpha(opacity = 100);
}


/*---------------------Graphic animation Fade--------------------------------- */

.carousel-inner .qodef-slider-content .qodef-thumb.fade{
    opacity: 0;
    filter: alpha(opacity = 0);
}

.carousel-inner .active .qodef-slider-content .qodef-thumb.fade{
    -webkit-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -moz-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -o-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    opacity: 1;
    filter: alpha(opacity = 100);
}



/*---------------------Graphic animation From right--------------------------------- */

.carousel-inner .qodef-slider-content .qodef-thumb.from_right{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    right: -70px;
}

.carousel-inner .active .qodef-slider-content .qodef-thumb.from_right{
    -webkit-animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

/*---------------------Graphic animation From left--------------------------------- */

.carousel-inner .qodef-slider-content .qodef-thumb.from_left{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    left: -70px;
}

.carousel-inner .active .qodef-slider-content .qodef-thumb.from_left{
    -webkit-animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

/*---------------------Graphic animation From top--------------------------------- */

.carousel-inner .qodef-slider-content .qodef-thumb.from_top{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    top: -70px;
}

.carousel-inner .active .qodef-slider-content .qodef-thumb.from_top{
    -webkit-animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

/*---------------------Graphic animation From bottom--------------------------------- */

.carousel-inner .qodef-slider-content .qodef-thumb.from_bottom{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    top: 70px;
}

.carousel-inner .active .qodef-slider-content .qodef-thumb.from_bottom{
    -webkit-animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}


/*---------------------Graphic animation Clip from left, Clip from Top-----------------------------*/

.no-touch .carousel-inner .qodef-slider-content .qodef-thumb.clip_anim_hor,
.no-touch .carousel-inner .qodef-slider-content .qodef-thumb.clip_anim_ver,
.no-touch .carousel-inner .qodef-slider-content .qodef-thumb.clip_anim_puzzle {
    display: inline-block;
    position: relative;
}


.touch .carousel-inner .qodef-slider-content .qodef-thumb.clip_anim_hor,
.touch .carousel-inner .qodef-slider-content .qodef-thumb.clip_anim_ver,
.touch .carousel-inner .qodef-slider-content .qodef-thumb.clip_anim_puzzle {
    opacity: 0;
    filter: alpha(opacity = 0);
}


/*---------------------Clip Animation Horizontal --------------------------------- */

.no-touch .carousel-inner .qodef-slider-content .qodef-thumb.clip_anim_hor img {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation:clip_anim_hor 1.75s cubic-bezier(.165,.84,.44,1);
    animation:clip_anim_hor 1.75s cubic-bezier(.165,.84,.44,1);
}

.touch .carousel-inner .active .qodef-slider-content .qodef-thumb.clip_anim_hor {
    -webkit-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -moz-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -o-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    opacity: 1;
    filter: alpha(opacity = 100);
}

@-webkit-keyframes clip_anim_hor {
    0% {
        clip: rect(0px,300px,326px,170px);
        opacity:0;
    }
    20% {
        clip: rect(0px,400px,326px,320px);
        opacity:0.2;
    }
    40% {
        clip: rect(0px,140px,326px,60px);
        opacity:0.4;
    }
    60% {
        clip: rect(0px,400px,326px,300px);
        opacity:0.6;
    }
    80% {
        clip: rect(0px,200px,326px,0px);
        opacity:0.8;
    }
    100% {
        clip: rect(0px,470px,326px,0px);
        opacity:1;
    }
}

@keyframes clip_anim_hor {
    0% {
        clip: rect(0px,300px,326px,170px);
        opacity:0;
    }
    20% {
        clip: rect(0px,400px,326px,320px);
        opacity:0.2;
    }
    40% {
        clip: rect(0px,140px,326px,60px);
        opacity:0.4;
    }
    60% {
        clip: rect(0px,400px,326px,300px);
        opacity:0.6;
    }
    80% {
        clip: rect(0px,200px,326px,0px);
        opacity:0.8;
    }
    100% {
        clip: rect(0px,470px,326px,0px);
        opacity:1;
    }
}


/*---------------------Clip Animation Vertical--------------------------------- */

.no-touch .carousel-inner .qodef-slider-content .qodef-thumb.clip_anim_ver img {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: clip_anim_ver 1.75s cubic-bezier(.165,.84,.44,1);
    animation: clip_anim_ver 1.75s cubic-bezier(.165,.84,.44,1);
}

.touch .carousel-inner .active .qodef-slider-content .qodef-thumb.clip_anim_ver {
    -webkit-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -moz-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -o-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    opacity: 1;
    filter: alpha(opacity = 100);
}


@-webkit-keyframes clip_anim_ver {
    0% {
        clip: rect(0px,470px,90px,0px);
        opacity:0;
    }
    20% {
        clip: rect(200px,470px,280px,0px);
        opacity:0.2;
    }
    40% {
        clip: rect(50px,470px,140px,0px);
        opacity:0.4;
    }
    60% {
        clip: rect(200px,470px,300px,0px);
        opacity:0.6;
    }
    80% {
        clip: rect(0px,470px,120px,0px);
        opacity:0.8;
    }
    100% {
        clip: rect(0px,470px,326px,0px);
        opacity:1;
    }
}
@keyframes clip_anim_ver {
    0% {
        clip: rect(0px,470px,90px,0px);
        opacity:0
    }
    20% {
        clip: rect(250px,470px,300px,0px);
        opacity:0.2
    }
    40% {
        clip: rect(100px,470px,170px,0px);
        opacity:0.4
    }
    60% {
        clip: rect(200px,470px,260px,0px);
        opacity:0.6
    }
    80% {
        clip: rect(50px,470px,120px,0px);
        opacity:0.8
    }
    100% {
        clip: rect(0px,470px,326px,0px);
        opacity:0.8
    }
}

/*---------------------Clip Animation Puzzle--------------------------------- */

.no-touch .carousel-inner .qodef-slider-content .qodef-thumb.clip_anim_puzzle img {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation:clip_anim_puzzle 1.75s ;
    animation:clip_anim_puzzle 1.75s ;
}

.touch .carousel-inner .active .qodef-slider-content .qodef-thumb.clip_anim_puzzle {
    -webkit-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -moz-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -o-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    opacity: 1;
    filter: alpha(opacity = 100);
}

@-webkit-keyframes clip_anim_puzzle {

    0% {
        clip: rect(163px,235px,163px,235px);
        opacity:0;
    }
    10% {
        clip: rect(163px,235px,326px,0px);
        opacity:0.2;
    }
    20% {
        clip: rect(163px,470px,326px,235px);
        opacity:0.3;
    }
    30% {
        clip: rect(0px,470px,163px,235px);
        opacity:0.4;
    }
    40% {
        clip: rect(0px,235px,163px,0px);
        opacity:0.5;
    }
    50% {
        clip: rect(163px,235px,326px,0px);
        opacity:0.6;
    }
    60% {
        clip: rect(163px,470px,326px,235px);
        opacity:0.7;
    }
    70% {
        clip: rect(0px,470px,163px,235px);
        opacity:0.8;
    }
    80% {
        clip: rect(0px,235px,163px,0px);
        opacity:0.9;
    }
    100% {
        clip: rect(0px,470px,326px,0px);
        opacity:1;
    }
}

@keyframes clip_anim_puzzle {

    0% {
        clip: rect(163px,235px,163px,235px);
        opacity:0;
    }
    10% {
        clip: rect(163px,235px,326px,0px);
        opacity:0.2;
    }
    20% {
        clip: rect(163px,470px,326px,235px);
        opacity:0.3;
    }
    30% {
        clip: rect(0px,470px,163px,235px);
        opacity:0.4;
    }
    40% {
        clip: rect(0px,235px,163px,0px);
        opacity:0.5;
    }
    50% {
        clip: rect(163px,235px,326px,0px);
        opacity:0.6;
    }
    60% {
        clip: rect(163px,470px,326px,235px);
        opacity:0.7;
    }
    70% {
        clip: rect(0px,470px,163px,235px);
        opacity:0.8;
    }
    80% {
        clip: rect(0px,235px,163px,0px);
        opacity:0.9;
    }
    100% {
        clip: rect(0px,470px,326px,0px);
        opacity:1;
    }
}

/*---------------------Graphic animation end--------------------------------- */

.carousel-inner .qodef-slider-content .qodef-thumb img{
    max-height: 100%;
}

.carousel-inner .qodef-slider-content .qodef-text{
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px);
    opacity: 1;
    filter: alpha(opacity = 100);
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 15px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*------------------------------ All at once and one by one animations-------------------------------------------------------------*/

.carousel-inner .qodef-slider-content .qodef-text.all_at_once,
.carousel-inner .qodef-slider-content .qodef-slider-content-inner.all_at_once{
    opacity: 0;
    filter: alpha(opacity = 0);
}

.carousel-inner .qodef-slider-content .qodef-text.one_by_one,
.carousel-inner .qodef-slider-content .qodef-slider-content-inner.one_by_one{
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
    opacity: 1;
}

/*------------------------------ All at once from bottom -------------------------------------------------------------*/

.carousel-inner .active .qodef-slider-content .qodef-text.all_at_once.from_bottom,
.carousel-inner .qodef-slider-content .qodef-slider-content-inner.all_at_once.from_bottom{
    -webkit-animation: text-from-bottom 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-from-bottom 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-from-bottom 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-from-bottom 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 1;
    filter: alpha(opacity = 100);
}

@-webkit-keyframes text-from-bottom {
    0% {
        -webkit-transform: translate(0, 15%);
        opacity: 0;
    }
    50% {
        -webkit-transform: translate(0, 15%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}

@-moz-keyframes text-from-bottom {
    0% {
        -moz-transform: translate(0, 15%);
        opacity: 0;
    }
    50% {
        -moz-transform: translate(0, 15%);
        opacity: 0;
    }
    100% {
        -moz-transform: translate(0, 0);
        opacity: 1;
    }
}

@-o-keyframes text-from-bottom {
    0% {
        -o-transform: translate(0, 15%);
        opacity: 0.5;
    }
    50% {
        -o-transform: translate(0, 15%);
        opacity: 0;
    }
    100% {
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes text-from-bottom {
    0% {
        transform: translate(0, 15%);
        opacity: 0;
    }
    50% {
        transform: translate(0, 15%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/*------------------------------ All at once from bottom end-------------------------------------------------------------*/


/*------------------------------ All at once from top -------------------------------------------------------------*/

.carousel-inner .active .qodef-slider-content .qodef-text.all_at_once.from_top,
.carousel-inner .active .qodef-slider-content .qodef-slider-content-inner.all_at_once.from_top{
    -webkit-animation: text-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 1;
    filter: alpha(opacity = 100);
}

@-webkit-keyframes text-from-top {
    0% {
        -webkit-transform: translate(0, -15%);
        opacity: 0;
    }
    50% {
        -webkit-transform: translate(0, -15%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}

@-moz-keyframes text-from-top {
    0% {
        -moz-transform: translate(0, -15%);
        opacity: 0;
    }
    50% {
        -moz-transform: translate(0, -15%);
        opacity: 0;
    }
    100% {
        -moz-transform: translate(0, 0);
        opacity: 1;
    }
}

@-o-keyframes text-from-top {
    0% {
        -o-transform: translate(0, -15%);
        opacity: 0.5;
    }
    50% {
        -o-transform: translate(0, -15%);
        opacity: 0;
    }
    100% {
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes text-from-top {
    0% {
        transform: translate(0, -15%);
        opacity: 0;
    }
    50% {
        transform: translate(0, -15%);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/*------------------------------ All at once from top end-------------------------------------------------------------*/


/*------------------------------ All at once from left -------------------------------------------------------------*/

.carousel-inner .active .qodef-slider-content .qodef-text.all_at_once.from_left,
.carousel-inner .active .qodef-slider-content .qodef-slider-content-inner.all_at_once.from_left{
    -webkit-animation: text-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 1;
    filter: alpha(opacity = 100);
}

@-webkit-keyframes text-from-left {
    0% {
        -webkit-transform: translate(-15%, 0);
        opacity: 0;
    }
    50% {
        -webkit-transform: translate(-15%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}

@-moz-keyframes text-from-left {
    0% {
        -moz-transform: translate(-15%, 0);
        opacity: 0;
    }
    50% {
        -moz-transform: translate(-15%, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate(0, 0);
        opacity: 1;
    }
}

@-o-keyframes text-from-left {
    0% {
        -o-transform: translate(-15%, 0);
        opacity: 0.5;
    }
    50% {
        -o-transform: translate(-15%, 0);
        opacity: 0;
    }
    100% {
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes text-from-left {
    0% {
        transform: translate(-15%, 0);
        opacity: 0;
    }
    50% {
        transform: translate(-15%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/*------------------------------ All at once from left end-------------------------------------------------------------*/


/*------------------------------ All at once from right -------------------------------------------------------------*/

.carousel-inner .active .qodef-slider-content .qodef-text.all_at_once.from_right,
.carousel-inner .active .qodef-slider-content .qodef-slider-content-inner.all_at_once.from_right{
    -webkit-animation: text-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-animation: text-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-animation: text-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    animation: text-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000);
    opacity: 1;
    filter: alpha(opacity = 100);
}

@-webkit-keyframes text-from-right {
    0% {
        -webkit-transform: translate(15%, 0);
        opacity: 0;
    }
    50% {
        -webkit-transform: translate(15%, 0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}

@-moz-keyframes text-from-right {
    0% {
        -moz-transform: translate(15%, 0);
        opacity: 0;
    }
    50% {
        -moz-transform: translate(15%, 0);
        opacity: 0;
    }
    100% {
        -moz-transform: translate(0, 0);
        opacity: 1;
    }
}

@-o-keyframes text-from-right {
    0% {
        -o-transform: translate(15%, 0);
        opacity: 0.5;
    }
    50% {
        -o-transform: translate(15%, 0);
        opacity: 0;
    }
    100% {
        -o-transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes text-from-right {
    0% {
        transform: translate(15%, 0);
        opacity: 0;
    }
    50% {
        transform: translate(15%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/*------------------------------ All at once from right end-------------------------------------------------------------*/


/*------------------------------ All at once fade -------------------------------------------------------------*/

.carousel-inner .active .qodef-slider-content .qodef-text.all_at_once.fade,
.carousel-inner .active .qodef-slider-content .qodef-slider-content-inner.all_at_once.fade{
    -webkit-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -moz-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    -o-animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    animation: fade 0.6s 1 cubic-bezier(0.500, 0.110, 0.805, 0.320);
    opacity: 1;
    filter: alpha(opacity = 100);
}


/*------------------------------ All at once fade end-------------------------------------------------------------*/


/*------------------------------ One by one from bottom -------------------------------------------------------------*/

.carousel-inner .qodef-slider-content .qodef-text.one_by_one.from_bottom .qodef-el,
.carousel-inner .qodef-slider-content .qodef-slider-content-inner.one_by_one.from_bottom{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    top: 70px;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_bottom .qodef-el,
.carousel-inner .active .qodef-slider-content .qodef-slider-content-inner.one_by_one.from_bottom{
    -webkit-animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -moz-animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -o-animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    animation: text-from-bottom-one-by-one 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_bottom .qodef-el:nth-child(2){
    animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_bottom .qodef-el:nth-child(3){
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_bottom .qodef-el:nth-child(4){
    animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_bottom .qodef-el:nth-child(5){
    animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_bottom .qodef-el:nth-child(6){
    animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_bottom .qodef-el:nth-child(7){
    animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_bottom .qodef-el:nth-child(8){
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_bottom .qodef-el:nth-child(9){
    animation-delay:1.7s;
    -webkit-animation-delay:1.7s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_bottom .qodef-el:nth-child(10){
    animation-delay:1.8s;
    -webkit-animation-delay:1.8s;
}

/*------------------------------ One by one from bottom end -------------------------------------------------------------*/


/*------------------------------ One by one from top -------------------------------------------------------------*/

.carousel-inner .qodef-slider-content .qodef-text.one_by_one.from_top .qodef-el,
.carousel-inner .qodef-slider-content .qodef-slider-content_inner.one_by_one.from_top{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    top: -70px;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_top .qodef-el,
.carousel-inner .active .qodef-slider-content .qodef-slider-content-inner.one_by_one.from_top{
    -webkit-animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -moz-animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -o-animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    animation: text-one-by-one-from-top 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_top .qodef-el:nth-child(2){
    animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_top .qodef-el:nth-child(3){
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_top .qodef-el:nth-child(4){
    animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_top .qodef-el:nth-child(5){
    animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_top .qodef-el:nth-child(6){
    animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_top .qodef-el:nth-child(7){
    animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_top .qodef-el:nth-child(8){
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_top .qodef-el:nth-child(9){
    animation-delay:1.7s;
    -webkit-animation-delay:1.7s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_top .qodef-el:nth-child(10){
    animation-delay:1.8s;
    -webkit-animation-delay:1.8s;
}



@-webkit-keyframes text-one-by-one-from-top {
    0% {
        top: -70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@-moz-keyframes text-one-by-one-from-top {
    0% {
        top: -70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@-o-keyframes text-one-by-one-from-top {
    0% {
        top: -70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes text-one-by-one-from-top {
    0% {
        top: -70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

/*----------------------------One by one from top end-------------------------------*/

/*------------------------------ One by one from left -------------------------------------------------------------*/

.carousel-inner .qodef-slider-content .qodef-text.one_by_one.from_left .qodef-el,
.carousel-inner .qodef-slider-content .qodef-slider-content-inner.one_by_one.from_left{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    left: -70px;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_left .qodef-el,
.carousel-inner .active .qodef-slider-content .qodef-slider-content-inner.one_by_one.from_left{
    -webkit-animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -moz-animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -o-animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    animation: text-one-by-one-from-left 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_left .qodef-el:nth-child(2){
    animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_left .qodef-el:nth-child(3){
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_left .qodef-el:nth-child(4){
    animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_left .qodef-el:nth-child(5){
    animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_left .qodef-el:nth-child(6){
    animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_left .qodef-el:nth-child(7){
    animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_left .qodef-el:nth-child(8){
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_left .qodef-el:nth-child(9){
    animation-delay:1.7s;
    -webkit-animation-delay:1.7s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_left .qodef-el:nth-child(10){
    animation-delay:1.8s;
    -webkit-animation-delay:1.8s;
}



@-webkit-keyframes text-one-by-one-from-left {
    0% {
        left: -70px;
        opacity: 0;
    }
    50% {
        left: 0px;
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}

@-moz-keyframes text-one-by-one-from-left {
    0% {
        left: -70px;
        opacity: 0;
    }
    50% {
        left: 0px;
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}

@-o-keyframes text-one-by-one-from-left {
    0% {
        left: -70px;
        opacity: 0;
    }
    50% {
        left: 0px;
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}

@keyframes text-one-by-one-from-left {
    0% {
        left: -70px;
        opacity: 0;
    }
    50% {
        left: 0px;
        opacity: 1;
    }
    100% {
        left: 0px;
        opacity: 1;
    }
}

/*----------------------------One by one from left end-------------------------------*/


/*------------------------------ One by one from right -------------------------------------------------------------*/

.carousel-inner .qodef-slider-content .qodef-text.one_by_one.from_right .qodef-el,
.carousel-inner .qodef-slider-content .qodef-slider-content-inner.one_by_one.from_right{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
    right: -70px;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_right .qodef-el,
.carousel-inner .active .qodef-slider-content .qodef-slider-content-inner.one_by_one.from_right{
    -webkit-animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -moz-animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -o-animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    animation: text-one-by-one-from-right 0.6s 1 cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_right .qodef-el:nth-child(2){
    animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_right .qodef-el:nth-child(3){
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_right .qodef-el:nth-child(4){
    animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_right .qodef-el:nth-child(5){
    animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_right .qodef-el:nth-child(6){
    animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_right .qodef-el:nth-child(7){
    animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_right .qodef-el:nth-child(8){
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_right .qodef-el:nth-child(9){
    animation-delay:1.7s;
    -webkit-animation-delay:1.7s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.from_right .qodef-el:nth-child(10){
    animation-delay:1.8s;
    -webkit-animation-delay:1.8s;
}

@-webkit-keyframes text-one-by-one-from-right {
    0% {
        right: -70px;
        opacity: 0;
    }
    50% {
        right: 0px;
        opacity: 1;
    }
    100% {
        right: 0px;
        opacity: 1;
    }
}

@-moz-keyframes text-one-by-one-from-right {
    0% {
        right: -70px;
        opacity: 0;
    }
    50% {
        right: 0px;
        opacity: 1;
    }
    100% {
        right: 0px;
        opacity: 1;
    }
}

@-o-keyframes text-one-by-one-from-right {
    0% {
        right: -70px;
        opacity: 0;
    }
    50% {
        right: 0px;
        opacity: 1;
    }
    100% {
        right: 0px;
        opacity: 1;
    }
}

@keyframes text-one-by-one-from-right {
    0% {
        right: -70px;
        opacity: 0;
    }
    50% {
        right: 0px;
        opacity: 1;
    }
    100% {
        right: 0px;
        opacity: 1;
    }
}

/*----------------------------One by one from right end-------------------------------*/


/*------------------------------ One by one fade -------------------------------------------------------------*/

.carousel-inner .qodef-slider-content .qodef-text.one_by_one.fade .qodef-el,
.carousel-inner .qodef-slider-content .qodef-slider-content-inner.one_by_one.fade{
    opacity: 0;
    filter: alpha(opacity = 0);
    position: relative;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.fade .qodef-el,
.carousel-inner .active .qodef-slider-content .qodef-slider-content-inner.one_by_one.fade{
    -webkit-animation: fade 0.6s cubic-bezier(0.500, 0.110, 0.805, 0.320)  0.1s;
    -moz-animation: fade 0.6s cubic-bezier(0.500, 0.110, 0.805, 0.320)  0.1s;
    -o-animation: fade 0.6s cubic-bezier(0.500, 0.110, 0.805, 0.320)  0.1s;
    animation: fade 0.6s cubic-bezier(0.500, 0.110, 0.805, 0.320) 0.1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    filter: alpha(opacity = 100);
    -webkit-transform: translateZ(0px);
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.fade .qodef-el:nth-child(2){
    animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.fade .qodef-el:nth-child(3){
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.fade .qodef-el:nth-child(4){
    animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.fade .qodef-el:nth-child(5){
    animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.fade .qodef-el:nth-child(6){
    animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.fade .qodef-el:nth-child(7){
    animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.fade .qodef-el:nth-child(8){
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.fade .qodef-el:nth-child(9){
    animation-delay:1.7s;
    -webkit-animation-delay:1.7s;
}

.carousel-inner .active .qodef-slider-content .qodef-text.one_by_one.fade .qodef-el:nth-child(10){
    animation-delay:1.8s;
    -webkit-animation-delay:1.8s;

}


/*----------------------------One by one fade end-------------------------------*/



/* if slide has thumbanail than set new animation delay times - start */

.carousel-inner .qodef-has-thumbnail.active .qodef-slider-content .qodef-text.one_by_one .qodef-el:nth-child(1){
    animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
}

.carousel-inner .qodef-has-thumbnail.active .qodef-slider-content .qodef-text.one_by_one .qodef-el:nth-child(2){
    animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
}

.carousel-inner .qodef-has-thumbnail.active .qodef-slider-content .qodef-text.one_by_one .qodef-el:nth-child(3){
    animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
}

.carousel-inner .qodef-has-thumbnail.active .qodef-slider-content .qodef-text.one_by_one .qodef-el:nth-child(4){
    animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
}

.carousel-inner .qodef-has-thumbnail.active .qodef-slider-content .qodef-text.one_by_one .qodef-el:nth-child(5){
    animation-delay:1s;
    -webkit-animation-delay:1s;
}

.carousel-inner .qodef-has-thumbnail.active .qodef-slider-content .qodef-text.one_by_one .qodef-el:nth-child(6){
    animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
}

.carousel-inner .qodef-has-thumbnail.active .qodef-slider-content .qodef-text.one_by_one .qodef-el:nth-child(7){
    animation-delay:1.4s;
    -webkit-animation-delay:1.4s;
}

.carousel-inner .qodef-has-thumbnail.active .qodef-slider-content .qodef-text.one_by_one .qodef-el:nth-child(8){
    animation-delay:1.6s;
    -webkit-animation-delay:1.6s;
}

.carousel-inner .qodef-has-thumbnail.active .qodef-slider-content .qodef-text.one_by_one .qodef-el:nth-child(9){
    animation-delay:1.8s;
    -webkit-animation-delay:1.8s;
}

.carousel-inner .qodef-has-thumbnail.active .qodef-slider-content .qodef-text.one_by_one .qodef-el:nth-child(10){
    animation-delay:2s;
    -webkit-animation-delay:2s;
}

/* if slide has thumbanail than set new animation delay times - end */

/* one by one element animation - end */

.carousel-inner .qodef-slider-content .qodef-el{
    width: 100%;
}

.carousel-inner .qodef-slider-content .qodef-el > div{
    display: inline-block;
    vertical-align: middle;
    width: inherit;
}

.carousel-inner .qodef-slider-content .qodef-slide-buttons-holder {
    display: inline-block;
    width:100%;
}

.carousel-inner .qodef-slider-content .qodef-slide-buttons-holder .qodef-btn {
    margin: 40px 8px 0;
    height:auto !important;
}

.carousel-inner .qodef-slider-content .qodef-slide-buttons-holder .qodef-btn.qodef-btn-solid:hover{
    color: #fff !important;
}

.carousel-inner .qodef-slider-content .qodef-slide-buttons-holder .qodef-btn.qodef-btn-solid{
    line-height:56px;
}

.carousel-inner .qodef-slider-content .qodef-slide-buttons-holder .qodef-btn.qodef-btn-default{
    color: #fff;
    line-height:52px;
    border-color: rgba(255,255,255,0.5);
}

.carousel-inner .qodef-slider-content .qodef-slide-buttons-holder .qodef-btn:first-child {
    margin-left: 0;
}

.carousel-inner .qodef-slider-content .qodef-slide-buttons-holder .qodef-btn:last-child {
    margin-right: 0;
}

.carousel-inner h2 {
    clear: both;
    font-size: 90px;
    line-height: 1.0777em;
    letter-spacing:0px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 22px;
}

.carousel-inner .item.dark  h2{
    color: #16171d;
    text-transform: none;
    font-size:52px;
    line-height:1.12em;
}

.carousel-inner .item.dark  h3.qodef-slide-text{
    color: #7a7a7a;
    font-size:18px;
    line-height:1.5;
}

.carousel-inner .item.dark h3.qodef-slide-subtitle{
    color: #16171d;
}

.item.dark .qodef-slider-content .qodef-slide-buttons-holder .qodef-btn.qodef-btn-default,
.item.dark .qodef-slider-content .qodef-slide-buttons-holder .qodef-btn.qodef-btn-default:hover,
.carousel-inner .item.dark .qodef-slider-content .qodef-slide-buttons-holder .qodef-btn.qodef-btn-default:hover{
    color: #8c8c8c;
    border-color: #8c8c8c;
}

.carousel-inner .item.dark .qodef-slider-content .qodef-slide-buttons-holder .qodef-btn.qodef-btn-solid:hover{
    color: #fff !important;
    border-color: #212121 !important;
}

.carousel-inner h2 a{
    font-family: inherit !important;
    font-size: inherit !important;
    font-style: inherit !important;
    font-weight: inherit !important;
    letter-spacing: inherit !important;
    line-height: inherit !important;
    text-transform: inherit !important;
}

.carousel-inner h2 span,
.carousel-inner h3 span{
    display: inline-block;
}

.carousel-inner h3.qodef-slide-subtitle{
    font-size:17px;
    font-weight:600;
    letter-spacing:0;
    color: #fff;
    background-color: rgba(255,255,255,0.2);
    line-height: 1.458em;
    padding:9px 20px;
    display:inline-block;
    border-left: 7px solid $first-main-color;
    margin: 0 0 20px;
}

.carousel-inner h3.qodef-slide-text{
    margin: 0;
    clear:both;
    color: #fff;
    font-size:24px;
    font-weight:500;
    letter-spacing:0;
    line-height: 1.458em;

}

.carousel-inner .left .qodef-text,
.carousel-inner .left h2,
.carousel-inner .left h3{
    text-align: left;
}

.carousel-inner .center .qodef-text,
.carousel-inner .center h2,
.carousel-inner .center h3{
    text-align: center;
}

.carousel-inner .right .qodef-text,
.carousel-inner .right h2,
.carousel-inner .right h3{
    text-align: right;
}

.carousel-inner {
    left: 0 !important;
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -moz-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -o-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    -ms-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.carousel-inner.qodef-relative-position,
.touch .carousel-inner{
    position: relative;
}

.carousel-inner .item img {
    display: inline-block !important;
}

.touch .carousel-inner .item {
    background-position: center 0px !important;
}

.carousel-inner .item .qodef-image{
    position: absolute;
    top: 0px;
    left: 0px;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110%;

}

/* animate image - start */
@include ipad-landscape-min {
    .carousel-inner .item.qodef-animate-image.zoom_center .qodef-image{
        position: absolute;
        top: 0%;
        left: 0%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 110%;
        -webkit-backface-visibility: hidden; /* to prevent glittering on slide change */
        backface-visibility: hidden;
    }

    .carousel-inner .item.qodef-animate-image.zoom_top_left .qodef-image,
    .carousel-inner .item.qodef-animate-image.zoom_top_right .qodef-image,
    .carousel-inner .item.qodef-animate-image.zoom_bottom_left .qodef-image,
    .carousel-inner .item.qodef-animate-image.zoom_bottom_right .qodef-image{
        position: absolute;
        top: -12%;
        left: -12%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 125%;
        height: 125%;
        -webkit-backface-visibility: hidden; /* to prevent glittering on slide change */
        backface-visibility: hidden;
    }
}

/* animate image - end */

.carousel-inner .item .qodef-image img{
    display: none !important;
    width: 0px;
    height: 0px;
}

.carousel-inner .item .qodef-image-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.carousel-control {
    top: 0px;
    width: 8%;
    height: 100%;
    text-shadow: none;
    position: absolute;
    z-index: 2 !important;
    margin: 0px;
    outline: none;
    cursor: pointer;
    -webkit-transition: opacity 0.15s ease-out;
    -moz-transition: opacity 0.15s ease-out;
    -o-transition: opacity 0.15s ease-out;
    -ms-transform: opacity 0.15s ease-out;
    transition: opacity 0.15s ease-out;
    -webkit-backface-visibility: hidden; /* because navigation is not visible during animation on chrome */
    -moz-backface-visibility: hidden; /* because navigation glitters in ff */
}

.carousel-control.right {
    right: 0;
    left: auto;
}

.carousel-control:hover{
    opacity: 1 !important;
}

.carousel-control .qodef-prev-nav,
.carousel-control .qodef-next-nav {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.35);
    text-align: center;
    z-index: 10;
    -webkit-transition: background-color 0.15s ease-out, color 0.15s ease-out, border-color 0.15s ease-out, left .4s ease-out, right .4s ease-out;
    transition: background-color 0.15s ease-out, color 0.15s ease-out, border-color 0.15s ease-out, left .4s ease-out, right .4s ease-out;
}

.carousel-control span span{
    display: block;
    line-height: inherit;
}

.carousel-control .qodef-prev-nav{
    left: 0;
    border-radius: 0 3px 3px 0;
}

.carousel-control .qodef-next-nav{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.qodef-slider-thumbs .left.carousel-control:hover .qodef-prev-nav {
    left: 70px;
}

.left.carousel-control:hover .qodef-thumb-holder {
    left: 0;
}

.qodef-slider-thumbs .right.carousel-control:hover .qodef-next-nav {
    right: 70px;
}

.right.carousel-control:hover .qodef-thumb-holder {
    right: 0;
}

/* thumb css - start */

.carousel-control .qodef-thumb-holder{
    width: 70px;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    @include qodefTransform(translateY(-50%));
    line-height: 0;
}

/*left arrow*/
.carousel-control.left .qodef-thumb-holder{
    left: -70px;
    -webkit-transition: left .4s ease-out;
    transition: left .4s ease-out;
}

/*right arrow*/
.carousel-control.right .qodef-thumb-holder{
    right: -70px;
    -webkit-transition: right .4s ease-out;
    transition: right .4s ease-out;
}

.carousel-control .qodef-thumb-holder .mejs-offscreen,
.carousel-control .qodef-thumb-holder .mejs-container .mejs-controls{
    display: none !important;
}

/* effect on hover enabled in responsive above 1000px */

.carousel-control .qodef-numbers{
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}

.carousel-control .qodef-numbers span{
    display: inline;
}

.carousel-control.left .qodef-thumb-arrow{
    float: left;
    padding: 0px 0px 0px 20px;
}

.carousel-control.left .qodef-numbers{
    float: right;
    padding: 0px 20px 0px 0px;
}

.carousel-control.right .qodef-thumb-arrow{
    float: right;
    padding: 0px 20px 0px 0px;
}

.carousel-control.right .qodef-numbers{
    float: left;
    padding: 0px 0px 0px 20px;
}

.carousel-control .qodef-prev-nav .qodef-numbers,
.carousel-control .qodef-next-nav .qodef-numbers {
    float: none;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    line-height: 50px;
    height: 50px;
    -ms-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

.carousel-control .img{
    clear: both;
    width: 70px;
    height: 70px;
    position: relative;
    display: block;
    overflow: hidden;
}

.qodef-thumb-holder .img img {
    vertical-align: middle;
    width: 70px;
    height: 70px;
}

/* thumb css - end */

.carousel-indicators:not(.thumbnails) li{
    vertical-align: middle;
    background-color: #fff;
    position:relative;
    opacity: 0.4;
    margin: 5px 7px;
    @include qodefTransform(scale(1));
    -webkit-transition: background-color 0.2s ease-out, border-color 0.2s ease-out, opacity 0.2s ease-out, transform 0.2s ease-out;
    -ms-transform: background-color 0.2s ease-out, border-color 0.2s ease-out, opacity 0.2s ease-out, transform 0.2s ease-out;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out, opacity 0.2s ease-out, transform 0.2s ease-out;
}

.carousel-indicators:not(.thumbnails) li:before{
    position:absolute;
    content: '';
    left: -5px;
    top: -5px;
    border-radius: 20px;
    border: 2px solid transparent;
    background-color: transparent;
    width: 16px;
    height: 16px;
    padding: 3px;
    opacity:1;
    -ms-transition: border 0.2s ease-out;
    -webkit-transition: border 0.2s ease-out;
    transition: border 0.2s ease-out;
}

.carousel-indicators:not(.thumbnails) li.active:before{
    border-color: #fff;
}

.carousel-indicators:not(.thumbnails) li.active{
    opacity: 1;
    @include qodefTransform(scale(0.8));
}

.carousel-indicators.thumbnails .active img{
    padding:5px;
    transition: padding 0.2s ease-out;
    -o-transition: padding 0.2s ease-out;
    -ms-transition: padding 0.2s ease-out;
    -moz-transition: padding 0.2s ease-out;
    -webkit-transition: padding 0.2s ease-out;
}
/* dark navigation start */

.qodef-dark-navigation .carousel-indicators:not(.thumbnails) li {
    background-color: #b2b2b2;
}

.qodef-dark-navigation .carousel-indicators:not(.thumbnails) li.active {
    background-color: #979797;
}

.qodef-dark-navigation .carousel-indicators:not(.thumbnails) li.active:before{
    border-color: #979797;
}

.qodef-dark-navigation .carousel-control .qodef-prev-nav,
.qodef-dark-navigation .carousel-control .qodef-next-nav{
    color: #fff;
    background-color:rgba(22,23,29,0.35);
}

/* dark navigation end */

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0;
    }
    50% {
        -webkit-transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0;
    }
    100% {
        -webkit-transform: perspective(600px) rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0;
    }
    50% {
        -moz-transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0;
    }
    100% {
        -moz-transform: perspective(600px) rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@-o-keyframes rotate {
    0% {
        -o-transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0.2;
    }
    50% {
        -o-transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0.2;
    }
    100% {
        -o-transform: perspective(600px) rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0;
    }
    50% {
        transform: perspective(600px) rotateX(90deg) scale(.5);
        opacity: 0;
    }
    100% {
        transform: perspective(600px) rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes text-from-bottom-one-by-one {
    0% {
        top: 70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@-moz-keyframes text-from-bottom-one-by-one {
    0% {
        top: 70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@-o-keyframes text-from-bottom-one-by-one {
    0% {
        top: 70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes text-from-bottom-one-by-one {
    0% {
        top: 70px;
        opacity: 0;
    }
    50% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

.carousel .qodef-video .qodef-mobile-video-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.carousel .qodef-video .qodef-video-overlay {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
}

.carousel .qodef-video .qodef-video-overlay.active {
    background-image: url("img/pixel-video.png");
    background-position: 0px 0px;
    background-repeat: repeat;
    opacity: 1;
}

.carousel .qodef-video .qodef-video-overlay img{
    display: none !important;
}

.carousel .qodef-video .qodef-video-wrap {
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.carousel .qodef-video .qodef-video-wrap .mejs-poster {
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    -o-background-size: cover !important;
}

.carousel .qodef-video .qodef-video-wrap .mejs-offscreen {
    display: none;
}

.carousel .qodef-video .qodef-video-wrap .mejs-container .mejs-controls {
    display: none !important;
}

.carousel .qodef-video .qodef-video-wrap .mejs-controls .mejs-button button:focus {
    outline: none !important;
}

.carousel .qodef-video .qodef-video-wrap .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background-color: rgba(255, 255, 255, 0.18) !important;
}

.carousel .qodef-video .qodef-video-wrap .mejs-container {
    background-color: transparent !important;
    background-image: none !important;
    height: auto !important;
}

.carousel .qodef-video .qodef-video-wrap .mejs-mediaelement{
    background: none !important;
    border: 0px !important;
}

.carousel .qodef-video .qodef-video-wrap .mejs-container .mejs-poster img {
    max-width: none !important;
    width: 100% !important;
}

.carousel .qodef-video .qodef-video-wrap .mejs-controls button { opacity: 0.8; }
.carousel .qodef-video .qodef-video-wrap .mejs-controls button:hover, .mejs-controls .mejs-fullscreen-button:hover button { opacity: 1!important;}

.carousel .qodef-video .qodef-video-wrap .mejs-controls .mejs-time-rail .mejs-time-total {
    background: #1f1f1f none repeat scroll 0 0 !important;
}

.carousel .qodef-video .qodef-video-wrap .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: transparent !important;
}

/* ==== Carousel Custom - End ==== */


/* ==========================================================================
   End of Qode slider styles
   ========================================================================== */