@media only screen and (max-width: $ipad-portrait) {
    .qodef-testimonials {
        &.cards_carousel {
            .qodef-testimonial-content {
                width: 100%;
                margin: 0 0 30px 0;
            }
        }
    }

    .qodef-testimonials-holder .owl-buttons {
        display: none;
    }

}

@include ipad-landscape {
    .qodef-testimonials {
        &.standard_carousel {
            .owl-controls {
                bottom: -40px;
            }
        }
    }
}

@include ipad-portrait {
    .qodef-testimonials {
        &.standard_carousel {
            .qodef-testimonial-image-holder {
                display: block;
                width: 100%;
                text-align: center;
                margin-bottom: 40px;
            }
            .qodef-testimonial-text-holder {
                display: block;
                width: 100%;
                padding: 0;
                text-align: center;
            }
            .owl-controls {
                position: initial;
                padding: 0;
                margin-top: 40px;
                .owl-pagination {
                    text-align: center;
                }
            }
        }
    }
}