/* ==========================================================================
# Testimonial style - begin
========================================================================== */
.qodef-testimonials{

    &.cards_carousel {

        .owl-item.active {

            .qodef-testimonial-content {
                opacity: 1;
            }

        }

        .qodef-testimonial-content {
            display: inline-block;
            width: 32.4%;
            @include qodefBoxSizing(border-box);
            float: left;
            margin: 0 0.7%;
            opacity: 0;
            @include qodefTransition(opacity 0.3s ease-in);
        }

        .qodef-testimonial-content:nth-child(1) {
            transition-delay: 0.1s;
        }

        .qodef-testimonial-content:nth-child(2) {
            transition-delay: 0.25s;
        }

        .qodef-testimonial-content:nth-child(3) {
            transition-delay: 0.4s;
        }

        .qodef-testimonial-content:first-child {
            margin-left: 0;
        }

        .qodef-testimonial-content:last-child {
            margin-right: 0;
        }

        .qodef-testimonial-text-holder {
            position: relative;
            display: block;

            .qodef-testimonial-text-inner {
                display: block;
                text-align: left;
                padding: 23px 35px 40px;
                background-color: rgba(255, 255, 255, 0.35);
                @include qodefBorderRadiusPredefined();
            }

            .qodef-testimonial-text-inner:after {
                content: "";
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-top: 12px solid rgba(255, 255, 255, 0.35);
                position: absolute;
                top: 100%;
                left: 44px;
            }
        }

        .qodef-testimonial-text {
            font-size: 14px;
            line-height: 1.71em;
            font-weight: 500;
            color: #fff;
        }

        .qodef-testimonial-title {
            font-size: 19px;
            line-height: 1.6em;
            font-weight: 600;
            color: #fff;
            margin-bottom: 10px;
        }

        .qodef-testimonial-info-holder {
            display: table;
            table-layout: fixed;
            width: 100%;
            margin: 40px 0 0 35px;
        }

        /* Testimonials image  styles */

        .qodef-testimonial-image-holder {
            text-align: center;
            display: table-cell;
            height: 100%;
            vertical-align: middle;
            line-height: 0;
            width: 56px;

            img {
                max-width: 56px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }
        }

        .qodef-testimonial-author {
            display: table-cell;
            height: 100%;
            vertical-align: middle;
        }

        .qodef-testimonial-author-text {
            font-size: 16px;
            line-height: 19px;
            font-weight: 700;
            margin-left: 20px;
            color: #fff;

            span {
                display: block;
            }

            .qodef-testimonials-job {
                font-weight: 500;
            }
        }

        &.filled {
            .qodef-testimonial-text-holder {
                .qodef-testimonial-text-inner {
                    background-color: $first-main-color;
                }

                .qodef-testimonial-text-inner:after {
                    border-top: 12px solid $first-main-color;
                }
            }

            .qodef-testimonial-author-text {
                color: #797979;
            }
        }

        &.filled ~ .owl-buttons {
            .qodef-prev-icon,
            .qodef-next-icon {
                background-color: rgba(33, 33, 33, 0.35);
            }

            .qodef-prev-icon:hover,
            .qodef-next-icon:hover {
                background-color: rgba(33, 33, 33, 0.35);
            }
        }

        &.dark {
            .qodef-testimonial-text-holder {
                .qodef-testimonial-text-inner {
                    background-color: #fff;
                }
                .qodef-testimonial-text-inner:after {
                    border-top: 12px solid #fff;
                }
            }
            .qodef-testimonial-title {
                color: #242424;
            }
            .qodef-testimonial-text {
                color: #7c7c7c;
            }
            .qodef-testimonial-author-text {
                color: #7c7c7c;
            }
            .qodef-testimonials-job {
                color: $first-main-color;
            }
        }
    }

    &.standard_carousel {
        .qodef-testimonial-content-inner {
            @include qodefTableLayout();
        }
        .qodef-testimonial-image-holder {
            @include qodefTableCellLayout();
            width: 30%;
            text-align: left;
            line-height: 0;
        }
        .qodef-testimonial-text-holder {
            @include qodefTableCellLayout();
            width: 70%;
            text-align: left;
            padding-left: 40px;
        }

        .qodef-testimonial-author {
            margin-bottom: 10px;
        }

        .qodef-testimonial-title {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .owl-controls {
            position: absolute;
            left: 30%;
            bottom: 30px;
            padding-left: 40px;
            .owl-pagination {
                text-align: left;
            }
        }
    }
}

.qodef-testimonials-holder {

    .owl-buttons {

        width: 100%;

        .owl-prev {
            position: absolute;
            top: 50%;
            @include qodefTransform(translateY(-50%));
            left: 15px;
            cursor: pointer;
        }

        .owl-next {
            position: absolute;
            top: 50%;
            @include qodefTransform(translateY(-50%));
            right: 15px;
            cursor: pointer;
        }

        .qodef-prev-icon,
        .qodef-next-icon {
            display: inline-block;
            width: 66px;
            height: 66px;
            @include qodefBorderRadiusPredefined();
            @include qodefTransition(background-color 0.2s ease-out);
            background-color: rgba(255,255,255,0.35);
            text-align: center;

            i {
                font-size: 20px;
                line-height: 66px;
                color: #fff;
            }

        }

        .qodef-prev-icon {
            @include qodefBorderRadius(0 3px 3px 0);
        }

        .qodef-next-icon {
            @include qodefBorderRadius(3px 0 0 3px);
        }

        .qodef-prev-icon:hover,
        .qodef-next-icon:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }

    }

    .owl-pagination {
        text-align: center;

        .owl-page {
            display: inline-block;
        }

        .owl-page span {
            display: inline-block;
            width: 11px;
            height: 11px;
            margin: 0 5px;
            background-color: #d2d3d5;
            position: relative;
            @include qodefBorderRadius(20px);
            @include qodefTransform(scale(1));
            @include qodefTransition(background-color .2s ease-out, transform .2s ease-out);
            &:before {
                position: absolute;
                content: '';
                left: -5px;
                top: -5px;
                border-radius: 20px;
                border: 2px solid transparent;
                background-color: transparent;
                width: 11px;
                height: 11px;
                padding: 3px;
                @include qodefTransition(border-color .2s ease-out);
            }
        }

        .owl-page.active span {
            background-color: $first-main-color;
            @include qodefTransform(scale(0.8));
            &:before {
                border-color: $first-main-color;
            }
        }

    }

}

/* ==========================================================================
# Testimonial style - end
========================================================================== */

